<div class="legend">
  <h4 class="title is-4">Pull Request States</h4>

  <div>
    <div class="icon-name">
      <%= render partial: 'users/show/timeline/boxes/pending' %>
      <p>Pending</p>
    </div>
    <p>We're waiting for you to reach four or more pull requests, or your PR is currently maturing in the
      review period.</p>
  </div>

  <div>
    <div class="icon-name">
      <%= render partial: 'users/show/timeline/boxes/ineligible' %>
      <p>Invalid</p>
    </div>
    <p>Your PR has been labeled as "invalid" by a maintainer and won't count toward winning Hacktoberfest.</p>
  </div>

  <div>
    <div class="icon-name">
      <%= render partial: 'users/show/timeline/boxes/spammy' %>
      <p>Spam Repository</p>
    </div>
    <p>Your PR was submitted to a repository that we've excluded from Hacktoberfest as it doesn't align with our core values.</p>
  </div>

  <div>
    <div class="icon-name">
      <%= render partial: 'users/show/timeline/boxes/eligible' %>
      <p>Eligible</p>
    </div>
    <p>Good job! Your PR has passed the review period and is counting toward you winning Hacktoberfest.</p>
  </div>
</div>
