---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/import
    body:
      encoding: UTF-8
      string: '{"sentAt":"2019-09-16T13:22:37.345-04:00","batch":[{"userId":62,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{},"options":null,"timestamp":"2019-09-16T13:22:37.345-04:00","type":"identify","messageId":"1a8cf4b1-0bc2-48ed-a4f9-99fbbde2e5bb"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWw3czVyTVl0T3doWUNZMDBTcnIzMTYzWkZmR2N5ZVQ6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Mon, 16 Sep 2019 17:22:37 GMT
recorded_with: VCR 5.0.0
