---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($nodeId:ID!){\n  node(id:$nodeId) {\n    ... on User
        {\n      pullRequests(states: [OPEN, MERGED, CLOSED] last: 100) {\n        nodes
        {\n          id\n          title\n          body\n          url\n          createdAt\n          repository{\n            databaseId\n          }\n          labels(first:
        100) {\n            edges {\n              node {\n                name\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"nodeId":"MDQ6VXNlcjMxMzcwNA=="}}'
    headers:
      Authorization:
      - bearer <TEST_USER_GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 2a86dccabd1ede1c7b03
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1569886512'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"node":{"pullRequests":{"nodes":[{"id":"MDExOlB1bGxSZXF1ZXN0ODk4ODEzNQ==","title":"change
        signature check","body":"is my PR is good ?\n","url":"https://github.com/lexik/LexikPayboxBundle/pull/16","createdAt":"2013-10-10T12:55:36Z","repository":{"databaseId":6176813},"labels":{"edges":[]}},{"id":"MDExOlB1bGxSZXF1ZXN0MTAxNzEzNTI=","title":"Fix
        bug https://github.com/sonata-project/SonataMediaBundle/issues/430","body":"","url":"https://github.com/sonata-project/SonataMediaBundle/pull/440","createdAt":"2013-11-21T14:26:22Z","repository":{"databaseId":1059291},"labels":{"edges":[]}},{"id":"MDExOlB1bGxSZXF1ZXN0MTQ5MTYzNzc=","title":"Update
        PackageInterface.php","body":"found a typo\n","url":"https://github.com/symfony/symfony/pull/10736","createdAt":"2014-04-18T11:[...]
