---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($nodeId:ID!){\n  node(id:$nodeId) {\n    ... on User
        {\n      pullRequests(states: [OPEN, MERGED, CLOSED] last: 100) {\n        nodes
        {\n          id\n          title\n          body\n          url\n          createdAt\n          repository{\n            databaseId\n          }\n          labels(first:
        100) {\n            edges {\n              node {\n                name\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"nodeId":"MDQ6VXNlcjc5NzY3NTc="}}'
    headers:
      Authorization:
      - bearer <TEST_TEST_USER_GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1572628545'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"node":{"pullRequests":{"nodes":[{"id":"MDExOlB1bGxSZXF1ZXN0MzIxMDEzNjE5","title":"WIP","body":"Test","url":"https://github.com/jhaff/dotfiles/pull/1","createdAt":"2019-09-25T00:30:54Z","repository":{"databaseId":176804829},"labels":{"edges":[]}},{"id":"MDExOlB1bGxSZXF1ZXN0MzIxOTAyMDc1","title":"test
        commit","body":"test description","url":"https://github.com/raise-dev/hacktoberfest-test/pull/1","createdAt":"2019-09-26T20:50:42Z","repository":{"databaseId":211178535},"labels":{"edges":[]}},{"id":"MDExOlB1bGxSZXF1ZXN0MzIyNTQxNzE2","title":"Second
        test PR","body":"Pretty cool","url":"https://github.com/raise-dev/hacktoberfest-test/pull/7","createdAt":"2019-09-29T21:14:54Z","repository":{"databaseId":211178535},"labels"[...]
