---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/identify
    body:
      encoding: UTF-8
      string: '{"type":"identify","traits":{},"userId":388}'
    headers:
      Authorization:
      - Basic 5l7s5rMYtOwhYCY00Srr3163ZFfGcyeT
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Wed, 18 Sep 2019 15:49:24 GMT
- request:
    method: post
    uri: https://api.segment.io/v1/identify
    body:
      encoding: UTF-8
      string: '{"type":"identify","traits":{"pull_requests_count":0},"userId":388}'
    headers:
      Authorization:
      - Basic 5l7s5rMYtOwhYCY00Srr3163ZFfGcyeT
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Wed, 18 Sep 2019 15:49:25 GMT
recorded_with: VCR 5.0.0
