<div class=level>
  <div class="congratulations-txt">
    <div class="congrats-wrapper">
      <div class="congrats-text">
        <h1 class="title is-1">Congratulations!</h1>
        <h3 class="title is-3">You completed Hacktoberfest 2020.</h3>
        <p>To redeem your prize, please visit the unique URL below.</p>
        <p>Remember, this link is only for you. So please don't share it with anyone!</p>
        <p>After completing the form, you'll receive an email confirmation about your reward choice.
          While participants who’ve been awarded a tree can plant their tree within the next 1-2 weeks, T-shirts may take up to 12 weeks for delivery.</p>
      </div>
      <div class="parrot-image">
        <%= image_tag 'parrot.png' %>
      </div>
    </div>
    <div class="coupon-box">
      <div class="code-textarea">
        <label for="winner-code" class="is-sr-only">Prize URL</label>
        <input type="text" id="winner-code" value="https://stores.kotisdesign.com/hacktoberfest/<%= code %>" readonly/>
        <button class="button-static code-button" id="copy-winner-code" onclick="copyCodeToClipboard()">Copy</button>
        <a href="https://stores.kotisdesign.com/hacktoberfest/<%= code %>" target="_blank" class="button-static code-button">Open</a>
      </div>
    </div>
  </div>
</div>
