  <div class=level>
    <div class="congratulations-txt">
      <h1 class="title is-1">Congratulations</h1>
      <h3 class="title is-3">You completed Hacktoberfest 2019.</h3>
      <p>To redeem your prize visit URL and use</p>
      <p>the following unique code. After completing the</p>
      <p>form, please be patient until you receive a</p>
      <p>shipping confirmation via your email</p>
      <div class="icon-box">
        <div class="code-textarea box" name="name"><a href="http://do.co/somecodetocome">do.co/somecodetocome</a></div> <a class="button code-button" name="copy-code">Copy</a>
      </div>
    </div>
      <div>
        <%= image_tag 'parrot'%>
      </div>
  </div>
