  <div class=level>
    <div class="congratulations-txt">
      <h1 class="title is-1">Congratulations</h1>
      <h3 class="title is-3">You completed Hacktoberfest 2019.</h3>
      <p>To redeem your prize visit URL and use</p>
      <p>the following unique code. After completing the</p>
      <p>form, please be patient until you receive a</p>
      <p>shipping confirmation via your email</p>
      <div class="coupon-box">
        <div class="code-textarea box"><input type="text" id="winner-code" value="https://stores.kotisdesign.com/<%= code %>" /></div> <button class="button code-button" id="copy-winner-code"  onclick="copyCodeToClipboard()">Copy</button>
      </div>
    </div>
      <div>
        <%= image_tag 'parrot'%>
      </div>
  </div>
