<div class="hacktoberfest-winner">
  <h1>Congratulations</h1>
  <h3>You completed Hacktoberfest 2019</h3>
  <p>To redeem your prize visit URL and use the following unique code.
    After completing the form, please be patient until you receive a
    shipping confirmation via your email</p>
    <div>
      <%= image_tag 'parrot' %>
    </div>
</div>
