<div class="hacktoberfest-winner">
  <div class=level>
    <div class="">
      <h1 class="title is-1">Congratulations</h1>
      <h3 class="title is-3">You completed Hacktoberfest 2019.</h3>
      <p>To redeem your prize visit URL and use</p>
      <p>the following unique code. After completing the</p>
      <p>form, please be patient until you receive a</p>
      <p>shipping confirmation via your email</p>
      <input type="text" class="input" value="somcodelknsdflknvf" /><input class="button" type="copy" name="copy-code" value="Copy" />
    </div>
      <div>
        <%= image_tag 'parrot'%>
      </div>
  </div>
</div>
