<div class="container box">
  <div class="container  pre-launch-container" >
    <h2 class='title is-2'>We'll begin counting your contributions starting
    <span class="highlight"> October 1st.</span>
     See you soon! </h2>
  </div>
</div>
