<div class="pre-launch-container" >
  <h2 class='title is-2'>We'll begin counting your</h2><h2 class='title is-2'> contributions starting</h2>
  <h2 class="highlight"> October 1st.</h2>
  <h2 class='title is-2'> See you soon! </h2>
</div>
