<div class="progress-bar progress-state-<%= score %>">
  <div class="progress-block"></div>
  <div class="progress-block"></div>
  <div class="progress-block"></div>
  <div class="progress-block"></div>
</div>
