<div class="pr-score"><%= score %> of 4 pull requests</div>
<div class="progress-bar progress-state-<%= score %>">
  <div class="progress-block"></div>
  <div class="progress-block"></div>
  <div class="progress-block"></div>
  <div class="progress-block"></div>
</div>
