<div class=level>
  <div class="congratulations-txt">
    <div class="congrats-wrapper">
      <div class="congrats-text">
        <h1 class="title thanks-text">Thank you for your contributions!</h1>
	    <h3 class="title is-3">This marks the end of Hacktoberfest 2020.</h3>
	    <p>Please come back next year to contribute to #Hacktoberfest2020</p>
      </div>
      <div class="parrot-image">
        <%= image_tag 'parrot.png' %>
      </div>
    </div>
  </div>
</div>
