<div class="timeline-container">
  <% unless scoring_pull_requests.empty? %>
    <h3 class="title is-3">Your contributions</h3><br/>
    <table class="is-narrow is-fullwidth">
      <tbody>
        <% scoring_pull_requests.map do |pr| %>
          <%= render partial: 'users/show/pr/pr', locals: { pr: pr } %>
        <% end %>

        <% if show_timer %>
          <tr>
            <td colspan="2">
              <div class="winning-msg-cont">
                <h2 class="winning-title">You're almost there!</h2>
                <span class="winning-desc">🎉 You’ve submitted the four required PRs for the Hacktoberfest challenge! So long as your PRs successfully pass the review period, they’ll become valid in — which means you’ll have officially completed this year’s challenge!</span>
              </div>
            </td>
          </tr>
        <% end %>

        <% if show_congratulations %>
          <tr>
            <td colspan="2">
              <div class="winning-msg-cont">
                <h2 class="winning-title">You did it! 🎉</h2>
                <span class="winning-desc">You've made four eligible PRs for Hacktoberfest — which means you officially completed this year’s challenge!</span>
              </div>
            </td>
          </tr>
        <% end %>

        <% if non_scoring_pull_requests.any? %>
          <% non_scoring_pull_requests.map do |pr| %>
            <%= render partial: 'users/show/pr/pr', locals: { pr: pr } %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="legend has-text-white">
      <h4 class="title is-4">Legend</h4>
      <div class="legend-container">
        <div class="icon-box">
          <div class="pending-box">
          </div>
        </div>
        <div class="icon-name-desc">
          <div class="icon-name">
            Pending
          </div>
          <div class="icon-desc">
            Your PR is currently within the review period, which lasts for seven days.
          </div>
        </div>
      </div>
      <div class="legend-container">
        <div class="icon-box">
          <div class="invalid-box">
          </div>
        </div>
        <div class="icon-name-desc">
          <div class="icon-name">
            Invalid
          </div>
          <div class="icon-desc">
            Your PR has been labeled as "invalid" or "spam" by a maintainer and won't count toward winning Hacktoberfest.
          </div>
        </div>
      </div>
      <div class="legend-container">
        <div class="icon-box">
          <div class="spammy-box">
          </div>
        </div>
        <div class="icon-name-desc">
          <div class="icon-name">
            Ineligible Repository
          </div>
          <div class="icon-desc">
            Your PR was submitted to a repository that we've excluded from Hacktoberfest as it doesn't align with our core values.
          </div>
        </div>
      </div>
      <div class="legend-container">
        <div class="icon-box">
          <div class="eligible-box">
          </div>
        </div>
        <div class="icon-name-desc">
          <div class="icon-name">
            Eligible
          </div>
          <div class="icon-desc">
            Good job! Your PR has passed the review period and counts toward completing the Hacktoberfest challenge!
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
