<div class=level>
  <div class="congratulations-txt">
    <div class="congrats-wrapper">
      <div class="congrats-text">
        <h1 class="title thanks-text">Thank you for your contributions!</h1>
        <h3 class="title is-3">You've successfully completed Hacktoberfest 2020.</h3>
        <p>
          All of this year's prizes have been awarded (the first 75,000 participants to complete the challenge were given awards this year),
          <em>but</em> we'll plant a tree for the next 25,000 folks who complete this year's challenge. We hope you'll continue to celebrate 
          your achievement, and look forward to seeing your contributions next year!
        </p>
      </div>
      <div class="parrot-image">
        <%= image_tag 'parrot.png' %>
      </div>
    </div>
  </div>
</div>  