<div class=level>
  <div class="congratulations-txt">
    <div class="congrats-wrapper">
      <div class="congrats-text">
        <h1 class="title thanks-text">Thank you for your contributions!</h1>
        <h3 class="title is-3">You've successfully completed Hacktoberfest 2019!</h3>
        <p>
          Since we're all out of T-shirts (the first 50,000 participants to complete the challenge were awarded shirts this
          year), <span class="highlight">we'll be sending you some limited edition stickers as a reward and thank you for
          your participation!</span>
        </p>
        <p>
          In the meantime, we hope you'll celebrate your achievement. (We certainly are!) And we look forward to seeing your
          contributions during #Hacktoberfest2020!
        </p>
      </div>
      <div class="parrot-image">
        <%= image_tag 'parrot.png' %>
      </div>
    </div>
  </div>
</div>  