<div class=level>
  <div class="congratulations-txt">
    <div class="congrats-wrapper">
      <div class="congrats-text">
        <h1 class="title thanks-text">Thank you for your contributions!</h1>
        <p>While Hacktoberfest 2020 has officially come to an end, any pull requests that are in review can still count 
        toward completing the challenge once they become eligible.
        We hope you’ll come back next year and contribute to #Hacktoberfest2021!
        </p>
      </div>
      <div class="parrot-image">
        <%= image_tag 'parrot.png' %>
      </div>
    </div>
  </div>
</div>
