<div class=level>
  <div class="congratulations-txt">
    <h1 class="title thanks-text">Thank you for your contributions!</h1>
    <h3 class="title is-3">You have successfully completed Hacktoberfest 2019.</h3>
    <p>It looks like we don't have any swag to give you currently, we're really sorry about that.</p>
    <p>Please come back next year to contribute to #Hacktoberfest2020</p>
  </div>
  <div>
    <%= image_tag 'parrot.png' %>
  </div>
</div>
