<div class=level>
  <div class="congratulations-txt">
    <h1 class="title thanks-text">Thank you for your contributions!</h1>
    <h3 class="title is-3">You have successfully completed Hacktoberfest 2019.</h3>
    <p>
      Hang tight, we’ll email you details about collecting your Hacktoberfest
      swag around October 17th.
    </p>
  </div>
  <div>
    <%= image_tag 'parrot.png' %>
  </div>
</div>
