<div class=level>
  <div class="congratulations-txt">
    <h1 class="title is-1">Thank you for your contributions!</h1>
    <h3 class="title is-3">You have successfully completed Hacktoberfest 2019.</h3>
    <p>
      Hang tight, you will receive instructions on how to collect your swag
  within a few days.
    </p>
  </div>
  <div>
    <%= image_tag 'parrot' %>
  </div>
</div>
