<div class=level>
  <div class="congratulations-txt">
    <div class="congrats-wrapper">
      <div class="congrats-text">
        <h1 class="title thanks-text">Thank you for your contributions!</h1>
        <h3 class="title is-3">You've successfully completed Hacktoberfest 2020!</h3>
        <p>
          Though we are all out of T-shirts (the first 70,000 participants to complete the challenge were awarded shirts this
          year), we hope you'll continue to celebrate your achievement! And we look forward to seeing your
          contributions during #Hacktoberfest2021!
        </p>
      </div>
      <div class="parrot-image">
        <%= image_tag 'parrot.png' %>
      </div>
    </div>
  </div>
</div>  