<div class="section">
  <div class="container">
    <h3 class="title is-3">
      Redirecting you to GitHub...
    </h3>
    <p>
      If for some reason you are not automatically redirected, click here: <br/><br />
      <%= button_to 'Sign in with GitHub', '/auth/github',
          id: 'github-sign-in', class: 'button-static', method: :post %>
    </p>
  </div>
  <%= javascript_tag '$(function(){ $("#github-sign-in").click(); });' %>
</div>