---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($username:String!) {\n  user(login: $username) {\n    pullRequests(states:
        OPEN last: 100) {\n      nodes {\n        id\n        title\n        body\n        url\n        createdAt\n        labels(first:
        100) {\n          edges {\n            node {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"username":"Testerson
        McTest"}}'
    headers:
      Authorization:
      - bearer dd95dc6b0d27c4bd65f771776fa6d37b3cad0336
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1568323463'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v4"}'
  recorded_at: Thu, 12 Sep 2019 20:24:23 GMT
recorded_with: VCR 5.0.0
