---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/app64BSrmnmi11kBF/Spam%20Repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer keyXZo7XVNxc3qFVT
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16dd-+CmlCjejdOfdCM+VDTuu8xbdaXI"
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"id":"rec3Hnfb6Z4OoybiR","fields":{"Repo ID":"106163054","Repo
        Link":"https://github.com/Cutwell/Hacktoberfest-Census","Verified?":true},"createdTime":"2019-10-01T10:05:23.000Z"},{"id":"rec3IZTClm6OGUogE","fields":{"Repo
        ID":"105499173","Repo Link":"https://github.com/Nguyen17/Hacktoberfest-Sign-In","Verified?":true},"createdTime":"2019-10-01T10:06:44.000Z"},{"id":"rec3KuulgZm9r5c6W","fields":{"Repo
        ID":"152433556","Repo Link":"https://github.com/Dhroov7/Hacktoberfest2019","Verified?":true,"Second
        Review?":true,"Notes":"Reviewed by Daniel. https://hacktoberfest.freshdesk.com/a/tickets/4629"},"createdTime":"2019-09-03T17:49:21.000Z"},{"id":"rec5W89OYEOg1sXB1","fields":{"Repo
        ID":"105825987","Repo Link":"https://github.com/AliceWonderland/hacktoberfest","Verified?":true},"createdTime":"2019-09-03T17:49:21.000Z"},{"id":"rec7sckgK4UEpJ9Vr","fields":{"Repo
        Link":"https://github.com/carbon-design-system/carbon-tutorial-vue","Repo
        ID":"195553456","Verified?":true,"Notes":"By request from IBM v[...]
