---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/app64BSrmnmi11kBF/Spam%20Repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer keyXZo7XVNxc3qFVT
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ec-meVeSsqhx2lbXfuM+jKUeRFSwm0"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"rec3KuulgZm9r5c6W","fields":{"Repo Link":"https://github.com/Dhroov7/HacktoberFest2019","Repo
        ID":"152433556"},"createdTime":"2019-09-03T17:49:21.000Z"},{"id":"rec5W89OYEOg1sXB1","fields":{"Repo
        ID":"105825987","Repo Link":"https://github.com/AliceWonderland/hacktoberfest"},"createdTime":"2019-09-03T17:49:21.000Z"},{"id":"recMSDhlGDMzVAbXS","fields":{"Repo
        ID":"211158925","Repo Link":"https://github.com/bolorundurovj/Hacktoberfest_SignIn_2019"},"createdTime":"2019-09-30T19:33:04.000Z"},{"id":"recTn52jTKxNchDIT","fields":{"Repo
        ID":"206600482","Repo Link":"https://github.com/ambujraj/hacktoberfest2019"},"createdTime":"2019-09-30T19:32:26.000Z"},{"id":"recmgdtpI6IWXaeTw","fields":{"Repo
        Link":"https://github.com/ambujraj/hacktoberfest2018","Repo ID":"127184470"},"createdTime":"2019-09-03T17:49:25.000Z"},{"id":"recrbE1DenKJOxdWy","fields":{"Repo
        ID":"151148643","Repo Link":"https://github.com/s-bridges/Hacktoberfest-Sign-In-2019"},"createdTime":"2019-09-03T17:49:21.000Z"}]}'
  recorded_at: Tue, 01 Oct 2019 02:50:13 GMT
recorded_with: VCR 5.0.0
