---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($username:String!) {\n  user(login: $username) {\n    pullRequests(states:
        OPEN last: 100) {\n      nodes {\n        id\n        title\n        body\n        url\n        createdAt\n        labels(first:
        100) {\n          edges {\n            node {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"username":"mkcode"}}'
    headers:
      Authorization:
      - bearer <TEST_USER_GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - admin:public_key
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1569258481'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"pullRequests":{"nodes":[{"id":"MDExOlB1bGxSZXF1ZXN0NTc5MDc4Mg==","title":"Upgraded
        to rails 3.2 stable","body":"Hi, I''m using this app as template for a new
        project. Wanted to get on rails 3.2 stable before I started. Here it is!\n\nCheers\n","url":"https://github.com/maccman/spine.rails3/pull/6","createdAt":"2013-05-17T23:05:41Z","labels":{"edges":[]}},{"id":"MDExOlB1bGxSZXF1ZXN0NDcxMDUxNzU=","title":"Delete
        repos cleanup","body":"@PeterDaveHello - Thanks for your contribution. I''m
        using this work as an opportunity to clean up how we are doing testing in
        this app. I see that you basically copied the format from the create_repos
        spec - which was a good move.\n\nAfter reworking this so I can understand
        what is happening in https://github.com/education/teachers_pet/commit/be8a8b1ddb3a8ef79a88f53f6bd05[...]
