---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/import
    body:
      encoding: UTF-8
      string: '{"sentAt":"2019-09-13T16:13:41.453-04:00","batch":[{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{"pull_requests_count":0},"options":null,"timestamp":"2019-09-13T16:13:41.092-04:00","type":"identify","messageId":"8089a0c2-d14a-420b-874a-1635ebf34dff"},{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{"email":"test@mail.com","marketing_emails":false,"state":"register"},"options":null,"timestamp":"2019-09-13T16:13:41.092-04:00","type":"identify","messageId":"2f4deda5-2e7b-4cdb-aa79-f02f06b52d49"},{"event":"register","userId":1,"anonymousId":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"options":null,"integrations":null,"properties":{},"timestamp":"2019-09-13T16:13:41.092-04:00","type":"track","messageId":"b4f62230-2cbb-4dbe-ab01-08e3b2faa2a9"},{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{"pull_requests_count":0},"options":null,"timestamp":"2019-09-13T16:13:41.125-04:00","type":"identify","messageId":"fae0c293-4d04-4005-8a49-5898c43c73a3"},{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","versio[...]
