<div class="container">
  <h3 id="beginners">
    <a href="#beginners">Beginners</a>
  </h3>
  <hr/>
  <p>If you’re new to open source (which everyone was once!), you can take a look at the
    <a href="https://www.digitalocean.com/community/tutorial_series/an-introduction-to-open-source">Introduction to Open
      Source</a> tutorial series.</p>
  <p>To make your first contribution, it’s required to familiarize yourself with how to create a pull request.</p>
  <div class="beginners-video">
    <script src="https://fast.wistia.com/embed/medias/u8up7h2m32.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_u8up7h2m32 videoFoam=true" style="height:100%;position:relative;width:100%">
          <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
            <img src="https://fast.wistia.com/embed/medias/u8up7h2m32/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
    The following resources share repositories that curate tasks for
    beginners:
  </p>
  <ul>
    <li>
      <a href="https://github.com/mungell/awesome-for-beginners">
        Awesome for Beginners
      </a>
    </li>
    <li>
      <a href="https://up-for-grabs.net/#/">Up For Grabs</a>
    </li>
    <li>
      <a href="http://issuehub.io/">Issuehub.io</a>
    </li>
    <li>
      <a href="https://www.firsttimersonly.com/">First Timers Only</a>
    </li>
    <li>
      <a href="https://goodfirstissues.com/">Good First Issues</a>
    </li>
  </ul>

  <p>
    Once you start feeling more comfortable, you can find more open source
    projects that can use your help through the following programs:
  </p>
  <ul>
    <li>
      <a href="https://www.codetriage.com/">CodeTriage</a>
    </li>
    <li>
      <a href="https://24pullrequests.com/">24 Pull Requests</a> (like
      Hacktoberfest, but in December)
    </li>
  </ul>

  <p>
    <a href="https://opensource.guide/how-to-contribute/">
      Visit this guide to find out more about how you can contribute to
      open source.
    </a>
  </p>

  <p>More resources: </p>
  <ul>
    <li>
      <a href="https://github.github.com/training-kit/">
        GitHub Training Kit
      </a>
    </li>
    <li>
      <a href="https://guides.github.com/introduction/flow/">
        Understanding the GitHub Flow
      </a>
    </li>
    <li>
      An
      <a href="https://dev.to/cockroachlabs/an-absolute-beginner-s-checklist-for-hacktoberfest-p2k">Absolute Beginner’s
        Checklist</a> for Hacktoberfest
    </li>
    <li>
      <a href="https://opensource.com/article/19/5/how-get-job-doing-open-source">
        How open source contributions can boost your career
      </a>
    </li>
    <li>
      <a href="https://www.digitalocean.com/community/tutorials/hacktoberfest-contributor-s-guide-how-to-find-and-contribute-to-open-source-projects">
        Contributor’s Guide
      </a>
      to Open Source Projects
    </li>
    <li>
      <a href="https://dev.to/chrissiemhrk/git-commit-message-5e21">
        How to write a good commit message
      </a>
    </li>
    <li>
      <a href="https://desktop.github.com/">Github Desktop</a>
    </li>
    <li>
      <a href="https://discord.gg/hacktoberfest">
        Community help in our Hacktoberfest Discord server
      </a>
    </li>
  </ul>
</div>
