<div class="container">
  <p>If you’re new to open source (everyone was once!),
    take a look at our </p> <a href="https://www.digitalocean.com/community/tutorial_series/an-introduction-to-open-source">Introduction to Open Source series.</a>
  <p>Before you make your first contribution, you should
    familiarize yourself with
  <a href="https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github">
    How To Create a Pull Request</a>.</p>
  <p>The following resources share repositories that curate tasks for beginners:</p>
  <p> <span class="highlight">*</span> <a href="https://up-for-grabs.net/#/"> Up For Grabs</a> </p>
  <p> <span class="highlight">*</span> <a href="http://issuehub.io/"> Issuehub.io</a> </p>
  <p> <span class="highlight">*</span> <a href="https://www.firsttimersonly.com/"> First Timers Only</a> </p>
  <p> <span class="highlight">*</span> <a href="http://yourfirstpr.github.io/"> Your First PR</a> </p>
  <p> <span class="highlight">*</span> <a href="https://github.com/mungell/awesome-for-beginners"> Awesome for Beginners</a> </p>
  <p>Once you start feeling more comfortable, you can find more open source
    projects through the following programs: </p>
    <p> <span class="highlight">*</span> <a href="http://www.pullrequestroulette.com/"> Pull Request Roulette</a> </p>
    <p> <span class="highlight">*</span> <a href="https://www.codetriage.com/"> Code Triage</a> </p>
    <p> <span class="highlight">*</span> <a href="https://24pullrequests.com/"> 24 [P]ull R[equest]s </a> </p>
  <p> <span class="highlight">*</span> <a href="https://opensource.guide/how-to-contribute/">This is another great guide</a>  outlining ways you can contribute to open source.</p>
</div>
