<div class="container">
  <p>Hacktoberfest is a great fit for technology companies looking to increase
    participation in their open source projects. </p>
  <p>Your company can participate by encouraging people to contribute to your
     repositories, organizing community events, or engaging internal employees.</p>
  <p>Logos from participating companies are displayed on the official
    Hacktoberfest website to showcase your support of open source.</p>
  <p>Our friends at SendGrid wrote this guide outlining how they used
    Hacktoberfest to increase their open source contributions by 3,510%.
    They also talked <a href="https://devrel.net/community/surviving-hacktoberfest">about this growth </a>at DevRelCon.</p>
</div>
