<div class="container">
  <h3 id="companies">
          <a href="#companies">Companies</a>
        </h3>
        <hr />

        <p>
          Hacktoberfest is a great resource for technology companies looking to
          increase participation in their open source projects.
        </p>

        <p>
          Your company can participate by encouraging people to contribute to
          your repositories, organizing community events, or engaging internal
          employees.
        </p>

        <p>
          Logos from participating companies are displayed on the official
          Hacktoberfest website to showcase your support of open source.
        </p>

        <p>
          Our friends at Indeed had a lot of success getting their employees
          involved in Hacktoberfest. They’ve
          <a href="https://www.youtube.com/watch?v=uweScYvtUts&feature=youtu.be">
            talked about this
          </a>
          at DevRelCon and have created a <a href="https://engineering.indeedblog.com/indeed-hacktoberfest-2020/">case study</a> to help your company do the
          same. 
        </p>

        <p>
          SendGrid also wrote
          <a href="https://sendgrid.com/wp-content/uploads/pdf/SendGrid-Hacktoberfest.pdf">
            this guide
          </a>
          outlining how they used Hacktoberfest to
          <strong>increase their open source contributions by 3,510%,</strong>
          and spoke
          <a href="https://devrel.net/community/surviving-hacktoberfest">
            about their growth
          </a>
          at DevRelCon.
        </p>
</div>
