<div class="container">
  <p>Organizing a Hacktoberfest event in October is a great way to support the
    open source community.</p>
  <p>Last year, 267 events were organized in 50 countries. This year,
    let’s work together to bring this celebration to even more people
    around the world! Explore the
    <%= link_to "Hacktoberfest Event Kit", event_kit_path %> to learn about how to successfully organize a gathering in
    your community.</p>
    <p>Get exposure for your event and swag to share with your attendees. <%= link_to "Submit here", event_kit_path(anchor: 'form') %>.</p>
</div>
