<div class="container">
  <p>NOTE: DigitalOcean will be organizing webinars for event organizers
    in September and early October to discuss Hacktoberfest events. </p>
  <input type="email" value="Enter your email" class="input" />
  <button type="button" class="button">Notify me</button>
  <p>Organizing a Hacktoberfest event in October is a great way to support the
    open source community.</p>
  <p>Last year, 267 events were organized in 50 countries. This year,
    let’s work together to bring this celebration to even more people
    around the world! Explore the
    <a href="https://hacktoberfest.digitalocean.com/eventkit">Hacktoberfest
    event kit</a> to learn about how to successfully organize a gathering in
    your community.</p>
    <p>Get exposure for your event and swag to share with your attendees. Submit here.</p>
</div>
