<div class="container">
    <h3 id="organizers">
          <a href="#organizers">Event organizers</a>
        </h3>
        <hr />
   <p>
          Given the severe impact that the global pandemic has had on all of our
          communities, we encourage all Hacktoberfest meetups this year to
          happen online. We’re here to help!
        </p>

        <p>
          Organizing a Hacktoberfest meetup in October is a great way to support
          and encourage the open source community.
        </p>

        <p>
         <%= link_to "Review DigitalOcean’s guide", event_kit_path(anchor: 'createmeetup') %>
          to creating a Hacktoberfest online meetup.
        </p>

        <p>
          Last year, 673 events were organized in 70 countries. This year, let’s
          work together to bring this celebration online to even more people
          around the world!
        </p>
        <p>
          Explore the
          <%= link_to "Hacktoberfest Event Organizer Kit", event_kit_path() %> to learn
          how to successfully organize an online gathering in your community.
        </p>
        <p>
          Get exposure for your event by
          <a href="https://organize.mlh.io/host/hacktoberfest-2020">
            submitting it here.
          </a>
        </p>
        <p>More resources:</p>
        <ul>
          <li>
            <a href="https://dev.to/truckerfling/community-management-in-a-crisis-coronavirus-lessons-part-2-6da">
              Turning in-person meetups to virtual
            </a>
          </li>
          <li>
            <a href="https://make.wordpress.org/community/handbook/meetup-organizer/resources/organizing-virtual-events/">
              Organizing virtual Events
            </a>
          </li>
          <li>
            <a href="https://remotesynthesis.com/blog/running-virtual-events">
              Running virtual Events
            </a>
          </li>
        </ul>
</div>
