<div class="container">
  <div class="container">
    <p>NOTE: DigitalOcean will be organizing webinars for event organizers
      in September and early October to discuss Hacktoberfest events. </p>
    <input type="email" value="Enter your email" class="input"/>
    <button type="button" class="button">Notify me</button>
    <p>Recommendations for creating a good Hacktoberfest issue in your project:</p>
    <p> <span class="highlight">*</span> <a href="https://help.github.com/articles/applying-labels-to-issues-and-pull-requests/"> Apply the "Hacktoberfest label"</a>
    to issues in your GitHub project that are ready for new contributors to work on.</p>
    <p> <span class="highlight">*</span> Add a CONTRIBUTING.md file with
      contribution guidelines to your repo.</p>
    <p> <span class="highlight">*</span> Choose issues that have a well-defined
      scope and are self-contained.</p>
    <p> <span class="highlight">*</span> Adopt a code of conduct to foster a 
      greater sense of inclusion and community.</p>
  </div>
  </div>
