<div class="container">
   <h3 id="maintainers">
          <a href="#maintainers">Maintainers</a>
        </h3>
        <hr />
  <p>
          Check out DigitalOcean’s
          <a href="https://do.co/maintainers">best practices for maintainers</a>
          to learn how to encourage contributions and set yourself up for
          success this month. Recommendations for creating a good Hacktoberfest
          issue in your project:
        </p>
        <ul>
          <li>
            <a href="https://help.github.com/articles/applying-labels-to-issues-and-pull-requests/">
              Apply the "Hacktoberfest" label
            </a>
            to issues in your GitHub project that are ready for new contributors
            to work on.
          </li>
          <li>
            Add a CONTRIBUTING.md file with contribution guidelines to your
            repository.
          </li>
          <li>
            Choose issues that have a well-defined scope and are self-contained.
          </li>
          <li>
            Adopt a code of conduct to foster a greater sense of inclusion and
            community.
          </li>
        </ul>

        <p>More resources: </p>
        <ul>
          <li>
            <a href="https://medium.com/gitcoin/a-maintainers-guide-to-hacktoberfest-21405c8ff09f">
              Maintainers guide to Hacktoberfest
            </a>
          </li>
          <li>
            <a href="https://www.twilio.com/blog/how-to-hacktoberfest-tips-and-tricks-for-maintaining-your-repo-and-your-mental-health">
              Maintain your repo and mental health
            </a>
          </li>
          <li>
            <a href="https://www.digitalocean.com/community/tutorials/how-to-maintain-open-source-software-projects">
              How To maintain open-source software projects
            </a>
          </li>
          <li>
            <a href="https://github.com/zenika-open-source/promote-open-source-project#readme">
              Open source promotion cheat sheet
            </a>
          </li>
          <li>
            <a href="https://www.writethedocs.org/guide/">
              Documentation Guide
            </a>
          </li>
        </ul>
</div>
