<div class="container">
   <h3 id="maintainers">
          <a href="#maintainers">Maintainers</a>
        </h3>
        <hr />
        <p>
          Hacktoberfest is now opt-in for maintainers. Classify your repository with the <code>hacktoberfest</code>
          topic to allow contributions from the community. Watch this <a href="http://do.co/hfest-topics">quick 
          tutorial</a> to learn how, or check out this <a href="https://github.com/do-community/hacktoberfest-repo-topic-apply">
          community project to apply the topic to multiple repositories</a>.
        </p>
        <p>
          Pull requests will only count toward completing Hacktoberfest if they are in a repository with the
          <code>hacktoberfest</code> topic and are merged, labelled as <code>hacktoberfest-accepted</code>, or approved
          by a maintainer of the project before November 1.
        </p>
        <p>
          Alternatively, if as a maintainer you don't have access to add the <code>hacktoberfest</code> topic, or don't
          want to, you can instead opt-in a specific pull request on any public GitHub repository by applying the
          <code>hacktoberfest-accepted</code> label.
        </p>
        <p>
          Check out DigitalOcean’s
          <a href="https://do.co/maintainers">best practices for maintainers</a>
          to learn how to encourage contributions and set yourself up for
          success this month. Recommendations for creating a good Hacktoberfest
          issue in your project:
        </p>
        <ul>
          <li>
            <a href="https://help.github.com/articles/applying-labels-to-issues-and-pull-requests/">
              Apply the "Hacktoberfest" label
            </a>
            to issues in your GitHub project that are ready for new contributors
            to work on.
          </li>
          <li>
            Add a CONTRIBUTING.md file with contribution guidelines to your
            repository.
          </li>
          <li>
            Choose issues that have a well-defined scope and are self-contained.
          </li>
          <li>
            Adopt a code of conduct to foster a greater sense of inclusion and
            community.
          </li>
        </ul>

        <p>More resources: </p>
        <ul>
          <li>
            <a href="https://medium.com/gitcoin/a-maintainers-guide-to-hacktoberfest-21405c8ff09f">
              Maintainers guide to Hacktoberfest
            </a>
          </li>
          <li>
            <a href="https://www.twilio.com/blog/how-to-hacktoberfest-tips-and-tricks-for-maintaining-your-repo-and-your-mental-health">
              Maintain your repo and mental health
            </a>
          </li>
          <li>
            <a href="https://www.digitalocean.com/community/tutorials/how-to-maintain-open-source-software-projects">
              How To maintain open-source software projects
            </a>
          </li>
          <li>
            <a href="https://github.com/zenika-open-source/promote-open-source-project#readme">
              Open source promotion cheat sheet
            </a>
          </li>
          <li>
            <a href="https://www.writethedocs.org/guide/">
              Documentation Guide
            </a>
          </li>
        </ul>
</div>
