<div class="container">
  <div class="container">
    <p>Recommendations for creating a good Hacktoberfest issue in your project:</p>
    <p>
      <span class="highlight">●</span>
      <a href="https://help.github.com/articles/applying-labels-to-issues-and-pull-requests/">
        Apply the "Hacktoberfest" label
      </a> to issues in your GitHub project that are ready for new contributors to work on.
    </p>
    <p>
      <span class="highlight">●</span>
      Add a CONTRIBUTING.md file with contribution guidelines to your repo.
    </p>
    <p>
      <span class="highlight">●</span>
      Choose issues that have a well-defined scope and are self-contained.
    </p>
    <p>
      <span class="highlight">●</span>
      Adopt a code of conduct to foster a greater sense of inclusion and community.
    </p>

    <br/>
    <div class="line-br">
      <span class="line-br-1">-</span>
      <span class="line-br-2">-</span>
    </div>

    <p>Learn about driving more contributions to your project:</p>
    <p>
      <span class="highlight">●</span>
      <a href="https://youtu.be/t5xFI6qqS6c">
        How to Hacktoberfest — A guide for open source project maintainers, part 1
      </a> (webinar)
    </p>
    <p>
      <span class="highlight">●</span>
      <a href="https://youtu.be/ODDOXsrTNqA">
        How to Hacktoberfest — A guide for open source project maintainers, part 2
      </a> (webinar)
    </p>

  </div>
</div>
