---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_USER_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '5000'
      X-Ratelimit-Reset:
      - '1569882494'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":5000,"reset":1569882494},"search":{"limit":30,"remaining":30,"reset":1569878954},"graphql":{"limit":5000,"remaining":5000,"reset":1569882494},"integration_manifest":{"limit":5000,"remaining":5000,"reset":1569882494}},"rate":{"limit":5000,"remaining":5000,"reset":1569882494}}'
  recorded_at: Mon, 30 Sep 2019 21:28:14 GMT
recorded_with: VCR 5.0.0
