<section class="section reg-content">
  <div class="container">
    <div class="registration-wrapper">
      <div class="registration-left">
        <%= form_for :user, url: { action: 'update' }, method: :patch do |f| %>
          <div id="form-first">
            <h1 class="title is-1">About you</h1>
            <p>
              Update your profile preferences for Hacktoberfest:
            </p>

            <%= render partial: 'users/userDetails', locals: { f: f, u: @current_user } %>

            <%= f.submit 'Update profile', :class => 'btn-sml'%>
          </div>
        <% end %>
      </div>

      <div class="registration-right">
        <div class="background-img"></div>
      </div>
    </div>
  </div>
</section>
