<section class="section reg-content">
  <div>
    <h1 class="title is-1">About you</h1>
    <p>
      Please select which email address you'd like
      to use for Hacktoberfest:
    </p>
    <%= form_for :user, url: { action: 'update' }, method: :patch do |f| %>

      <div class="field">
        <label class="label">Preferred email</label>
        <div class="control">
          <div class="select">
            <%= f.select :email, @emails %>
          </div>
        </div>
      </div>

      <%= f.submit 'Update email', :class => 'button'%>

    <% end %>
  </div>
</section>
