<div class="section">
  <div class="container">
    <div class="details">

      <h1 class="title is-1">See you next year!</h1>
      <p>
        Hacktoberfest 2020 has ended and registration is now closed. We hope to
        see you next year for another round of open source celebration!
      </p>

      <br/>
      <br/>
      <div class="line-br is-hidden-touch">
        <span class="line-br-1">-</span>
        <span class="line-br-2">-</span>
      </div>
      <br/>

      <%= link_to "Return to home", "/", :class => "button" %>
    </div>
  </div>
</div>
