<footer class="footer">
      <div class="footer-wrapper">
      <div class="do-logo">
        <a href="https://www.digitalocean.com">
          <img alt="DigitalOcean Logo" class="footer-do-logo">
        </a>
      </div>

      <div class="footer-details">
        <p class="footer-p">
          © 2020 DigitalOcean, LLC. All rights reserved.
        </p>
        <ul class="footer-links">
          <li>
            <a href="https://www.digitalocean.com/legal/terms-of-service-agreement/">
              Terms
            </a>
          </li>
          <li>
            <a href="https://www.digitalocean.com/legal/privacy-policy/">
              Privacy
            </a>
          </li>
          <li>
            <a href="https://do.co/hacktoberbrand">
              Brand Guidelines
            </a>
          </li>
          <li>
            <a href="https://twitter.com/hacktoberfest">
              <img alt="Twitter" class="footer-twitter"/>
            </a>
            <a href="https://www.instagram.com/hacktoberfest/">
              <img alt="Instagram" class="footer-instagram"/>
            </a>
            <a href="https://discord.gg/hacktoberfest">
              <img alt="Discord" class="footer-discord"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
</footer>
