<footer class="footer">
      <div class="footer-wrapper">
      <div class="do-logo">
        <a href="https://www.digitalocean.com">
          <img alt="DigitalOcean Logo" class="footer-do-logo">
        </a>
      </div>

      <div class="footer-details">
        <p class="footer-p">
          © 2020 DigitalOcean, LLC. All rights reserved.
        </p>
        <ul class="footer-links">
          <li>
            <a href="https://www.digitalocean.com/legal/terms-of-service-agreement/">
              Terms
            </a>
          </li>
          <li>
            <a href="https://www.digitalocean.com/legal/privacy-policy/">
              Privacy
            </a>
          </li>
          <li>
            <a href="https://twitter.com/hacktoberfest">
             <%= image_tag("footer-twitter.svg", :alt => "Twitter") %>
            </a>
            <a href="https://www.instagram.com/hacktoberfest/">
            <%= image_tag("footer-instagram.svg", :alt => "Instagram") %>
            </a>
            <a href="https://discord.gg/hacktoberfest">
            <%= image_tag("footer-discord.svg", :alt => "Discord") %>
            </a>
          </li>
        </ul>
      </div>
    </div>
</footer>
