<p>To put the rules in a form consistent with the spirit of Hacktoberfest:</p>

<blockquote>
  PRs count if:
  <br/>Submitted during the month of October AND
  <br/>Submitted in a public repo AND (
  <br/>&nbsp;&nbsp;The PR is labelled as <code>hacktoberfest-accepted</code> by a maintainer OR
  <br/>&nbsp;&nbsp;Submitted in a repo with the <code>hacktoberfest</code> topic OR
  <br/>&nbsp;&nbsp;The PR is merged OR
  <br/>&nbsp;&nbsp;The PR has been approved
  <br/>)
</blockquote>
