<div class="section">
  <div class="container">
    <div class="details">
      <div class="errors">

        <h1 class="title is-1">Something went wrong with one of our API connections</h1>
        <p>
          This is usually a temporary issue, resolved by a page refresh or two.
        </p>

        <br/>
          <div class="underline-div"></div>
        <br/>
        <br/>

        <h3 class="title is-3">
          Here's what you should try doing to see if we can get this sorted:
        </h3>

        <p>
          <span class="highlight">●</span> Try refreshing this page. It might just start working!
        </p>
        <p>
          <span class="highlight">●</span> Give this a few minutes to get itself together. Try again in 5?
        </p>
        <p>
          <span class="highlight">●</span> If all else fails and this page still isn't working after 30 minutes, please
          let us know by emailing <a href="mailto:hacktoberfest@digitalocean.com">hacktoberfest@digitalocean.com</a>.
        </p>

      </div>
    </div>
  </div>
</div>
