<div class="section">
<div class="container">
  <div class="getting-started">
    <h1 class="title is-1">Getting Started with Hacktoberfest</h1>
    <p>We ask all participants to read through the details to</p>
    <p>ensure that the global community is working towards a shared</p>
    <p>goal. Thanks for honoring the values and following the rules</p>
    <p>of participation.</p>
  </div>
  <div class="details-tabs">
    <ul id="tabs" class="details-box box">
      <li> <a id="tab1" >Beginners</a> </li>
      <li> <a id="tab2" >Maintainers</a> </li>
      <li> <a id="tab3" >Event organizers</a> </li>
      <li> <a id="tab4">Companies</a> </li>
    </ul>
    <div class="box">
     <div id="tab1C" class="tab-block">
        <%= render 'pages/details_resources/beginners_resources' %>
      </div> 
      <div id="tab2C" class="tab-block">
        <%= render 'pages/details_resources/maintainers_resources' %>
      </div>
      <div id="tab3C" class="tab-block">
        <%= render 'pages/details_resources/event_organizers_resources' %>
      </div>
      <div id="tab4C" class="tab-block">
        <%= render 'pages/details_resources/companies_resources' %>
      </div>
    </div>
    
  </div>
  <div class="container">
    <h1 class="title is-1">Event details</h1>
    <p class="highlight">*</p><p>Hacktoberfest is open to everyone in our global community!</p>
    <p class="highlight">*</p><p>Pull requests can be made in any GitHub-hosted repositories/projects.</p>
    <p class="highlight">*</p><p>You can sign up anytime between October 1 and October 31.</p>
  </div>
  <div class="container">
    <h1 class="title is-1">Participation Rules</h1>
    <p>To get a shirt, you must make four pull requests (PRs)</p>
    <p>between October 1–31 in any timezone. PRs can be to any</p>
    <p>public repo on GitHub, not just the ones highlighted. The PR</p>
    <p>must contain commits you made yourself. If a maintainer</p>
    <p>reports your pull request as spam, it will not be counted</p>
    <p>towards your participation for Hacktoberfest. If a maintainer</p>
    <p>reports behavior that’s not in line with the project’s code of</p>
    <p>conduct, you will be ineligible to participate. This year, the</p>
    <p>first 50,000 of you can earn a T-shirt (last year 46,088 earned a shirt).</p>
  </div>
  <div class="container">
    <h1 class="title is-1">Quality Standards</h1>
    <p>In line with Hacktoberfest value #2 (Quantity is fun, Quality</p>
    <p>is key), we have provided examples of the PRs that we consider</p>
    <p>to be low quality contributions (which we discourage).</p>
    <p class="highlight">*</p><p> PRs that are automated (e.g. scripted opening PRs to remove whitespace/optimize images)</p>
    <p class="highlight">*</p><p> PRs that are disruptive (e.g. taking someone else's branch/commits and making a PR) </p>
    <p class="highlight">*</p><p> PRs that are regarded by a project maintainer as a hindrance vs. helping</p>
    <p class="highlight">*</p><p>Something that's clearly an attempt to simply +1 your PR count for October</p>
  </div>
  <div class="container">
    <h1 class="title is-1">Values</h1>
    <p>Inspired by you – the community – through your actions and stories.</p>
    <p class="highlight">*</p><p> Everyone is welcome! Hacktoberfest participants
    have represented 151 countries and thousands of unique skill sets. Our
    program welcomes everyone already in the open source software community – and
    anyone interested in diving in.</p>
    <p class="highlight">*</p><p> Quantity is fun, quality is key! Participating
      in Hacktoberfest leads to personal growth, professional opportunities, and
      community building. And it all begins with meaningful contributions to
      open source technology.</p>
    <p class="highlight">*</p><p> Short-term actions, long-term impact! In the
      open source community, we stand on the shoulders of those who came before
      us. Your participation has a lasting effect on people and technology long
      after October comes to an end. This is a voyage, not a race.</p>
  </div>
</div>
</div>