<div class="resources">
  <div class="container">
    <section class="details">
      <img alt="resources icon image" class="resources-graphic">
      <h1 class="title is-1">Resources</h1>
      <p class="details-intro">
        Whether it’s your first or fiftieth pull request, there’s always more to learn! We’ve put together a few
        resources that can help you create quality pull requests, keep your repositories pristine, and build on your
        open source knowledge.
      </p>
    </section>

    <section class="values">
      <h2 id="values" class="title is-3">
        <a href="#values">Values</a>
      </h2>
      <hr/>
      <p>Inspired by you, the community, through your actions and stories.</p>
      <ol>
        <li><strong>Everyone is welcome!</strong> Participants in Hacktoberfest represented 151 countries and thousands
          of unique skill sets. This program welcomes everyone already who’s already part of the open source software
          community, and anyone who is interested in sectioning in.
        </li>
        <li><strong>Quantity is fun, quality is key.</strong> Participating in Hacktoberfest leads to personal growth,
          professional opportunities, and community building. However, it all begins with meaningful contributions to
          open source software.
        </li>
        <li><strong>Short-term action, long-term impact.</strong> In the open source software community, we are standing
          on the shoulders of those who came before us. Your participation has a lasting effect on people and technology
          long after October. This is a voyage not a race.
        </li>
      </ol>
    </section>

    <section class="resources-video-ceo">
      <div class="container">
        <script src="https://fast.wistia.com/embed/medias/pe3wigkdzl.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_pe3wigkdzl videoFoam=true" style="height:100%;position:relative;width:100%">
              <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                <img src="https://fast.wistia.com/embed/medias/pe3wigkdzl/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="getting-started">
      <h2 id="get-started" class="title is-3">
        <a href="#get-started">Getting started with Hacktoberfest</a>
      </h2>
      <hr/>
      <p>We ask all participants to read through the details to ensure that the global community is working toward a
        shared goal. Thank you for honoring the values and following the rules of participation.</p>
    </section>

    <section class="participation-details">
      <h2 id="details" class="title is-3">
        <a href="#details">Participation details</a>
      </h2>
      <hr/>
      <ul>
        <li>Hacktoberfest is open to everyone in our global community. Whether you’re a seasoned contributor or looking
          for projects to contribute to for the first time, you’re welcome to participate.
        </li>
        <li>Pull requests can be made in any GitHub-hosted repositories/projects. As long as the project is public and
          GitHub-hosted, your pull requests will count toward your participation.
        </li>
        <li>You can sign up anytime between October 1 and October 31. Just be sure to sign up on the official
          Hacktoberfest website for your pull requests to count.
        </li>
      </ul>
    </section>

    <section class="participation-rules">
      <h2 id="rules" class="title is-3">
        <a href="#rules">Participation rules</a>
      </h2>
      <hr/>
      <p>To get a shirt, you must make four pull requests (PRs) between October 1–31 in any time zone. Pull requests can
        be to any public repository on GitHub, not just the ones highlighted. The pull request must contain commits you
        made yourself. If a maintainer reports your pull request as spam, it will not be counted toward your
        participation in Hacktoberfest. If a maintainer reports behavior that’s not in line with the project’s code of
        conduct, you will be ineligible to participate. This year, the first 70,000 participants can earn a T-shirt.</p>
    </section>

    <section class="quality-standards">
      <h2 id="quality" class="title is-3">
        <a href="#quality">Quality standards</a>
      </h2>
      <hr/>
      <p>In line with Hacktoberfest value #2 (Quantity is fun, quality is key), we have provided examples of pull
        requests that we consider to be low-quality contributions (which we discourage).</p>
      <ul>
        <li> Pull requests that are automated (e.g. scripted opening pull requests to remove whitespace/fix
          typos/optimize images).
        </li>
        <li> Pull requests that are disruptive (e.g. taking someone else's branch/commits and making a pull request).
        </li>
        <li> Pull requests that are regarded by a project maintainer as a hindrance vs. helping.</li>
        <li> Something that's clearly an attempt to simply +1 your pull request count for October.</li>
      </ul>
      <p>Last but not least, one pull request to fix a typo is fine, but 5 pull requests to remove a stray whitespace is
        not.</p>
    </section>

    <section class="spam">
      <h2 id="spam" class="title is-3">
        <a href="#spam">Let's work together to reduce spam</a>
      </h2>
      <hr/>
      <ul>
        <li>Spammy pull requests can be given a label that contains the word "invalid" or "spam" to discount them.
          Maintainers are faced with the majority of spam that occurs during Hacktoberfest, and we dislike spam just as
          much as you. If you're a maintainer, please label any spammy pull requests submitted to the repositories you
          maintain as "invalid" or "spam", and close them. Pull requests with this label won't count toward Hacktoberfest.
        </li>
        <li>There's a seven-day review window for all pull requests before they count toward completing the challenge.
          Once a participant has submitted four eligible pull requests (ready-to-review, not drafts), the review window
          begins. This period gives maintainers time to identify and label spammy pull requests as invalid. If the pull
          requests are not marked as invalid within that window, they will allow the user to complete the Hacktoberfest
          challenge. If any of the pull requests are labeled as invalid, the user will return to the pending state until
          they have four eligible pull requests, at which point the review period will start again.
        </li>
        <li>Bad repositories will be excluded. In the past, we've seen many repositories that encourage participants to
          make simple pull requests – such as adding their name to a file – to quickly gain a pull request toward
          completing Hacktoberfest. While this may be a learning tool for new contributors, it goes against one of our
          core values for Hacktoberfest. The quality of pull requests is paramount; quantity comes second. These
          repositories do not encourage quality contributions and provide an unfair advantage in completing the
          Hacktoberfest challenge. We've implemented a system to block these repositories, and any pull requests
          submitted to such repositories will not be counted.
          <br/>
          <br/>
          <a href="/report">Report a repository that doesn't follow Hacktoberfest's values</a>.
        </li>
      </ul>
    </section>

    <section class="details-tabs">
      <ul id="tabs" class="details-box box">
        <li><a id="beginners">Beginners</a></li>
        <li><a id="maintainers">Maintainers</a></li>
        <li><a id="organizers">Event organizers</a></li>
        <li><a id="companies">Companies</a></li>
      </ul>
      <div class="box">
        <div id="beginners-content" class="tab-block">
          <%= render 'pages/details_resources/beginners_resources' %>
        </div>
        <div id="maintainers-content" class="tab-block">
          <%= render 'pages/details_resources/maintainers_resources' %>
        </div>
        <div id="organizers-content" class="tab-block">
          <%= render 'pages/details_resources/event_organizers_resources' %>
        </div>
        <div id="companies-content" class="tab-block">
          <%= render 'pages/details_resources/companies_resources' %>
        </div>
      </div>
    </section>
  </div>
</div>
