<div class="event-kit-page">
  <div class="container">

      <section class="event-kit-sub">
        <img alt="eventkit icon image" class="eventkit-graphic">
        <h1 class="title is-1">Event Organizer Kit</h1>
        <p>All Hacktoberfest events are online this year! <a href="https://organize.mlh.io/host/hacktoberfest-2020" target="_blank">Create</a> or <a href="https://hacktoberfest.digitalocean.com/events">join</a> one now.</p>
      </section>


    <section>
      <p>Attending a meetup is an important and valuable part of Hacktoberfest. This year, we’re keeping the tradition of hacking with others alive by bringing the community together online. This year, we’ve partnered with OrganizerHQ by Major League Hacking (MLH), and Mattermost, to make it easier to organize your meetups online.</p>

      <p>In order to have your online meetup listed on hacktoberfest.digitalocean.com, <strong>you must use the MLH event platform to create your event.</strong></p>

      <p>You can still promote your meetup on Facebook, Eventbrite, Meetup, or any other channel you choose. Simply create your meetup on MLH and paste the link in the event description of your meetup group and instruct participants to RSVP on MLH.</p>

      <p>First time organizing a meetup? Watch the video or continue reading to learn more about online meetups.</p>

      <div class="container eventkit-video">
        <script src="https://fast.wistia.com/embed/medias/dkj25nv20r.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="wistia_embed wistia_async_ah8ixt4xyo videoFoam=true autoPlay=false" style="height:360px;width:640px" >&nbsp;</div>
      </div>
    </section>

    <section class="create-online-event">
      <h2 id="online-meetup" class="title is-3 pink-highlight"><a href="#online-meetup">How to create an online meetup</a></h2>
      <hr />

      <ul>
        <li><strong>Create your public event page on OrganizerHQ</strong>, a community events platform by Major League Hacking (MLH). <a href="https://organize.mlh.io/host/hacktoberfest-2020" target="_blank">Create a meetup.</li>
        <li><a href="https://hacktoberfest.digitalocean.com/eventkit#sample-agenda">Craft a meetup agenda</a>. Consider tools and platforms that best support your event format.</li>
        <li><strong>Set a date</strong>. Confirm the availability of your co-organizers, speakers, and facilitators.</li>
        <li><a href="https://hacktoberfest.digitalocean.com/eventkit#promote-meetup">Promote the meetup</a>. Invite your community to attend.</li>
        <li><strong>Facilitate the meetup</strong>. Create an open, inclusive, and welcoming atmosphere.</li>
        <li><strong>Share special moments</strong> on social media using #hacktoberfest and tagging @digitalocean. (Please remember to ask attendees for permission to use their photos.)</li>
      </ul>
    </section>

    <section class="invite-box">
      <h4 class="title is-4" id="who-to-invite">
        <a href="#who-to-invite">Who to invite to the meetup</a>
      </h4>
      <p>Anyone interested in learning about and/or contributing to open source.</p>
      <h4 class="title is-4" id="best-meetup-time">
        <a href="#best-meetup-time">When’s the best time to host a meetup?</a>
      </h4>
      <p>Preferably the first half of October to give participants time to complete four pull requests!</p>
    </section>

    <section class="platforms-resources">
      <h2 class="title is-2" id="video-platforms-resources"><a href="#video-platforms-resources">Video platforms & resources for online meetups</a></h2>
      <h3 id="where-to-host" class="title is-3 pink-highlight"><a href="#where-to-host">Where to host your meetup online</a></h3>
      <hr/>
      <p>You are free to use popular video conferencing tools such as Zoom, Google Meet, Skype, etc. We also recommend checking out these free, open source video platforms to conduct your online meetup.</p>
      <ul>
        <li><a href="https://jitsi.org/" target="_blank">Jitsi</a></li>
        <li><a href="https://openmeetings.apache.org/index.html" target="_blank">Apache OpenMeetings Project</a></li>
        <li><a href="https://jami.net/" target="_blank">Jami</a></li>
      </ul>
      <p><strong>Breakout rooms/community chat</strong></p>
      <ul>
        <li><a href="https://mattermost.com/" target="_blank">Mattermost</a> [Hacktoberfest 2020 Community Partner]</li>
        <li><a href="https://icebreaker.video/" target="_blank">Icebreaker</a></li>
        <li><a href="https://element.io/communities" target="_blank">Element.io</a></li>
      </ul>
    </section>

    <section class="sample-agenda">
      <h2 id="sample-agenda" class="title is-3 pink-highlight"><a href="#sample-agenda">Sample agenda</a></h2>
      <hr/>
      <ul>
        <li>
          <strong>Welcome.</strong> Set a welcoming, open, and inclusive tone. Thank everyone for attending, tell them about yourself, give an overview of the programming, and remind them of the <a href="https://docs.google.com/document/d/1gFKOhyUqMZzrZcbq8A_TpO5x9J9HK6agv70awCH8pyI/edit" target="_blank">code of conduct</a>.
        </li>
        <li>
          <strong>Network.</strong> Get to know your attendees by breaking the ice. Set aside 5-10 minutes to allow people to talk among themselves. You can also use <a href="https://icebreaker.video/" target="_blank">Icebreaker</a>, which offers a fun and engaging way to get to know each other.
        </li>
        <li>
          <strong>Introduce Hacktoberfest, including the background of the celebration and its instructions.</strong> It's important to mention the key points of Hacktoberfest. For example: "This is all about encouraging meaningful contributions to the open source ecosystem — for beginners and veterans alike." You can also play a special message from <a href="https://drive.google.com/file/d/1oNzmlphurcVvLS94jnbIUp3eqwF-c7MG/view?usp=sharing" target="_blank">DigitalOcean’s CEO.</a>
        </li>
        <li>
          <strong>Introduce open source.</strong> Here are some <a href="https://hacktoberfest.digitalocean.com/details">resources</a> for inspiration.
        </li>
        <li>
          <strong>Workshop.</strong> Explain how to contribute to open source. These <a href="https://hacktoberfest.digitalocean.com/details">resources</a> can help.
        </li>
        <li>
          <strong>Demos.</strong> Introduce 3- to 5-minute demos by anyone interested in sharing their open source projects.
        </li>
        <li>
          <strong>Get hacking.</strong> Facilitate the formation of groups by interest, and hack together.
        </li>
        <li>
          <strong>Show and tell.</strong> Share 2-3-minute demos by anyone interested in sharing what they learned or worked on during hack time.
        </li>
      </ul>
    </section>

    <section class="sample-agenda">
      <h2 id="speakers-facilitators" class="title is-3 pink-highlight"><a href="#speakers-facilitators">Speakers & facilitators</a></h2>
      <hr/>
      <p>
        We encourage you and your co-organizers to facilitate the workshops! (You got it!) If you’d like extra help, invite open source project owners/maintainers, leaders passionate about open source, and computer science educators who support open source in your community to speak or help with meetup attendees. If there is an open source enthusiast in your community, reach out to them via email or on Twitter. The worst that can happen is they’re not able to attend.
      </p>
      <p>
        You can also review our list of featured speakers who may be able to attend your meetup; simply reach out to them via social media.
      </p>
      <div class="sample-schedule">
        <table id="customers">
          <tbody>
            <tr>
              <th>Name (pronouns)</th>
              <th>Location</th>
              <th>Specialization</th>
              <th>Company</th>
              <th>Social Media</th>
            </tr>
            <tr>
              <td>Mason Egger (He/Him)</td>
              <td>Austin, Texas USA</td>
              <td>Python, Devops, Terraform, Education</td>
              <td>DigitalOcean</td>
              <td>
                <a href="https://twitter.com/masonegger">@masonegger</a>
              </td>
            </tr>
            <tr>
              <td>Chris Sevilleja (He/Him)</td>
              <td>Las Vegas, Nevada USA</td>
              <td>Frontend, Node, React, Entrepreneurship</td>
              <td>DigitalOcean</td>
              <td>
                <a href="https://twitter.com/chrisoncode">@chrisoncode</a>
              </td>
            </tr>
            <tr>
              <td>Peeyush Gupta (He/Him)</td>
              <td>Bengaluru, India</td>
              <td>Containers, Kuernetes, Storage</td>
              <td>DigitalOcean</td>
              <td>
                <a href="https://twitter.com/pensu91">@pensu91</a>
              </td>
            </tr>
            <tr>
              <td>Saurabh Gupta (He/Him)</td>
              <td>Bengaluru, India</td>
              <td>DevOps, Blockchain, Kubernetes, Docker</td>
              <td>DigitalOcean</td>
              <td>
                <a href="https://twitter.com/DevopsFollower">@devopsfollower</a>
              </td>
            </tr>
            <tr>
              <td>Ben Halpern (He/Him)</td>
              <td>Brooklyn, NY USA</td>
              <td>Contributing to OSS</td>
              <td>DEV/Forem</td>
              <td>
                <a href="https://twitter.com/bendhalpern">@bendhalpern</a>
              </td>
            </tr>
            <tr>
              <td>Jess Lee (She/Her)</td>
              <td>Brooklyn, NY USA</td>
              <td>Being an OSS Maintainer</td>
              <td>DEV/Forem</td>
              <td>
                <a href="https://twitter.com/jessleenyc">@jessleenyc</a>
              </td>
            </tr>
            <tr>
              <td>Peter Frank (He/Him)</td>
              <td>Brooklyn, NY</td>
              <td>Building Communities </td>
              <td>DEV/Forem</td>
              <td>
                <a href="https://twitter.com/peterkimfrank">@peterkimfrank</a>
              </td>
            </tr>
            <tr>
              <td>Ben Greenberg (He/Him)</td>
              <td>Tel Aviv, Israel</td>
              <td>
                Ruby, Rails, GitHub, APIs, web development, community,
                beginners, bootcamp
              </td>
              <td>Vonage</td>
              <td>
                <a href="https://twitter.com/RabbiGreenberg">@rabbigreenberg</a>
              </td>
            </tr>
            <tr>
              <td>Diana Rodriguez (She/Her)</td>
              <td>Durham, NC USA</td>
              <td>
                Python, DevOps, Ansible, Terraform, Cloud Infrastructure,
                Automation, IoT, Security, Firebase, Google Maps Platform
              </td>
              <td>Vonage</td>
              <td>
                <a href="https://twitter.com/cotufa82">@cotufa82</a>
              </td>
            </tr>
            <tr>
              <td>Garann Means (She/Her)</td>
              <td>Glasgow, Scotland</td>
              <td>JavaScript and progressive enhancement</td>
              <td>Vonage</td>
              <td>
                <a href="https://twitter.com/garannm">@garannm</a>
              </td>
            </tr>
            <tr>
              <td>Brian Douglas (He/Him)</td>
              <td>Oakland, CA</td>
              <td>JAMstack, Open Source</td>
              <td>GitHub</td>
              <td>
                <a href="https://twitter.com/bdougieYO">@bdougieYO</a>
              </td>
            </tr>
            <tr>
              <td>Jacob Herrington (He/him)</td>
              <td>Springdale, AR USA</td>
              <td>
                Rails, Blogging, Mentorship, Svelte, Ecommerce, Solidus/Spree,
                Forem
              </td>
              <td>DEV/Forem</td>
              <td>
                <a href="https://twitter.com/JakeHerrington">@jakeherrington</a>
              </td>
            </tr>
            <tr>
              <td>Ridhwana Khan (She/Her)</td>
              <td>Johannesburg, South Africa</td>
              <td>
                Full Stack, Rails, Frontend, React
              </td>
              <td>DEV/Forem</td>
              <td>
                <a href="https://twitter.com/Ridhwana_K">@Ridhwana_K</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="photo-sharing">
      <h2 id="photo-sharing" class="title is-3 pink-highlight"><a href="#photo-sharing">Photo sharing</a></h2>
      <hr/>
      <p>
        Just because we’re all virtual doesn't mean we can’t take selfies and group photos in video conferences. Encourage meetup participants to share photos on social media using the hashtag #hacktoberfest or #hacktoberfest2020 and tagging @digitalocean. (Please be mindful of photo preferences of attendees. Don’t force camera-shy individuals into photos!)
      </p>
    </section>

    <section class="food-drink">
      <h2 id="food-drinks" class="title is-3 pink-highlight"><a href="#food-drinks">Food & drinks</a></h2>
      <hr/>
      <p>
        Even though you won’t be able to provide something delicious for your community to enjoy, you can still encourage your attendees to come with their own snacks. Your community will be so busy hacking that they might forget to drink water and eat. Remind them to keep their energy up while contributing to open source.
      </p>
      <p>
        Make this clear in your meetup invitation so guests come prepared. Bonus: Include one or two items that add a festive <a href="https://www.pinterest.com/explore/fall-party-foods/">fall/autumn</a> or <a href="https://www.pinterest.com/explore/oktoberfest-party/">Oktoberfest</a> mood.
      </p>
    </section>

    <section class="fun-ideas">
      <h2 id="other-ideas" class="title is-3 pink-highlight"><a href="#other-ideas">Other fun ideas</a></h2>
      <hr/>
      <ul>
        <li>
          Begin the meetup with virtual networking. This can be via break-out rooms, or via sharing something about yourself in the chat.
        </li>
        <li>
          First pull request of the evening to receive [insert virtual prize].
        </li>
        <li>
          Wrap up the meetup by inviting participants to share what they learned/worked on.
        </li>
        <li>
          Encourage attendees to take pictures of the video conference windows and post on social media as a celebration of communities who are continuing to thrive together (with permission, of course).
        </li>
      </ul>
    </section>

    <section class="event-code-conduct">
      <h2 id="code-of-conduct" class="title is-3 pink-highlight"><a href="#code-of-conduct">Event Code of Conduct</a></h2>
      <hr/>
      <p>
        Hacktoberfest meetups are welcoming, open, and inclusive. Include this line on your meetup page: "Please read our <a href="https://do.co/hacktoberconduct" target="_blank">Events Code of Conduct</a> before attending. Happy hacking!"
      </p>
    </section>
    <section>
      <h2 class="title is-3" id="promote-meetup"><a href="#promote-meetup">Promoting your meetup</a></h2>
      <hr />
      <ol>
        <li>
          Create your meetup <a href="https://organize.mlh.io/host/hacktoberfest-2020" target="_blank">here</a>.
        </li>
        <li>
          Remind your attendees to <strong>only RSVP on MLH</strong> to receive access to the online meetup.
        </li>
        <li>
          Share the meetup via email, social networks, and events websites. Consider posting on channels that are popular with developers and open source enthusiasts in your area, including but not limited to:
          <ul>
            <li>Eventbrite</li>
            <li>Meetup</li>
            <li>Twitter</li>
            <li>Whatsapp, Telegram, WeChat</li>
            <li>Facebook pages</li>
            <li>LinkedIn groups</li>
            <li>Google groups</li>
            <li>Newsletters, websites, and social media accounts that share startup/tech meetups regularly</li>
            <li>Local code schools and universities</li>
          </ul>
        </li>
        <li>
          Tag <a href="https://twitter.com/digitalocean?lang=en" target="_blank">@digitalocean</a>, <a href="https://twitter.com/hacktoberfest?lang=en" target="_blank">@hacktoberfest</a>, #hacktoberfest, #hacktoberfest2020
        </li>
        <li>
          Use these example posts for inspiration:
          <ul>
            <li>
              Happy about Hacktoberfest? So are we! Register to hack with us on [DATE!]
            </li>
            <li>
              Don’t hack alone. Join us on [DATE] to meet a few community members and get help on your pull requests!
            </li>
            <li>
              Learning how to code or just interested in open source? Sign up to share your skills!
            </li>
          </ul>
        </li>
      </ol>
    </section>
    <section class="logos-branding">
      <h2 id="logos-branding" class="title is-3 pink-highlight"><a href="#logos-branding">Logos & branding</a></h2>
      <hr/>
      <p>Logos, banners, posters, and more! We kindly ask that you adopt Hacktoberfest brand guidelines as you share your meetup/content.</p>
      <p>Please make sure to read through <a href="https://do.co/hacktoberbrand" target="_blank">our brand guidelines for using these assets.</a></p>
      <p><a href="https://hf2020.nyc3.digitaloceanspaces.com/HF-Brand-Assets-2020.zip" class="button">download assets</a></p>
    </section>

  <section>
      <h2 id="virtual-event-swag" class="title is-3 pink-highlight"><a href="#virtual-event-swag">Virtual Event Swag</a></h2>
      <hr/>
      <p>Everyone loves swag! Check out the <a href="https://store.digitalocean.com/doswag">DigitalOcean Swag Store</a> and download this year's Virtual Event Swag.</p>
      <p><a href="https://hf2020.nyc3.digitaloceanspaces.com/Virtual-Swag-Kit.zip" download class="button">download assets</a></p>
    </section>

    <section class="after-events">
      <h2 id="after-the-event" class="title is-3 pink-highlight"><a href="#after-the-event">After the event</a></h2>
      <hr/>
      <p>Make sure to thank your attendees for taking the time to attend your Hacktoberfest meetup. Keep the communication going with your attendees throughout October (and onward!) Remember to encourage each other since many folks will be new to open source and the goal is to grow this community.</p>
    </section>
  </div>
</div>
