<main class="section is-fluid">
 <h1 class="title is-1">What is Hacktoberfest?</h1>
 <p>Have questions? These are the most Frequently Asked Questions about Hacktoberfest.</p>
 <h2 class="title is-2 highlight">General </h2><br/>
 <h2 class="title is-2 highlight">Rules</h2><br/>
 <h2 class="title is-2 highlight">Events </h2><br/>
 <h2 class="title is-2 highlight">Shipping </h2><br/>
</main>
