<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <iframe class="modal-card " src="https://airtable.com/embed/shrD5rVJ7kfZec5hD?backgroundColor=blue" frameborder="0" onmousewheel="" width="100%" height="100%" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>
  <button id='close-modal' class="modal-close">'x'</button>
</div>

<div class="section is-fluid event-kit-page">
  <h1 class="highlight title is-1">Event Kit</h1>
  <h2 id="how-to" class="title is-2 pink-highlight">How to organize a Hacktoberfest-themed
    meetup</h2>
  <div class="underline-div"></div>
  <h3 class="title is-3">Step-by-step</h3>
  <div class="container">
    <ol class="steps-list">
      <li>Craft an event agenda.</li>
      <li>Set a date:
        Confirm that your preferred venue and any co-organizers, speakers, and
        facilitators are available.</li>
      <li>Promote the event: Invite your community
        to attend. And don't forget to add your event <a href="#form">here</a>.</li>
      <li>Facilitate the event: Create an open,
        inclusive, and welcoming atmosphere.</li>
      <li>Share special moments on social
        media. (Please remember to ask attendees for permission to use their
        photos.)</li>
    </ol>
    <h3 class="title is-3">Who to invite to the meetup</h3>
    <p>Anyone interested in learning about and/or contributing to
      open source.</p>
    <h3 class="title is-3">When's the best time to host your meetup?</h3>
    <p>Preferably the first half of October to give
      participants time to complete four pull requests!</p>
    <h3 class="title is-3">Where to host your event</h3>
    <p>
      An easily accessible, inclusive location with reliable WiFi and a
      comfortable space that is workshop- and live-coding friendly. For
      example:
    </p>
    <ul>
      <li> A classroom at a university or code school</li>
      <li> A coworking space</li>
      <li> An incubator/accelerator</li>
      <li> An office of an open source/tech company</li>
      <li> Anywhere that will have you!</li>
    </ul>
    <h3 class="title is-3">Sample agenda</h3>
    <p>
      This is merely a suggestion — feel free to customize it to suit your
      community!
    </p>
    <ul>
      <li>
        <span class="pink-highlight">Welcome</span> — Set a welcoming, open, and
        inclusive tone. Thank everyone for attending, tell them about
        yourself, give an overview of the programming, and remind them of the
        <a href="https://do.co/hacktoberconduct" target="_blank" rel="noopener noreferrer">code of conduct</a>.
      </li>
      <li><span class="pink-highlight">Intro to
        Hacktoberfest: the celebration, prizes, and instructions</span> — It's
        important to mention the key points of Hacktoberfest. For example: "This is
        all about encouraging meaningful contributions to the open source ecosystem —
        for beginners and veterans alike."</li>
      <li><span class="pink-highlight">Intro to open source</span> —
        See <a href="#resources">Resources</a> section for
        inspiration.</li>
      <li><span class="pink-highlight">Workshop</span> — how to contribute to open source — See <a href="#resources">Resources</a> section for
        inspiration.</li>
      <li><span class="pink-highlight">Demos [optional; before/after hack time]</span> — 3 to 5-minute demos by anyone interested in sharing
        their open source projects.</li>
      <li><span class="pink-highlight">Hack time</span> — Facilitate the formation of groups by interest and hack
        together.</li>
    </ul>
    <h3 class="title is-3">Speakers &amp; facilitators</h3>
    <p>You and your co-organizers are encouraged to facilitate the
      workshops! (You got it!) If you’d like extra help, invite open source project
      owners/maintainers, leaders passionate about open source, and computer science
      educators who support open source in your community to speak or help with
      meetup attendees. If there is an open source enthusiast in your community,
      reach out to them via email or on Twitter! The worst that can happen is
      they’re not able to attend.</p>
    <h3 class="title is-3">Photo sharing</h3>
    <p>Encourage event participants to share photos on social
      media using the hashtag <span class="css-13tjkz1">#hacktoberfest</span>.
      (Please be mindful of photo preferences of attendees — don’t force camera-shy
      individuals into photos!)</p>
    <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-0" src="https://www.instagram.com/p/BvI1KyvBCbv/embed/?cr=1&amp;v=12&amp;wp=1100&amp;rd=https%3A%2F%2Fhacktoberfest.digitalocean.com&amp;rp=%2Feventkit#%7B%22ci%22%3A0%2C%22os%22%3A2941.715000080876%7D" allowtransparency="true" allowfullscreen="true" frameborder="0" height="509" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="background: white; max-width: 550px; width: calc(100% - 2px);
                                 border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none;
                                 display: block; margin: 0px 0px 12px; min-width: 326px; min-height: 620px;     margin-left: auto;
                                 margin-right: auto; margin-top: 10px;"></iframe>
    <h3 class="title is-3">Food &amp; drinks</h3>
    <p>Provide something delicious that your community will enjoy!
      Bonus: one or two items that add a festive fall/autumn or Oktoberfest mood.
      Remember to account for food allergies, preferences, and local alcohol
      consumption laws (if alcohol is served).</p>
    <p>If you don't
      plan on serving any food/drinks, that's OK too! Make that clear on your event
      invitation so guests come prepared.</p>
    <h3 class="title is-3">Other fun
      ideas</h3>
    <ul>
      <li>First pull request of the evening to receive [insert prize].</li>
      <li>Raffle off 3-5 prizes to be given away at the end of the evening.</li>
      <li>Wrap up the event by inviting participants to share what they learned/worked on.</li>
    </ul>
    <h3 class="title is-3">Event code of conduct</h3>
    <p>
      Hacktoberfest events are welcoming, open,
      and inclusive. Include this line on your event page: "Please read our
      <a href="https://do.co/hacktoberconduct" target="_blank" rel="noopener noreferrer">Events Code of Conduct</a> before attending. Happy
      Hacking!"
    </p>
    <h2 id="promoting-your-event" class="title is-2 pink-highlight">Promoting your event</h2>
    <div class="underline-div"></div>
    <ol class="steps-list promote-list">
      <li>
        Share the event via email, social
        networks, and/or printed flyers. Consider posting on channels that are popular
        with developers and open source enthusiasts in your area, including but not
        limited to:
        <ul class="promote-links-list">
          <li>Eventbrite</li>
          <li>Meetup</li>
          <li>Twitter</li>
          <li>Facebook
            pages</li>
          <li>LinkedIn groups</li>
          <li>Google groups</li>
          <li>Newsletters,
            websites, and social media accounts that share startup/tech events
            regularly</li>
          <li>Local code schools an universities</li>
        </ul>
      </li>
      <li><a href="#form">Add your meetup event here.</a></li>
    </ol>
    <h3 class="title is-3">Logos &amp; branding</h3>
    <div class="columns is-multiline box">
      <div class="column">
        <h3 class="title is-3">Promote your event</h3>
        <p class="box-text" >Logos, banners, posters, and more! We kindly ask that you
          adopt Hacktoberfest Brand Guidelines as you share your
          event/content.</p>
        <a href="https://assets.digitalocean.com/hacktoberfest/hacktoberfest_2019_brand_assets.zip" class="button down-load-assets">Download assets here</a>
      </div>
      <div class="secondary-box column">
        <img class="grow-shadow" src="<%= asset_path('HF19_event.png') %>" alt="Example event">
      </div>
    </div>
  <h3 class="title is-3">Sample copy for your event page</h3>
    <div class="columns is-multiline box sample-section">
      <div class="column sample-section">
        <h4 class="title is-4">Event name ideas</h4>
        <ul>
          <li>Hacktoberfest Open Hack Night</li>
          <li>Hacktoberfest Open Hack Day</li>
          <li>Hacktoberfest in [Your City]</li>
          <li>Hacktoberfest Open Hack Fest!</li>
        </ul>
        <h4 class="title is-4">Description</h4>
          <p>It's Hacktoberfest 2019! Let's celebrate open source over
            food, drinks, learning, and great company!</p>
          <p>Agenda</p>
          <p>[Time] [Topic]</p>
          <p>[Time] [Topic]</p>
          <p>[Time]
            [Topic]</p>
          <p>[Time] [Topic]</p>
        <h4 class="title is-4">What's Hacktoberfest?</h4>
          <p><a href="https://hacktoberfest.digitalocean.com">Hacktoberfest — brought to you by DigitalOcean</a>
            in partnership with DEV — is a month-long celebration of open source software.
            Maintainers are invited to guide would-be contributors towards issues that
            will help move the project forward, and contributors get the opportunity to
            give back to both projects they like and others they've just discovered. No
            contribution is too small — bug fixes and documentation updates are valid ways
            of participating.</p>
          <p>
            Can't make it to this event?
            Hacktoberfest is virtual and open to participants from around the globe. Sign
            up to participate today at https://hacktoberfest.digitalocean.com.
          </p>
        <h4 class="title is-4">Rules and prizes</h4>
          <p>First, sign up on the Hacktoberfest site at
            https://hacktoberfest.digitalocean.com. To qualify for the official limited
            edition Hacktoberfest shirt, you must register and make four pull requests
            between October 1-31. Pull requests can be to any public repo on GitHub, not
            just the ones with issues labeled Hacktoberfest. If a maintainer reports your
            pull request as spam or behavior not in line with the project’s code of
            conduct, you will be ineligible to participate.</p>
          <p>Connect with other Hacktoberfest participants by using
            #hacktoberfest on your social media platform of choice.</p>
          <p>New to DigitalOcean? Receive USD $50 in infrastructure
            credit at https://do.co/hacktoberfest50.</p>
        <h4 class="title is-4">Events code of conduct </h4>
          <p>Hacktoberfest events are welcoming, open, and inclusive. Include this
             line on your event page: "Please read our <a href="https://do.co/hacktoberconduct">Events Code of Conduct</a> before
             attending. Happy Hacking!"</p>
      </div>
    </div>
    <h2 id="resources" class="title is-2 pink-highlight">Resources</h2>
    <div class="underline-div"></div>
    <h3 class="title is-3">Git</h3>
    <ul>
      <li><a href="https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github">How
        To Create a Pull Request on GitHub</a></li>
      <li><a href="https://github.github.com/training-kit/">GitHub Training Kit</a>: Open
        source slides, workbook, and cheat sheet courseware for teaching Git and
        GitHub classes</li>
      <li><a href="https://guides.github.com/introduction/flow/">Understanding the GitHub
        Flow</a></li>
      <li><a href="http://patchwork.github.io/">Patchwork</a>: Casual,
        mentored workshops for beginners to Git and GitHub</li>
    </ul>
    <h3 class="title is-3">Open source</h3>
    <ul>
      <li><a href="https://www.digitalocean.com/community/tutorial_series/an-introduction-to-open-source">An
        Introduction to Open Source</a></li>
      <li><a href="https://opensource.guide/">Open Source Guides</a></li>
      <li><a href="https://dev.to/t/opensource">Articles about open source</a></li>
    </ul>
    <h3 class="title is-3">Where to find open source projects to work on?</h3>
    <ul>
      <li><a href="https://help.github.com/articles/where-can-i-find-open-source-projects-to-work-on/">GitHub</a></li>
      <li><a href="https://hacktoberfest.digitalocean.com/#projects">Hacktoberfest</a></li>
    </ul>
    <p>Find more resources and useful tips for participants on the
      <a href="https://hacktoberfest.digitalocean.com/#resources">Hacktoberfest
        site</a>.</p>
    <h3 class="title is-3">Event organizer webinar</h3>
    <p>Learn best practices for planning and running a
      Hacktoberfest event, handling challenges you might face, and creating the best
      collaborative environment.</p>
    <h2 id="faqs" class="title is-2 pink-highlight">FAQs</h2>
    <div class="underline-div"></div>
    <h3 class="title is-3">Why organize a Hacktoberfest-themed meetup?</h3>
    <ul>
      <li>Increase awareness of open source in your community.</li>
      <li>Enjoy contributing to open source in a social setting.</li>
      <li>Meet project owners, maintainers, contributors, and community members in person.</li>
      <li>Learn about the open source ecosystem, from how to
        start an open source project to marketing your project, sustaining growth, and
        troubleshooting and maintenance.</li>
    </ul>
    <p><em>Organizers: Set the tone for your event based on what
      most benefits your community! Feel free to focus on any combination of the
      above and more!</em></p>
    <h3 class="title is-3">Who can organize a
      Hacktoberfest-themed meetup?</h3>
    <p>Anyone can, as long as
      you celebrate open source at the event and follow the <a href="https://do.co/hacktoberconduct">Hacktoberfest Events Code of
      Conduct</a>!</p>
    <h3 class="title is-3">Will Hacktoberfest T-shirts be given
      out at the event?</h3>
    <p>No. A Hacktoberfest T-shirt will
      be mailed after Hacktoberfest ends to participants who make four successful
      pull requests on GitHub between October 1 and October 31.</p>
    <h3 class="title is-3">How do I sign up for Hacktoberfest?</h3>
    <p>Register with your GitHub account at <a href="https://hacktoberfest.digitalocean.com/">hacktoberfest.digitalocean.com</a>.</p>
    <h3 class="title is-3">When can I start?</h3>
    <p>You can sign up anytime between October 1 and October 31.</p>
    <h3 class="title is-3">Who can participate in Hacktoberfest?</h3>
    <p>Hacktoberfest is open to everyone in our global community!</p>
    <h3 class="title is-3">What are the rules?</h3>
    <p>To win a shirt, you must sign up on the
      Hacktoberfest site and make four pull requests on GitHub by October 31st.
      (Pull requests do not have to be merged and accepted; as long as they've been
      opened between the beginning of October 1 and the very end of October 31, they
      count towards a free T-shirt.)</p>
    <h3 class="title is-3">Where can I make pull requests?</h3>
    <p>Pull requests can be made in any
      GitHub-hosted repositories/projects.</p>
    <p>Have questions?</p>
    <p>
      Get in touch with our team by sending an email to
      <a href="mailto:hacktoberfestevents@digitalocean.com">hacktoberfestevents@digitalocean.com</a>.
    </p>
  </div>
</div>
