<div class="section">
  <div class="container">
    <div class="details">

      <h1 class="title is-1">Something went wrong with your authorization token on github</h1>

      <br/>
      <br/>
      <div class="line-br is-hidden-touch">
        <span class="line-br-1">-</span>
        <span class="line-br-2">-</span>
      </div>
      <br/>

      <h3 class="title is-3">
        Here's what you should try doing to see if we can get this sorted:
      </h3>

      <p>
        <span class="highlight">●</span> Revoke your auth token on github: 
        <a href="https://help.github.com/en/articles/reviewing-your-authorized-applications-oauth">
        https://help.github.com/en/articles/reviewing-your-authorized-applications-oauth </a>
      </p>
      <p>
        <span class="highlight">●</span> If the problem persists, please let us know by emailing
        <a href="mailto:hacktoberfest@digitalocean.com">hacktoberfest@digitalocean.com</a>.
      </p>

    </div>
  </div>
</div>
