<div class="section">
  <div class="container">
    <div class="details">
      <div class="errors">

        <h1 class="title is-1">Something went wrong when talking to GitHub...</h1>
        <p>
          Looks like the authorization token GitHub gave us for your account isn't behaving properly. :(
        </p>

        <br/>
          <div class="underline-div"></div>
        <br/>
        <br/>
        
        <h3 class="title is-3">
          Here's what you should try doing to see if we can get this sorted:
        </h3>

        <p>
          <span class="highlight">●</span> 
          <a href="https://help.github.com/en/articles/reviewing-your-authorized-applications-oauth">Revoke the
            Hacktoberfest application from your GitHub account</a> and then try logging into Hacktoberfest again.
        </p>
        <p>
          <span class="highlight">●</span> If the problem persists, please let us know by emailing
          <a href="mailto:hacktoberfest@digitalocean.com">hacktoberfest@digitalocean.com</a>.
        </p>

      </div>
    </div>
  </div>
</div>
