<main class="resources">
  <div class="container align-left">

    <h1 class="title">Shared commitment to reducing spam with Hacktoberfest</h1>
    
    <p><em>Posted 10/01/2020 13:00 UTC</em></p>

    <p>Over the past few hours, we have received feedback from open source maintainers about a noticeable uptick in spammy pull requests originating from Hacktoberfest participants.</p>

    <p>This is an aspect of Hacktoberfest that we, the organizers at DigitalOcean, are familiar with and have been working to improve upon since we started the program seven years ago. The reality is that this is not new to Hacktoberfest just as it is not new to the open source community.</p>

    <p>We often talk about intent versus impact and this is a classic example. Hacktoberfest aims to celebrate open source with positive engagement between contributors and maintainers alike. Unfortunately, the actions of some participants led to unintended consequences for all. They’ve overwhelmed maintainers and steamrolled other participants in an effort to receive a T-shirt they didn’t really earn.</p>

    <p>Every year, we make an active effort to decrease spam. From the beginning, we’ve been committed to working to shift the dynamics of Hacktoberfest away from rewarding spammy contributors toward encouraging learning, engagement, and growth.</p>
    
    <h2 class="title_small">What we&rsquo;re doing about it (right now):</h2>

    <p>We’ve traced some of the spammy contributions back to a Hacktoberfest promotional campaign, so <strong>we’ve paused all promotion of Hacktoberfest on networks like YouTube, Twitter, and Facebook</strong> until we get a handle on this.</p>

    <p>Additionally, over the past few years we’ve added <a href="/details#values">values</a> (<a href="/details#quality">quality over quantity</a>), rules (<a href="/details#spam">no spam allowed</a>), and features (<a href="/details#spam">invalid label</a>) to allow maintainers to flag bad PRs and opt their repos out of the contest entirely, but we recognize we need to do more to get to the root of the problem that has emerged:</p>

    <blockquote>Bad participants are making contributions to big open source projects on GitHub that waste maintainers valuable time and resources.</blockquote>

    <p>Since we likely can’t change the behavior of these participants entirely, we are creating a shortcut for these participants to get their shirt and move on, without having to spam repositories on GitHub.</p>

    <p>Here are the specific changes we are working toward to accommodate this:</p>
    
    <ol>
      <li>Recommending a new “shortcut” path towards getting a T-shirt by creating pull requests to your own repository (something we discouraged in the past).</li>
      <li>Writing documentation to make the new path towards completion quick and simple.</li>
      <li>Communicating these changes to all participants via website, email, and social media.</li>
    </ol>

    <p>It’s impossible to stop 100% of bad participants at the door, but we hope these changes will at least prevent them from wasting other people’s time. We understand this might diminish the sense of accomplishment we all feel when making quality contributions. However, we see it as our responsibility to ensure Hacktoberfest is helping benefit the community and we don’t want the actions of these bad participants to undermine that goal. We also won’t stop here to improve the program.</p>
    
    <h2 class="title_small">What we’re doing about it (next year):</h2>

    <p>The Hacktoberfest mission has always been to celebrate the best parts of the open source community. We’re committed to evolving the program to ensure it’s delivering on that mission.</p>

    <p><strong>Here’s our plan for 2021:</strong></p>

    <ul>
      <li>Update the fundamental mechanics and incentive structure of Hacktoberfest.</li>
      <li>Invest in education of open source best practices throughout the entire year, not just in September and October.</li>
      <li>Continue to organize roundtables with maintainers for continuous feedback.</li>
      <li>Find additional ways to reward and compensate maintainers for your time and energy.</li>
    </ul>

    <h2 class="title_small">Hacktoberfest is making a positive impact</h2>

    <p>There is still work to be done and we certainly don’t want to downplay the very real challenges discussed above. However, we also don’t want to lose sight of why we started Hacktoberfest in the first place.</p>

    <p>Hacktoberfest is a program for learning</p>

    <ul>
      <li>We have heard countless stories of folks who participated in Hacktoberfest as an entry way into the open source community and went on to become consistent contributors, maintainers, and more. <a href="https://dev.to/mars/how-hacktoberfest-2019-gave-me-that-drive-to-push-forward-with-programming-again-422f">Here are</a> <a href="https://www.freecodecamp.org/news/my-first-hacktoberfest-experiences-of-contributing-to-open-source-as-a-first-timer-b538f7c129dc/">just a few examples</a>. And while some folks first join to get the T-shirt, many of them end up staying because of the value it brings to all that are involved including them &ndash; <a href="https://twitter.com/ryzokuken/status/1202640813756280833">as shown here</a> <a href="https://twitter.com/NathanPickard/status/1195094220458975232">and here</a>.</li>
    </ul>

    <p>Hacktoberfest is a program for connecting</p>

    <ul>
      <li>Last year 673 Hacktoberfest events were organized in 73 countries, connecting folks from different backgrounds and helping beginners get started in contributing. Hacktoberfest strives to make the community more approachable and more inclusive for individuals as well as teams. <a href="https://twitter.com/innogames/status/1182274568540557312">Here are some examples</a> <a href="https://twitter.com/JoePFerguson/status/1179177976442675206">that</a> <a href="https://twitter.com/crgrieve/status/1179124091766345728">show this</a>. We&rsquo;re proud that many companies have also leveraged the program to come together to contribute as a team-building experience &ndash; <a href="https://twitter.com/ZenikaOSS/status/1229725692348239873">as we</a> <a href="https://twitter.com/gnahs_devs/status/1223304855193866247">see here</a>.</li>
    </ul>

    <p>Hacktoberfest is a program for growing</p>

    <ul>
      <li>Companies have turned to the program to drive more contributions and many maintainers have also experienced additions of much-requested features, bug fixes, translations, documentation improvements, and so much more. <a href="https://twitter.com/yoyehudi/status/1223250418517598208">Many</a> <a href="https://devblogs.microsoft.com/xamarin/hacktoberfest-awards-xamarin/">of</a> <a href="https://blog.aquasec.com/2019-aqua-hacktoberfest-results">these</a> <a href="https://twitter.com/gatsbyjs/status/1192136571341942784">can highlight</a> <a href="https://blog.chef.io/thanks-hacktoberfest-hackers/">this as well</a>.</li>
    </ul>

    <p>As always, our Hacktoberfest communication channels are wide open. We review every inquiry that comes our way and we look forward to hearing and learning from this year’s Hacktoberfest to make it better. You can email us at <a href="mailto:hacktoberfest@digitalocean.com">hacktoberfest@digitalocean.com</a> if you have more ideas on how we can improve Hacktoberfest and give back to the open source community.</p>

    <p>
      Thank you and happy hacking,
      <br/>Hacktoberfest Team at DigitalOcean
    </p>
  </div>
</main>
