<main class="resources">
  <div class="container align-left">

    <h1 class="title">UPDATED: An update on efforts to reduce spam with Hacktoberfest: introducing maintainer opt-in and more.</h1>

    <p><em>Posted at 10/03/2020 02:30 UTC</em></p>

    <p><i>Updated (10/05/2020 15:00 UTC): Individual pull requests can also be directly opted-in to Hacktoberfest with the ‘hacktoberfest-accepted’ label, on any public GitHub repository, without the need for the ‘hacktoberfest’ repository topic.</i></p>

    <p>Thank you to everyone who has reached out with ideas and suggestions to help Hacktoberfest live its values of celebrating and fostering the open source community.</p>

    <p>After working closely with our friends at GitHub, we are happy to introduce a new measure to help significantly reduce the amount of spammy contribution. <strong>We’re making Hacktoberfest opt-in only for projects – which maintainers can do simply by adding the ‘hacktoberfest’ topic to a repository.</strong></p>

    <p>This was one of the primary requests from maintainers and we are hopeful that it will help alleviate some of the issues you've been facing.</p>
    
    <p>We will honor all valid pull requests prior to this change, and as of October 3, 2020 at 12:00:00 UTC – and October 3 in <em>all</em> time zones – pull requests will only count toward earning a T-shirt or planting a tree if they are labeled as ‘hacktoberfest-accepted’ by a maintainer, or submitted in a repository classified with the <a href="https://github.com/topics/hacktoberfest">‘hacktoberfest’ topic</a>. Pull requests in repositories with the ‘hacktoberfest’ topic will also need to be merged, approved by a maintainer, or labeled as ‘hacktoberfest-accepted’ in order to qualify. The deadline for completions, merging, labeling, and approving is November 1.</p>

    <p>To put it in terms that folks will more easily understand:</p>

    <blockquote>
      PRs count if:
      <br/>Submitted during the month of October AND (
      <br/>&nbsp;&nbsp;The PR is labelled as <code>hacktoberfest-accepted</code> by a maintainer OR
      <br/>&nbsp;&nbsp;Submitted in a repo with the <code>hacktoberfest</code> topic AND (
      <br/>&nbsp;&nbsp;&nbsp;&nbsp;The PR is merged OR
      <br/>&nbsp;&nbsp;&nbsp;&nbsp;The PR has been approved
      <br/>&nbsp;&nbsp;)
      <br/>)
    </blockquote>

    <p><strong>A note to maintainers:</strong> Due to this change, you no longer need to opt out of Hacktoberfest.  Instead, we invite you to <a href="https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/classifying-your-repository-with-topics">classify your repository with the hacktoberfest topic</a> and <a href="https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/applying-labels-to-issues-and-pull-requests">apply hacktoberfest-accepted labels to pull requests</a> you want to accept. We’ve included a few gifs below to show you how simple this can be.</p>
    
    <p>Classifying a repository as ‘hacktoberfest’ eligible</p>

    <img src="https://hacktoberfest-assets.nyc3.cdn.digitaloceanspaces.com/hacktoberfest-eligible-gif.gif" alt="hacktoberfest eligible"/>
    <br>
    
    <p>Labeling a pull request ‘hacktoberfest-accepted’</p>

    <img src="https://hacktoberfest-assets.nyc3.cdn.digitaloceanspaces.com/hacktoberfest-label-add-gif-min.gif" alt="label pr hacktoberfest-accepted"/>

    <p>Thank you so much to all the event organizers and contributors. We’re really excited to see all of the great contributions you have made already and will continue to make to the participating repositories. To find all the participating repositories, visit the <a href="https://hacktoberfest.digitalocean.com/">Hacktoberfest homepage</a> or go directly to <a href="https://github.com/topics/hacktoberfest">the list on Github</a>.</p>

    <p>We appreciate everyone doing their part to make Hacktoberfest a more welcoming and positive experience for the global community. Please help spread the word far and wide to get more repositories to opt in and partake. And, as always, we are here to listen and help. Please reach out with any questions to <a href="mailto:hacktoberfest@digitalocean.com">hacktoberfest@digitalocean.com</a>.</p>

    <p>We’re excited to see what you build!</p>

    <p>
    Sincerely,
    <br/>Hacktoberfest team
    </p>

    <p>P.S. We are looking forward to hearing from and connecting with maintainers. Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSdb2uld_Ln43cWn0Xvfe64S59us38SHl510tHWafTRpctzXOA/viewform">join us for a community roundtable discussion</a> if you have more input to share with the Hacktoberfest team.</p>

    <hr/>

    <h1 class="title">Shared commitment to reducing spam with Hacktoberfest</h1>
    
    <p><em>Updated at 10/01/2020 13:00 UTC</em></p>

    <p>Since the start of Hacktoberfest 2020, open source maintainers have experienced a noticeable uptick in spammy pull requests originating from Hacktoberfest participants. As of 2pm PST on October 1, <em>at least</em> 4% of pull requests from Hacktoberfest participants have been marked ‘invalid’ or ‘spam.’</p>

    <p>We’ve traced the majority of this year’s spammy contributions back to a participant with a large online audience who openly encouraged their community to take part in spammy activities, including ideas on how to game the system. However, we know the spam issues go beyond  this one example. This is an aspect of Hacktoberfest we have been working to improve since we started the program seven years ago.</p>

    <p>We apologize for the impact this spam is having on the community. We often talk about intent versus impact and this is a classic example. Hacktoberfest aims to celebrate open source with positive engagement between contributors and maintainers alike. Unfortunately, the actions of some participants led to unintended consequences for all. They’ve overwhelmed maintainers and steamrolled other participants in an effort to receive a T-shirt they didn’t really earn.</p>

    <p>Despite this, we are confident that, with your help, we can make things better. We’ve already started making changes to the program to help reduce spam and there is much more work planned in the days ahead.</p>

    <h2 class="title_small">What we&rsquo;re doing about it (right now):</h2>

    <p><strong class="underline">Excluding and banning:</strong></p>
    
    <p>In past years, we tried labelling issues “invalid” and “spam” to deter participants from spamming repositories. Unfortunately this has not made as much impact as we had hoped. Therefore, we’re adding new ways to discourage participants from spamming.</p>

    <ol>
      <li>
        <s>For maintainers, we’re building on an existing idea and doubling down on an <strong>excluded repository list</strong> for Hacktoberfest. If you don’t want pull requests to your repositories counted toward Hacktoberfest, send us the info in an email to <a href="mailto:hacktoberfestmaintainers@digitalocean.com">hacktoberfestmaintainers@digitalocean.com</a>.</s>
        <i>Updated (10/03/2020 00:00 UTC): We have now made Hacktoberfest opt-in, please see our updated response above.</i>
      </li>
      <li>We are also implementing a <strong>banning system</strong> that reviews and bans users with with too many flagged PR’s. This can result in exclusion from all future Hacktoberfests, not just this one.</li>
      <li>This year, we’re also <strong>extending the validation period</strong> from one week to 14 days. This will give maintainers more time to review pull requests before contributors earn their shirts.</li>
    </ol>
    
    <p><strong class="underline">Onboarding overhaul:</strong></p>

    <p>For participants of Hacktoberfest, the first step is always the onboarding journey of connecting their GitHub account, sharing their email, and agreeing to the program rules. Since we know that many participants skip over this important step, we’re creating a <strong>mandatory onboarding flow</strong> requiring each new participant to learn the rules and some specific dos and don'ts. We will also share this information with the nearly 100K participants who have already registered. </p> 

    <p>Going forward, every participant will have an <strong>entirely revamped profile page</strong> to highlight a few key pieces of information. We want to educate users so they can provide quality contributions. However, we will also include some ways for them to more easily earn a shirt so they don’t need to resort to spamming.</p>

    <p><strong class="underline">Communicating our community's concern:</strong></p>

    <p>We also know communication is key and we can’t solve this issue all on our own. We plan to talk to maintainers across the community so we can hear more about their experience with Hacktoberfest and come up with solutions together. We’re setting up 20 maintainer roundtable sessions over the next week in all global time zones to gather feedback and ideas.</p> 

    <p>Lastly, we’re working closely with our sponsors to find more and more ways to reduce the amount of spam. A shining example of this is GitHub’s new addition of <a href="https://twitter.com/github/status/1311772722234560517">interaction limits</a>, as well as the team at DEV who have put together a helpful <a href="https://dev.to/devteam/hacktoberfest-etiquette-for-contributors-ec6">Contributor Etiquette Guide</a>.</p>

    <h2 class="title_small">Where (else) do we go from here?</h2>

    <p><strong>To the maintainers:</strong> We’re sorry that these unintended consequences of Hacktoberfest have made more work for many of you. We know there is more work to do, which is why we ask that you please <a href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdb2uld_Ln43cWn0Xvfe64S59us38SHl510tHWafTRpctzXOA/viewform?usp=send_form">join us for a community roundtable discussion</a> where we promise to listen and take actions based on your ideas.</p>
    
    <p><strong>To the event organizers and attendees:</strong> We’re committed to the original mission of getting people positively involved in open source. For all the folks who have had events already, we thank you for your support and your contributions to the community.</p>

    <p><strong>To the contributors:</strong> We know that Hacktoberfest has been a rewarding experience for many of you and we don’t want to lose sight of that. We ask that you please refrain from making spammy contributions that undermine the rules and values of Hacktoberfest. We know the majority of our participants are here to learn and grow through quality contributions. <strong>Please continue to help us make a positive impact on the community</strong> by <a href="https://hacktoberfest.digitalocean.com/details">reading the resources</a>, <a href="https://dev.to/devteam/whos-participating-in-hacktoberfest-2020-gh1s">connecting with others on DEV</a>, or <a href="https://raise.dev/hacktoberfest">joining a helpdesk session</a>.</p> 

    <p>As always, our Hacktoberfest communication channels are wide open. We review every inquiry that comes our way and we look forward to hearing and learning from this year’s Hacktoberfest to make it better. You can email us at <a href="mailto:hacktoberfest@digitalocean.com">hacktoberfest@digitalocean.com</a> if you have more ideas on how we can improve Hacktoberfest and give back to the open source community.</p>

    <p>
      Sincerely,
      <br/>Hacktoberfest team at DigitalOcean
    </p>

    <p>P.S. And if you’re still looking for some great projects to contribute <em>quality pull requests</em> to this Hacktoberfest, we encourage you to check out <a href="https://osmihelp.org/">OSMI</a> (Open Sourcing Mental Illness Help) and the <a href="http://mhprompt.org/">mental health prompt</a>.
  </div>
</main>
