<main class="resources">
  <div class="container align-left">

    <h1 class="title">Update on our commitment to reducing spam in Hacktoberfest</h1>
    
    <br><em>Posted 10/01/2020 03:00 UTC</em>

    <p>Over the past few hours, we have received feedback from open source maintainers about a noticeable uptick in spammy pull requests originating from Hacktoberfest participants.</p>

    <p>This is an aspect of Hacktoberfest, we the organizers (at DigitalOcean), are familiar with and have been working to address since we started the program seven years ago.</p>

    <p>Hacktoberfest aims to celebrate open source with positive engagement between contributors and maintainers alike. Unfortunately, the negative actions of some participants can lead to unintended consequences for all. They&rsquo;ve overwhelmed maintainers and steamrolled other participants in an effort to receive a t-shirt they didn&rsquo;t really earn.</p>

    <p>Every year, we make an active commitment towards decreasing spam. Now, in the seventh year, we need to work <em>even harder</em> to shift the dynamics of Hacktoberfest away from rewarding spammy contributors toward encouraging learning, engagement, and growth.</p>
    
    <h2 class="title_small">What we&rsquo;re doing about it (right now):</h2>

    <p>We’ve traced some of the spammy contributions back to a Hacktoberfest promotional campaign, so we’ve paused all promotion of Hacktoberfest on networks like YouTube, Twitter, and Facebook until we get a handle on this.</p>

    <p>Additionally, over the past few years we’ve added values <a href="/details#values">values</a> (<a href="/details#quality">quality over quantity</a>) rules (<a href="/details#spam">no spam allowed</a>) and features (<a href="/details#spam">invalid label</a>) to allow maintainers to flag bad PR&rsquo;s and opt their repos out of the contest entirely, <em>but we need to do more to get at the root of the problem that has emerged</em>:</p>
    
    <blockquote>Bad participants are opening spammy PR's on existing Open Source projects on GitHub that waste maintainers valuable time and resources.</blockquote>

    <p>Since we likely can’t change the behavior of these participants entirely, we are creating a clear shortcut for these participants to get their shirt and move on, without having to spam repositories on GitHub.</p>

    <p><strong>Here are the specific changes we are working toward to accommodate this:</strong></p>
    
    <ol>
      <li>We are highlighting a "Beginner" path that is clearly marked as the "fastest way to get a T-Shirt" and guides users through creating pull requests on their <em>own repository</em>.</li>
      <li>We are publishing documentation to make the new path towards completion quick and simple.</li>
      <li>We are communicating these changes to all participants via website, email, and social media.</li>
    </ol>

    <p>It’s impossible to stop 100% of bad participants at the door, but we hope these changes will at least prevent them from wasting other people’s time. We understand this might diminish the sense of accomplishment we all feel when making quality contributions. However, we see it as our responsibility to ensure Hacktoberfest is helping benefit the community and we don’t want the actions of these bad participants to undermine that goal. We also won’t stop here to improve the program.</p>
    
    <h2 class="title_small">What we&rsquo;re doing about it (next year):</h2>

    <p>The Hacktoberfest mission has always been to celebrate the best parts of the open source community. We’re committed to evolving the program to ensure it’s delivering on that mission.</p>
    <p><strong>Here&rsquo;s our plan for 2021:</strong></p>
    <ul>
      <li>Update the fundamental mechanics and incentive structure of Hacktoberfest.</li>
      <li>Invest in education throughout the entire year, not just in September and October.</li>
      <li>Continue to organize round tables with maintainers for continuous feedback.</li>
      <li>Find additional ways to reward and compensate maintainers for your time and energy.</li>
    </ul>

    <h2 class="title_small">Hacktoberfest is making a positive impact</h2>

    <p>This section is not meant to downplay the very real issues discussed above. This is not an alternate reality, it&rsquo;s a shared one which we are all in together. While it&rsquo;s okay for it to hurt to hear Hacktoberfest being called a &ldquo;net negative&rdquo; for open source, we want to call attention to some of the wonderful things that happen as a result of the program:</p>
    <p><strong>Hacktoberfest as a program for learning</strong></p>
    <ul>
    <li>After seven years, we have heard countless stories (like <a href="https://dev.to/mars/how-hacktoberfest-2019-gave-me-that-drive-to-push-forward-with-programming-again-422f">this one</a> and <a href="https://www.freecodecamp.org/news/my-first-hacktoberfest-experiences-of-contributing-to-open-source-as-a-first-timer-b538f7c129dc/">this one</a>) of folks who participated in Hacktoberfest as an entry way into the open source community and went on to become consistent contributors, maintainers, and more.  And while some folks first join to get the t-shirt, <a href="https://twitter.com/ryzokuken/status/1202640813756280833">many</a> of <a href="https://twitter.com/NathanPickard/status/1195094220458975232">them</a> end up staying because of the value it brings to all that are involved.</li>
    </ul>
    <p><strong>Hacktoberfest as a program for connecting</strong></p>
    <ul>
    <li>Last year 673 events were organized in 73 countries for Hacktoberfest to connect folks from different backgrounds and help beginners get started in contributing.</li>
    <li>Hacktoberfest has also become a channel to bring folks from all different backgrounds to the open source community, something we hope everyone is excited about.&nbsp;</li>
    <li>We also saw teams within companies coming together to contribute to open source as a team-building experience.</li>
    </ul>
    <p><strong>Hacktoberfest as a program for growing</strong></p>
    <ul>
    <li>Companies have turned to the program to drive more contributions and maintainers, while overwhelmed have also experienced additions of much-requested features, bug fixes, translations, documentation improvements and so much more.</li>
    </ul>
    <p>As always, our Hacktoberfest communication channels are wide open. We review every inquiry that comes our way and we look forward to hearing and learning from this year&rsquo;s Hacktoberfest to make it better. Email is to <a href="mailto:hacktoberfest@digitalocean.com">hacktoberfest@digitalocean.com</a> if you have more ideas on how.&nbsp;</p>
    <p>Thank you and happy hacking</p>
    <p>Hacktoberfest Team at DigitalOcean</p>
  </div>
</main>
