<main class="resources">
  <div class="container">
    <h1 class="title">Update on our commitment to reducing spam in Hacktoberfest</h1>
    <em>Posted 10/01/2020</em>
    <p>Over the past few hours, we have received feedback from open source maintainers about a noticeable uptick in spammy pull requests originating from Hacktoberfest participants.&nbsp;</p>
    <p>This is an aspect of Hacktoberfest, we the organizers (at DigitalOcean), are familiar with and have been working to address since we started the program seven years ago.</p>
    <p>We often talk about intent versus impact and this is a classic example. Hacktoberfest aims to celebrate open source with positive engagement between contributors and maintainers alike. Unfortunately, the actions of bad participants led to unintended consequences for all. They&rsquo;ve overwhelmed maintainers and steamrolled other participants in an effort to receive a t-shirt they didn&rsquo;t really earn.</p>
    <p>Every year, we make an active commitment towards decreasing spam. Now, in the seventh year, we need to work even harder to shift the dynamics of Hacktoberfest away from rewarding spammy contributors toward encouraging learning, engagement, and growth.&nbsp;</p>
    
    <h2 class="title_small">What we&rsquo;re doing about it (right now):</h2>

    <p>We&rsquo;ve traced some of the spammy contributions back to a Hacktoberfest promotional campaign, so <em>we&rsquo;ve paused all promotion of Hacktoberfest on networks like YouTube, Twitter, and Facebook</em> until we get a handle on ensuring we aren&rsquo;t causing spammy pull requests.</p>
    <p>As Hacktoberfest has evolved over the years we&rsquo;ve added <a href="/details#values">values</a> (<a href="/details#quality">quality over quantity</a>) rules (<a href="/details#spam">no spam allowed</a>) and features (<a href="/details#spam">invalid label</a>) to allow maintainers to flag bad PR&rsquo;s and opt their repos out of the contest entirely, <em>but we need to do more to get at the root of the problem that has emerged</em>:</p>
    
    <blockquote>Bad participants are making contributions to existing Open Source projects on GitHub that waste maintainers valuable time and resources.</blockquote>

    <p>Since we don&rsquo;t anticipate being able to change the behavior of these participants entirely, and the contest has already started, we are creating a shortcut (that doesn't involve spamming repositories on GitHub) for the &ldquo;bad participants&rdquo; to get their shirt and move on.&nbsp;</p>

    <p>Here are the specific changes we are working toward to accommodate this change:</p>
    
    <ol>
      <li>Recommending a new &ldquo;shortcut&rdquo; path towards getting a t-shirt by creating pull requests to your own repository (something we discouraged in the past.)</li>
      <li>Writing documentation to make the new path towards completion quick and simple.&nbsp;</li>
      <li>Communicate these changes to all participants via website, email, and social media.</li>
    </ol>

    <p>With this approach, we are recognizing that it&rsquo;s impossible to stop 100% of bad participants at the door, but we hope these changes will at least stop them from wasting other people&rsquo;s time. We also recognize that this might diminish the sense of accomplishment we all feel when making quality contributions and hence why we won&rsquo;t stop here to improve the program.</p>

    <p>These are changes we are making now. A few other changes we made this year are: together with our community partners, we launched Preptember in September by creating and promoting content with the sole purpose of educating people on how to make quality contributions. We introduced the &ldquo;Pick Trees, Not Tees&rdquo; option so as to limit environmental impact and take more of the focus off the t-shirt. And lastly, we are also rewarding some maintainers for their time by offering to donate to their projects.</p>
    
    <h2 class="title_small">What we&rsquo;re doing about it (next year):</h2>
    <p>The Hacktoberfest mission has always been to celebrate the best parts of the open source community. We&rsquo;re committed to evolving the event to ensure it&rsquo;s delivering on that mission.</p>
    <p><strong>Here&rsquo;s our plan for 2021:</strong></p>
    <ul>
    <li>Update the fundamental mechanics and incentive structure of Hacktoberfest</li>
    <li>Invest in education throughout the entire year, not just in September and October</li>
    <li>Continue to organize round tables with maintainers for continuous feedback&nbsp;</li>
    <li>Find additional ways to reward and compensate maintainers for your time and energy&nbsp;</li>
    </ul>


    <h2 class="title_small">For perspective, some ways Hacktoberfest is making a positive impact:</h2>
    <p>This section is not meant to downplay the very real issues discussed above. This is not an alternate reality, it&rsquo;s a shared one which we are all in together. While it&rsquo;s okay for it to hurt to hear Hacktoberfest being called a &ldquo;net negative&rdquo; for open source, we want to call attention to some of the wonderful things that happen as a result of the program:</p>
    <p>Hacktoberfest as a program for learning</p>
    <ul>
    <li>After seven years, we have heard countless stories of folks who participated in Hacktoberfest as an entry way into the open source community and went on to become consistent contributors, maintainers, and more. <a href="https://dev.to/mars/how-hacktoberfest-2019-gave-me-that-drive-to-push-forward-with-programming-again-422f">Here are</a><a href="https://www.freecodecamp.org/news/my-first-hacktoberfest-experiences-of-contributing-to-open-source-as-a-first-timer-b538f7c129dc/">just a few examples</a>. And while some folks first join to get the t-shirt, many of them end up staying because of the value it brings to all that are involved including them. <a href="https://twitter.com/ryzokuken/status/1202640813756280833">As shown here</a><a href="https://twitter.com/NathanPickard/status/1195094220458975232">and here</a>.&nbsp;</li>
    </ul>
    <p>Hacktoberfest as a program for connecting</p>
    <ul>
    <li>Last year 673 events were organized in 73 countries for Hacktoberfest to connect folks from different backgrounds and help beginners get started in contributing. .<a href="https://twitter.com/innogames/status/1182274568540557312">Examples to show</a><a href="https://twitter.com/JoePFerguson/status/1179177976442675206">a</a><a href="https://twitter.com/crgrieve/status/1179124091766345728">few</a>.</li>
    <li>Hacktoberfest has also become a channel to bring folks from all different backgrounds to the open source community, something we hope everyone is excited about.&nbsp;</li>
    <li>We also sawteams within companies coming together to contribute to open source as a team-building experience. <a href="https://twitter.com/ZenikaOSS/status/1229725692348239873">As we</a><a href="https://twitter.com/gnahs_devs/status/1223304855193866247">see here</a>.</li>
    </ul>
    <p>Hacktoberfest as a program for growing</p>
    <ul>
    <li>Companies have turned to the program to drive more contributions and maintainers, while overwhelmed have also experienced additions of much-requested features, bug fixes, translations, documentation improvements and so much more. <a href="https://twitter.com/yoyehudi/status/1223250418517598208">Many</a><a href="https://devblogs.microsoft.com/xamarin/hacktoberfest-awards-xamarin/">of</a><a href="https://blog.aquasec.com/2019-aqua-hacktoberfest-results">these</a><a href="https://twitter.com/gatsbyjs/status/1192136571341942784">to highlight</a><a href="https://blog.chef.io/thanks-hacktoberfest-hackers/">as well</a>.</li>
    </ul>
    <p>As always, our Hacktoberfest communication channels are wide open. We review every inquiry that comes our way and we look forward to hearing and learning from this year&rsquo;s Hacktoberfest to make it better. Email is to <a href="mailto:hacktoberfest@digitalocean.com">hacktoberfest@digitalocean.com</a> if you have more ideas on how.&nbsp;</p>
    <p>Thank you and happy hacking</p>
    <p>Hacktoberfest Team at DigitalOcean</p>
  </div>
  
</main>
