<div class="section">
  <div class="container">
    <div class="details">

      <h1 class="title is-1">Hacktoberfest has ended</h1>
      <p>
        Registrations are now closed.

        Hope to see you next year!
      </p>

      <br/>
      <br/>
      <div class="line-br is-hidden-touch">
        <span class="line-br-1">-</span>
        <span class="line-br-2">-</span>
      </div>
      <br/>

      <h3 class="title is-3">
        Back to the <a href="/">homepage</a>
      </h3>
    </div>
  </div>
</div>
