<main class="home" id="main-home">
  <% if !@hacktoberfest_ended %>
    <%= render partial: 'pages/homepage/closing_homepage', locals: { global_stats: @global_stats } %>
  <% else %>
    <%= render partial: 'pages/homepage/active_homepage', locals: { projects: @projects, climate_repositories: @climate_repositories, events: @events } %>
  <% end %>
</main>
<script type="text/javascript">
  setupHomeImageSwap();
  setupLanguageFilter();
  setupPRsOpenedChart();
</script>
