---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_USER_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1567542604'
      Etag:
      - W/"f219fc2cf315311448762a32309ad00e"
      Last-Modified:
      - Thu, 22 Aug 2019 14:27:15 GMT
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2a86dccabd1ede1c7b03
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"mkcode","id":283496,"node_id":"MDQ6VXNlcjI4MzQ5Ng==","avatar_url":"https://avatars2.githubusercontent.com/u/283496?v=4","gravatar_id":"","url":"https://api.github.com/users/mkcode","html_url":"https://github.com/mkcode","followers_url":"https://api.github.com/users/mkcode/followers","following_url":"https://api.github.com/users/mkcode/following{/other_user}","gists_url":"https://api.github.com/users/mkcode/gists{/gist_id}","starred_url":"https://api.github.com/users/mkcode/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mkcode/subscriptions","organizations_url":"https://api.github.com/users/mkcode/orgs","repos_url":"https://api.github.com/users/mkcode/repos","events_url":"https://api.github.com/users/mkcode/events{/privacy}","received_events_url":"https://api.github.com/users/mkcode/received_events","type":"User","site_admin":false,"name":"Chris
        Ewald","company":"Raise.dev","blog":"","location":"NYC","email":null,"hireable":null,"bio":null,"public_repos":54,"public_gists":19,"followers":15,"following":4,"created_at":"2010-05-21T15:58:58Z","updated_at":"2019-08-22T14:27:15Z"}'
  recorded_at: Tue, 03 Sep 2019 19:30:05 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?q=is:pr%20user:%20Chris%20Ewald
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_USER_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1567539064'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2a86dccabd1ede1c7b03
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":3,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/parasew/instiki/issues/16","repository_url":"https://api.github.com/repos/parasew/instiki","labels_url":"https://api.github.com/repos/parasew/instiki/issues/16/labels{/name}","comments_url":"https://api.github.com/repos/parasew/instiki/issues/16/comments","events_url":"https://api.github.com/repos/parasew/instiki/issues/16/events","html_url":"https://github.com/parasew/instiki/pull/16","id":7912603,"node_id":"MDExOlB1bGxSZXF1ZXN0Mjc5Njk1OQ==","number":16,"title":"Running
        on heroku","user":{"login":"mkcode","id":283496,"node_id":"MDQ6VXNlcjI4MzQ5Ng==","avatar_url":"https://avatars2.githubusercontent.com/u/283496?v=4","gravatar_id":"","url":"https://api.github.com/users/mkcode","html_url":"https://github.com/mkcode","followers_url":"https://api.github.com/users/mkcode/followers","following_url":"https://api.github.com/users/mkcode/following{/other_user}","gists_url":"https://api.github.com/users/mkcode/gists{/gist_id}","starred_url":"https://api.github.com/users/mkcode/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mkcode/subscriptions","organizations_url":"https://api.github.com/users/mkcode/orgs","repos_url":"https://api.github.com/users/mkcode/repos","events_url":"https://api.github.com/users/mkcode/events{/privacy}","received_events_url":"https://api.github.com/users/mkcode/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":21,"created_at":"2012-10-27T17:20:56Z","updated_at":"2019-04-09T04:13:42Z","closed_at":"2016-05-27T05:00:34Z","author_association":"NONE","pull_request":{"url":"https://api.github.com/repos/parasew/instiki/pulls/16","html_url":"https://github.com/parasew/instiki/pull/16","diff_url":"https://github.com/parasew/instiki/pull/16.diff","patch_url":"https://github.com/parasew/instiki/pull/16.patch"},"body":"Hi,\n\nJust
        did the bare minimum changes to get instiki running on heroku. Uses the latest
        instiki and runs on the latest heroku cedar stack.\n\nThis isn''t a real pull
        request. Just letting you know!\n","score":1.3849164},{"url":"https://api.github.com/repos/syl20bnr/spacemacs/issues/2676","repository_url":"https://api.github.com/repos/syl20bnr/spacemacs","labels_url":"https://api.github.com/repos/syl20bnr/spacemacs/issues/2676/labels{/name}","comments_url":"https://api.github.com/repos/syl20bnr/spacemacs/issues/2676/comments","events_url":"https://api.github.com/repos/syl20bnr/spacemacs/issues/2676/events","html_url":"https://github.com/syl20bnr/spacemacs/pull/2676","id":101306389,"node_id":"MDExOlB1b[...]
