---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($nodeId:ID!){\n  node(id:$nodeId) {\n    ... on User
        {\n      pullRequests(states: [OPEN, MERGED, CLOSED] last: 100) {\n        nodes
        {\n          id\n          title\n          body\n          url\n          createdAt\n          repository{\n            databaseId\n          }\n          labels(first:
        100) {\n            edges {\n              node {\n                name\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"nodeId":"MDQ6VXNlcjYyOTYwMg=="}}'
    headers:
      Authorization:
      - bearer <TEST_USER_GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4678'
      X-Ratelimit-Reset:
      - '1569988773'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"node":{"pullRequests":{"nodes":[{"id":"MDExOlB1bGxSZXF1ZXN0OTczNDMyNg==","title":"Allows
        floating point NoData/NULLVALUEs for floating point images.","body":"For floating
        point DEM inputs, I needed specify a floating point NoData value so that it
        would be included in the output. It was being truncated as an integer, when
        it should have parsed it as a float.\n","url":"https://github.com/mapserver/mapserver/pull/4805","createdAt":"2013-11-06T20:47:11Z","repository":{"databaseId":3921611},"labels":{"edges":[]}},{"id":"MDExOlB1bGxSZXF1ZXN0MTA2MjUzMTM=","title":"Removed
        padding that caused black borders for vimeo videos.","body":"When embedding
        vimeo media, the additional padding causes a black border to appear at the
        top/bottom of the video. Tested by using the iframe below in a video post.\n\n```\n<iframe
        src=\"//player.vimeo.com/video/22439234\" width=\"500\" height=\"281\" frameborder=\"0\"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>\n```\n","url":"https://github.com/justintadlock/stargazer/pull/16","createdAt":"2013-12-08T08:19:51Z","repository":{"databaseId":14230306},"labels":{"edges":[]}}]}}}}'
  recorded_at: Wed, 02 Oct 2019 03:01:09 GMT
recorded_with: VCR 5.0.0
