---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/emails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_USER_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1567097148'
      Etag:
      - W/"50260fb843fa233a5a16cbafd1a83d8a"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - user, user:email
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"email":"fridakahsas@yahoo.com","primary":true,"verified":true,"visibility":"private"},{"email":"40510669+fridaland@users.noreply.github.com","primary":false,"verified":true,"visibility":null}]'
  recorded_at: Thu, 29 Aug 2019 15:45:48 GMT
[...]
- request:
    method: post
    uri: https://api.segment.io/v1/import
    body:
      encoding: UTF-8
      string: '{"sentAt":"2019-09-13T16:13:41.943-04:00","batch":[{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{"pull_requests_count":0},"options":null,"timestamp":"2019-09-13T16:13:41.461-04:00","type":"identify","messageId":"9e36b4ed-7e03-49cc-b08b-c21fda2d7e44"},{"event":"user_ineligible","userId":1,"anonymousId":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"options":null,"integrations":null,"properties":{},"timestamp":"2019-09-13T16:13:41.461-04:00","type":"track","messageId":"23a16279-72fb-414a-94f7-7a01031f3ce2"},{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{"state":"ineligible"},"options":null,"timestamp":"2019-09-13T16:13:41.461-04:00","type":"identify","messageId":"228109c6-f334-41d5-a370-4d5c405e40eb"},{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{"pull_requests_count":0},"options":null,"timestamp":"2019-09-13T16:13:41.526-04:00","type":"identify","messageId":"072ece51-991a-489a-bb7f-95f8c9678bce"},{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"n[...]
