---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/emails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2495c12927057ce6b908a520bb2d7fb716b63b09
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1567097148'
      Etag:
      - W/"50260fb843fa233a5a16cbafd1a83d8a"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - user, user:email
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"email":"fridakahsas@yahoo.com","primary":true,"verified":true,"visibility":"private"},{"email":"40510669+fridaland@users.noreply.github.com","primary":false,"verified":true,"visibility":null}]'
  recorded_at: Thu, 29 Aug 2019 15:45:48 GMT
- request:
    method: get
    uri: https://api.github.com/user/emails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 2495c12927057ce6b908a520bb2d7fb716b63b09
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1567097148'
      Etag:
      - W/"50260fb843fa233a5a16cbafd1a83d8a"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - user, user:email
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"email":"fridakahsas@yahoo.com","primary":true,"verified":true,"visibility":"private"},{"email":"40510669+fridaland@users.noreply.github.com","primary":false,"verified":true,"visibility":null}]'
  recorded_at: Thu, 29 Aug 2019 15:46:04 GMT
recorded_with: VCR 5.0.0
