---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($nodeId:ID!){\n  node(id:$nodeId) {\n    ... on User
        {\n      pullRequests(states: [OPEN, MERGED, CLOSED] last: 100) {\n        nodes
        {\n          id\n          title\n          body\n          url\n          createdAt\n          repository{\n            databaseId\n          }\n          labels(first:
        100) {\n            edges {\n              node {\n                name\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"nodeId":"MDQ6VXNlcjU2ODYzNQ=="}}'
    headers:
      Authorization:
      - bearer <TEST_USER_GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1570129810'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"node":{"pullRequests":{"nodes":[]}}}}'
  recorded_at: Thu, 03 Oct 2019 18:10:10 GMT
- request:
    method: post
    uri: https://api.segment.io/v1/identify
    body:
      encoding: UTF-8
      string: '{"type":"identify","traits":{"pull_requests_count":0},"userId":427}'
    headers:
      Authorization:
      - Basic WGRUb1dvT2ZPa09LNXQyUDZleU1jSUZTZjNaUTBnbUU6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Thu, 03 Oct 2019 18:10:11 GMT
[...]
- request:
    method: post
    uri: https://api.segment.io/v1/identify
    body:
      encoding: UTF-8
      string: '{"type":"identify","traits":{"pull_requests_count":0},"userId":481}'
    headers:
      Authorization:
      - Basic WGRUb1dvT2ZPa09LNXQyUDZleU1jSUZTZjNaUTBnbUU6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Thu, 03 Oct 2019 18:34:36 GMT
recorded_with: VCR 5.0.0
