---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4183-3y6xLxDQkT/mAs4SohP84xaKfoA"
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"id":"rec014EiSef20eu0h","fields":{"Repo ID":"212766903","Repo
        Link":"https://github.com/hasnafoundation/InterestingCodes"},"createdTime":"2019-10-16T17:33:39.000Z"},{"id":"rec055StaCyI79Hwe","fields":{"Repo
        ID":"188400852","Repo Link":"https://github.com/subadrun/zuma"},"createdTime":"2019-10-11T12:23:22.000Z"},{"id":"rec05HJxO2nTlFFeP","fields":{"Repo
        ID":"105583687","Repo Link":"https://github.com/igameproject/Memory-Game"},"createdTime":"2019-10-20T11:36:11.000Z"},{"id":"rec06ND9Zu7jeAw3y","fields":{"Repo
        ID":"167006677","Repo Link":"https://github.com/Jackent2B/Color-Game"},"createdTime":"2019-10-19T04[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/rec5Z0TZthFqvsRTk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41b7-DrYla1bY7lGoSuPR3anyTpGCMtw"
    body:[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/recAvjSb2TS9aqOnK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41f8-W2aja8ju6ZZ+o3SSq0/4y22o/dM"
    body:[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/recHKq12pxNpJNYDw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"409c-VJBntUK2c4iVmbfqm10eyg2mT7s"
    body:[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/recNnbzDgm5DNHrmv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4197-FvVveadaYFRHRIwId/SU+kt+NLo"
    body:[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/recThiOPLqrtkq1xl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40f4-KCPnvIFUlA7p6az5Xp3YOVExpiM"
    body:[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/recZeeQZKeEt4aVNQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40e3-wwsiEBL15sfwPYj62Tw3z7QslXA"
    body:[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/rechDldmQzs97Gj2w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4243-qsnokiUwZG8Hp4QiaDnLGwd1Ye8"
    body:[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/recnR2vq51OSMIKZY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4134-NazV62PC6aSvFakGIW3kpS3bVXE"
    body:[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/rect43flH50GTSSaX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4179-MRX8HnOBaEACjzk/LfYjNB8uYTk"
    body:[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<TEST_AIRTABLE_APP_ID>/Spam%20Repos?offset=itrkXVoALG5eoLXRE/reczZDUQE02fWrFJs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5ca-Vt51voEWpOYm2GhVCAXhqdnzXmI"
    body:
[...]
