<% if pr.invalid_label? %>
  <div class="icon-box">
    <div class="invalid-box">
    </div>
  </div>
<% elsif pr.spam_repo? || pr.topic_missing? %>
  <div class="icon-box">
    <div class="ineligible-box">
    </div>
  </div>
<% elsif pr.not_accepted? %>
  <div class="icon-box">
    <div class="unaccepted-box">
    </div>
  </div>
<% elsif is_bonus == true && pr.eligible? %>
  <div class="icon-box-bonus">
    <div class="bonus-box">
    </div>
  </div>
<% elsif pr.eligible? %>
  <div class="icon-box">
    <div class="eligible-box">
    </div>
  </div>
<% elsif pr.waiting? %>
  <div class="icon-box">
    <div class="pending-box">
    </div>
  </div>
<% end %>
