---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/track
    body:
      encoding: UTF-8
      string: '{"type":"track","event":"event","userId":342}'
    headers:
      Authorization:
      - Basic 5l7s5rMYtOwhYCY00Srr3163ZFfGcyeT
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Wed, 18 Sep 2019 15:18:19 GMT
recorded_with: VCR 5.0.0
