---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($username:String!) {\n  user(login: $username) {\n    pullRequests(states:
        OPEN last: 100) {\n      nodes {\n        id\n        title\n        body\n        url\n        createdAt\n        labels(first:
        100) {\n          edges {\n            node {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"username":"fridaland"}}'
    headers:
      Authorization:
      - bearer <TEST_USER_GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1568318655'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"pullRequests":{"nodes":[{"id":"MDExOlB1bGxSZXF1ZXN0MjIxMTA4MjM3","title":"Done","body":"","url":"https://github.com/learn-co-students/sinatra-basic-routes-lab-nyc-web-091718/pull/10","createdAt":"2018-10-08T12:59:56Z","labels":{"edges":[]}},{"id":"MDExOlB1bGxSZXF1ZXN0MjIxMTA5Mjk1","title":"Done","body":"","url":"https://github.com/learn-co-students/rack-dynamic-routes-lab-nyc-web-091718/pull/11","createdAt":"2018-10-08T13:03:29Z","labels":{"edges":[]}},{"id":"MDExOlB1bGxSZXF1ZXN0MjIxMTY1MDI3","title":"Done","body":"","url":"https://github.com/learn-co-students/sinatra-mvc-file-structure-nyc-web-091718/pull/12","createdAt":"2018-10-08T15:50:02Z","labels":{"edges":[]}},{"id":"MDExOlB1bGxSZXF1ZXN0MjIxMTgzMDEw","title":"Done","bod[...]
[...]
- request:
    method: post
    uri: https://api.segment.io/v1/import
    body:
      encoding: UTF-8
      string: '{"sentAt":"2019-09-13T16:09:30.891-04:00","batch":[{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{"email":"test@mail.com","marketing_emails":false,"state":"register"},"options":null,"timestamp":"2019-09-13T16:09:30.456-04:00","type":"identify","messageId":"1cb33f09-4650-42b6-9599-8b9eaa393045"},{"event":"register","userId":1,"anonymousId":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"options":null,"integrations":null,"properties":{},"timestamp":"2019-09-13T16:09:30.462-04:00","type":"track","messageId":"6e1399fc-d794-451c-8ace-934b100f9ac4"},{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{"pull_requests_count":0},"options":null,"timestamp":"2019-09-13T16:09:30.513-04:00","type":"identify","messageId":"2e01217d-c18d-45f8-a281-364d8138250e"},{"userId":1,"anonymousId":null,"integrations":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"traits":{"email":"test@mail.com","marketing_emails":false,"state":"register"},"options":null,"timestamp":"2019-09-13T16:09:30.513-04:00","type":"identify","messageId":"bf012539-2d9e-44e9-9613-88d2345fafc0"},{"event":"register","userId":1,"anonymousI[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($username:String!) {\n  user(login: $username) {\n    pullRequests(states:
        OPEN last: 100) {\n      nodes {\n        id\n        title\n        body\n        url\n        createdAt\n        labels(first:
        100) {\n          edges {\n            node {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"username":"fridaland"}}'
    headers:
      Authorization:
      - bearer <TEST_USER_GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - admin:public_key
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1568661478'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"pullRequests":{"nodes":[{"id":"MDExOlB1bGxSZXF1ZXN0MjIxMTA4MjM3","title":"Done","body":"","url":"https://github.com/learn-co-students/sinatra-basic-routes-lab-nyc-web-091718/pull/10","cre[...]
[...]
- request:
    method: post
    uri: https://api.segment.io/v1/identify
    body:
      encoding: UTF-8
      string: '{"type":"identify","traits":{},"userId":377}'
    headers:
      Authorization:
      - Basic 5l7s5rMYtOwhYCY00Srr3163ZFfGcyeT
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Wed, 18 Sep 2019 15:49:23 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/emails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_USER_GITHUB_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1569792552'
      X-Oauth-Scopes:
      - admin:public_key
      X-Accepted-Oauth-Scopes:
      - user, user:email
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/users/emails/#list-email-addresses-for-a-user"}'
  recorded_at: Sun, 29 Sep 2019 20:29:12 GMT
recorded_with: VCR 5.0.0
