---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($nodeId:ID!){\n  node(id:$nodeId) {\n    ... on User
        {\n      pullRequests(states: [OPEN, MERGED, CLOSED] last: 100) {\n        nodes
        {\n          id\n          title\n          body\n          url\n          createdAt\n          repository{\n            databaseId\n          }\n          labels(first:
        100) {\n            edges {\n              node {\n                name\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"nodeId":"MDQ6VXNlcjg1NjYyMw=="}}'
    headers:
      Authorization:
      - bearer <TEST_TEST_USER_GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1596818372'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"node":{"pullRequests":{"nodes":[]}}}}'
  recorded_at: Fri, 07 Aug 2020 16:14:24 GMT
recorded_with: VCR 5.0.0
