/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Loading in fonts
@font-face {
  font-family: 'Space Mono Bold';
  src: font-url('SpaceMono-Bold.ttf');
}

@font-face {
  font-family: 'Space Mono Bold Italic';
  src: font-url('SpaceMono-BoldItalic.ttf');
}

@font-face {
  font-family: 'Space Mono';
  src: font-url('SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'Space Mono Italic';
  src: font-url('SpaceMono-RegularItalic.ttf');
}

// Bulma overrides and common definitions
// Initial Variables
$break-small: 1024px;
$break-med: 1288px;

$black: hsl(0, 100%, 0%);
$white: hsl(0, 0%, 100%);
$grey: hsl(221.54, 14.61%, 65.1%);
$black-bis: hsl(223.2, 54.35%, 18.04%); // background color
$grey-darker: hsl(222, 45%, 21%); // box dark blue
$grey-dark: hsl(223, 32%, 33%); // box lighter blue
$cyan: hsl(191.56, 100%, 78.63%);
$red: hsl(320, 100%, 50%);
$purple: hsl(286.79, 73.68%, 44.71%);
$yellow: hsl(58.37, 100%, 56.67%);
$size-1: 2.25rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1.125rem;
$family-monospace: 'Space Mono', monospace;

// Derived Variables
$primary: $grey-darker;
$family-primary: $family-monospace;
$link: $cyan;
$link-hover: $red;

// Generic Variables

// -- general
$body-background-color: $black-bis;
$body-color: $grey;
$body-family: $family-monospace;
$body-font-size: $size-5;

// -- footer
$footer-background-color: none;
$footer-padding: 130px 135px 20px 135px;

// -- title
$title-color: $white;
$title-size: $size-1;

// -- box
$box-color: $grey;
$box-radius: none;
$box-background-color: $grey-darker;
$box-shadow: 0px 50px 100px rgba($black, 0.2);

// -- button
$button-color: $white;
$button-background-color: $purple;
$button-border-color: $purple;
$button-border-width: 0;
$button-padding-vertical: 1.85em;
$button-padding-horizontal: 2em;
$button-hover-color: $grey-dark;

.button {
  height: 60px;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  padding-bottom: 2em;
}
.button:hover {
  background-color: $cyan;
}

// -- table
$table-color: $grey;
$table-background-color: $grey-darker;
$table-cell-border: 1px solid $grey-dark;
$table-cell-heading-color: $white;
$table-head-cell-border-width: 0 0 0;
.table {
  thead {
    th {
      background-color: $grey-dark;
      color: $white !important;
    }
  }
}

// -- form input
$control-radius: 0;
$control-radius-small: 0;
input.input {
  background-color: $grey-dark;
  box-shadow: 0px 30px 60px hsla(0, 0%, 0%, 0.2);
  border-radius: 0;
  border: none;
  color: $white;
  margin-top: 30px;
}
input.input::placeholder {
  color: $white;
  opacity: 1;
}

// -- form select
select {
  background-color: $grey-dark;
  padding: 20px;
  height: 40px;
  width: 100%;
  color: $white;
  font-size: 14px;
  border: 0;
  border-radius: 0;
}

// Global content styling

body {
  .section {
    padding: 0 135px;
    margin: 0;

    @media screen and (max-width: $break-med) {
      padding: 30px 85px 30px 85px;
    }

    @media screen and (max-width: $break-small) {
      padding: 30px 30px 30px 30px;
      text-align: center;
    }
  }

  .container {
    margin: 0;
  }

  // Styles for background images
  .top-bgs {
    min-height: 1000px;
  }
  .top-bgs::before {
    content: image-url('bg-left.png');
    position: absolute;
    top: 0px;
    left: 20;
    z-index: -1;
  }
  .top-bgs::after {
    content: image-url('bg-right.png');
    position: absolute;
    top: 80px;
    right: 0;
    z-index: -1;
  }

  p {
    margin-top: 20px;
  }

  // Reuseable

  .highlight {
    color: $yellow;
  }

  .line-br {
    color: $yellow;
    line-height: 0.4rem;
    position: relative;
    margin-bottom: 10px;

    span {
      background-color: $yellow;
    }

    span.line-br-1 {
      width: 40px;
      height: 6px;
      position: absolute;
    }

    span.line-br-2 {
      width: 10px;
      height: 6px;
      position: absolute;
      left: 50px;
    }
  }

  .button {
    border-radius: 0;
    font-weight: 600;
    font-size: 14px;
  }

  .error {
    color: hsl(320, 100%, 50%);
  }
}

@import 'bulma';
