/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Loading in fonts
@font-face {
  font-family: 'Space Mono Bold';
  src: font-url('SpaceMono-Bold.ttf');
}

@font-face {
  font-family: 'Space Mono Bold Italic';
  src: font-url('SpaceMono-BoldItalic.ttf');
}

@font-face {
  font-family: 'Space Mono';
  src: font-url('SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'Space Mono Italic';
  src: font-url('SpaceMono-RegularItalic.ttf');
}


// Bulma overrides and common definitions
// Initial Variables
$black: hsl(0, 100%, 0%);
$white: hsl(0, 0%, 100%);
$grey: hsl(221.54, 14.61%, 65.1%);
$black-bis: hsl(223.2, 54.35%, 18.04%); // background color
$grey-darker: hsl(222.5, 43.64%, 21.57%); // box dark blue
$grey-dark: hsl(223.33, 32.14%, 32.94%); // box lighter blue
$cyan: hsl(191.56, 100%, 78.63%);
$red: hsl(320, 100%, 50%);
$purple: hsl(286.79, 73.68%, 44.71%);
$yellow: hsl(58.37, 100%, 56.67%);
$size-1: 2.75rem;
$size-2: 2.25rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1.125rem;

// Derived Variables
$primary: $grey-darker;

// Generic Variables

// -- general
$body-background-color: $black-bis;
$body-color: $grey;
$body-family: 'Space Mono', monospace;
$body-font-size: $size-5;

// -- footer
$footer-background-color: none;

// -- title
$title-color: $white;
$title-size: $size-1;

// -- box
$box-color: $grey;
$box-radius: none;
$box-background-color: $grey-darker;
$box-shadow: 0px 50px 100px rgba($black, 0.2);

// -- section
$button-color: $white;
$button-background-color: $purple;

@import 'bulma';

// content styling

body {
  .section {
    padding: 0 135px;
    margin: 0;
  }

  .container {
    margin: 0;
  }

  .top-bgs {
    min-height: 1000px;
  }
  .top-bgs::before {
    content: image-url('bg-left.png');
    position: absolute;
    top: 0px;
    left: 20;
    z-index: -1;
  }

  .top-bgs::after {
    content: image-url('bg-right.png');
    position: absolute;
    top: 80px;
    right: 0;
    z-index: -1;
  }

  .highlight {
    color: $yellow;
  }
}

// Colors and fonts used on live faq site:
//   Blue background: rgb(21, 35, 71)
//   navbar Link hovers:   bottom-border: 2px solid #fff922;
//   Section header font color: rgb(255, 255, 255)
//   Text font color: rgb(153, 161, 179);
//   Link color: rgb(50, 115, 220);
//   Link hover color: rgb(255, 0, 170);
//   Link visited color: same as regular link color - rgb(50, 115, 220);
//
//
//   .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
//       color: #363636;
//       font-weight: 600;
//       line-height: 1.125;
//
//
//   Font family info:    font-family: Space Mono,monospace;
//   h1 font size:  2em
//   h1 line height: 1.125 em
//
//   h2 font size: 1.75 em
//   h2 line height: 1.125 em
//
//   h3 font size: 1.5 em
//   h3 line height: 1.125 em
//
//   h4 font size: 1.25 em
//   h4 line height: 1.125 em
//
//   Text font size: computed font size = 16px
//   text line height: computed line height = 24px
//
