$break-small: 1024px;
$break-med: 1288px;

.resources {
  h1 {
    margin-top: 32px;
  }

  .details {
    text-align: center;
    margin-bottom: 60px;

    .errors {
      min-height: 400px;
    }
  }

  p {
    margin: 0 0 18px 0;
  }

  section {
    margin: 64px auto;
  }

  section.details {
    margin: 0px auto 64px;
  }

  ol {
    margin-left: 32px;

    @media screen and (max-width: $break-med) {
      text-align: left;
      max-width: 80%;
      margin: 0 auto;
    }

    li {
      padding: 12px 0;
    }
  }

  ul {
    list-style: initial;
    margin-left: 32px;

    @media screen and (max-width: $break-med) {
      text-align: left;
      max-width: 80%;
      margin: 0 auto;
    }

    li {
      padding: 12px 0;
    }
  }
  .details-tabs {
    display: flex;
    margin: 70px 0;

    @media screen and (max-width: $break-med) {
      flex-direction: column;
    }

    #tabs.box {
      padding: 0;
    }

    #tabs {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 284px;
      margin-bottom: 0;
      list-style: none;
      margin-left: 0;

      @media screen and (max-width: $break-med) {
        flex-direction: row;
        width: 100% !important;
        max-width: 100%;
      }

      @media screen and (max-width: $break-small) {
        flex-direction: column;
      }

      li {
        width: 284px;
        text-align: left;
        padding: 0;

        @media screen and (max-width: $break-small) {
          width: 100%;
          text-align: center;
        }

        a {
          font-weight: 600;
          display: block;
          padding: 16px 20px;
          font-size: 14px;
        }
      }
    }

    .box {
      margin-bottom: 0;
      padding: 60px;

      @media screen and (max-width: $break-small) {
        padding: 0;
      }
    }
  }

  .beginners-video {
    margin: 0 0 32px 0;
  }
}
