$break-small: 1024px;
$red: #ff8ae2;

.event-kit-page {
  h2 {
    margin: 64px 0px 16px;
  }
  section {
    margin: 60px 0;
  }

  strong {
    color: $tableHeaderColor !important;
  }

  h1 {
    margin-bottom: 120px;
  }

  p {
    text-align: left;
  }

  h2,
  h3 {
    a {
      color: $tableHeaderColor;
    }
  }

  ol {
    li {
      margin: 16px 0px 16px 30px;
      text-align: left;
    }
  }

  ul {
    margin-top: 40px;

    li {
      margin: 16px 0px 16px 30px;
      list-style: disc;
      text-align: left;

      a {
        font-weight: 900;
      }
    }
  }

  .header-logo {
    margin: 40px 0;
    text-align: center;
  }

  .event-kit-sub {
    margin: 32px auto 120px auto;
    text-align: center;

    p {
      text-align: center;
    }
  }

  .eventkit-video {
    margin: 64px 0 32px 0;
  }

  .create-online-event {
    margin-top: 40px;
  }

  .invite-box {
    background-color: $progress-color-light;
    margin-top: 60px;
    padding: 60px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    -khtml-border-radius: 32px;
    border-radius: 32px;

    h4 {
      color: $light-headlineColor;
      margin: 0;

      a {
        color: $light-headlineColor;
        font-weight: 900;
      }
    }

    p {
      margin: 16px 0 32px 0;
    }
  }

  .sample-schedule {
    background-color: $progress-color-light;
    margin-top: 60px;
    padding: 60px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    -khtml-border-radius: 32px;
    border-radius: 32px;
    overflow-x: auto;

    table th {
      color: $light-headlineColor;
      font-size: $size-button-text;
      font-weight: 900;
    }

    table th,
    table td {
      border-bottom: 1px solid;
      border-collapse: collapse;
      border-spacing: 0px;
      padding: 10px 5px;
    }

    table td {
      font-size: 13px;
      height: 33px;
    }
  }

  .sample-section {
    padding-top: 0.1rem;
    padding-left: 1.2rem;
    overflow-wrap: break-word;
  }

  .box-text {
    color: white;
  }

  .steps-list {
    margin-left: 3%;
  }

  .promote-list {
    margin-top: 35px;
    margin-bottom: 80px;
  }

  .promote-links-list {
    list-style: disc;
  }

  .modal {
    padding: 0px;
  }

  .down-load-assets {
    margin-top: 40px;
  }
}

body.dark {
  strong {
    color: $dark-headlineColor !important;
  }

  h2,
  h3 {
    a {
      color: $buttonTextColor !important;
    }
  }

  .invite-box {
    background-color: $light-categoryColor !important;
  }

  .event-kit-page .invite-box h4 a {
    color: $dark-headlineColor !important;
  }

  .event-kit-page .sample-schedule {
    background-color: $light-categoryColor !important;
  }

  .event-kit-page .sample-schedule table th,
  .event-kit-page .sample-schedule table td {
    color: $dark-headlineColor !important;
  }
}
