$break-small: 1024px;
$red: hsl(320, 100%, 50%);
$purple: hsl(286.79, 73.68%, 44.71%);
$grey-dark: hsl(223, 32%, 33%);


.event-kit-page{
  .title.is-1{
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
  }

  .pink-highlight {
    color: $red;
  }
  .title.is-2{
    margin-top: 5rem;
    margin-bottom: 0.75rem;
  }

  .title.is-3{
    margin-top: 2rem;
  }

  .title.is-4{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  div.underline-div {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: $red;
  }

  .sample-section {
    padding-top: 0.10rem;
    padding-left: 1.2rem;
    overflow-wrap: break-word;
  }

  .box-text {
    color: white;
  }

  .steps-list {
    margin-left: 3%
  }

  .promote-list {
    margin-top: 35px;
    margin-bottom: 80px;
  }

  .promote-links-list {
    list-style: disc;
  }

  .modal {
    padding: 0px;
  }

  .down-load-assets {
    margin-top: 40px;
  }
}
