$break-small: 1024px;
$red: hsl(320, 100%, 50%);
$purple: hsl(286.79, 73.68%, 44.71%);


.event-kit-page{
  .title.is-1{
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
  }

  .pink-highlight {
    color: $red;
  }
  .title.is-2{
    margin-top: 5rem;
    margin-bottom: 0.75rem;
  }

  .title.is-3{
    margin-top: 2rem;
  }

  .title.is-4{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  span.underline-div {
    width: 80vw;
    height: 1px;
    position: absolute;
    background-color: $red;
    @media screen and (max-width: $break-med) {
      left: 10%;
    }
  }

  .steps-list {
    margin-left: 3%
  }

}
