// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fluid-content-page{
  .faq-toc{
    margin-top: 3rem;
    p {
      margin: 1rem 0;
    }
  }

  .question, .question p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $light-categoryColor;
    align-items: center;
    margin: 0px;
    min-width: 760px;
    max-width: 760px;
    line-height: 130%;
  }

  .title.is-1{
    font-size: 2.5rem;
  }

  .qa-section{
    margin-top: 4rem;

    .title.is-2{
      margin-bottom: 2.5rem;
    }
  }

  .question-answer{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: flex;
    border-bottom: 1px solid #1F2D4F;
    align-items: center;
    min-width: 790px;
    max-width: 790px;

    .toggle {
      display: flex;
      color: $pink;
      opacity: 0.65;
      font-size: 35px;
      align-items: center;
      transition: all .35s;
      max-height: 70px;
      
      @media (max-width: 1024px) {
        position: absolute;
        right: 12px;
      }
    }

    .active {
      @extend .toggle;
      transition: all .35s;
      text-align: center;
      transform:rotate(45deg);
    }

    .answer {
      display: none;
      color: $light-textColor;

      p {
        display: flex;
        min-width: 760px;
        max-width: 760px;
      }
    }
  }
}

body.dark {
  .question, .question p{
    color: $dark-headlineColor;
    margin: 0px;
  }
}
