// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$break-small: 1024px;
$break-med: 1288px;

.footer {
  margin-top: 80px;

  .footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26px;
    border-top-right-radius: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    margin-top: 32px;

    @media (max-width: 1024px) {
      height: 6px;
    }

    @media (max-width: 600px) {
      height: 130px;
      flex-direction: column;
    }

    @media (max-height: 500px) {
      height: 0;
    }
  }

  .do-logo {
    margin-left: 32px;

    @media (max-width: 1024px) {
      margin-left: 20px;
    }

    @media (max-width: 600px) {
      margin-left: 0;
    }

    div,
    svg {
      width: 190px;

      @media (max-width: 1024px) {
        width: 120px;
      }

      @media (max-width: 600px) {
        width: 180px;
      }
    }
  }

  .footer-details {
    display: flex;
    margin-right: 32px;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 1024px) {
      margin-left: 20px;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      min-height: 60px;
    }
  }

  .footer-p {
    text-align: center;
    margin: 0 auto;
    position: relative;
    font-size: 16px !important;

    @media (max-width: 1024px) {
      font-size: 12px !important;
    }
  }

  .footer-links {
    position: relative;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 16px !important;
    margin: 0;
    padding: 0;

    @media (max-width: 1024px) {
      font-size: 12px !important;
    }

    li {
      padding: 0 8px;

      a {
        text-decoration: none;
        font-weight: bold;
      }
    }

    li:last-of-type {
      border-right: none !important;
      display: flex;

      a {
        padding-right: 8px;
      }

      a:last-of-type {
        padding-left: 4px;
      }
    }
  }
}
