
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$break-small: 1024px;
$break-med: 1288px;

header {
  margin: 30px 135px 100px 135px;
  min-height: 160px;

  @media screen and (max-width: $break-med) {
    margin: 30px 85px 30px 85px;
  }

  @media screen and (max-width: $break-small) {
    margin: 30px 30px 30px 30px;
  }
}

// survey block styling
.survey {
  position: absolute;
  width: 100%;
  min-height: 40px;
  left: 0px;
  top: 0px;
  background: #0a142e;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  font-size: 0.75rem;
  padding: 10px 10px 10px 135px;
  color: white;

  a {
    color: hsl(320, 100%, 50%);
  }

  @media screen and (max-width: $break-small) {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
}

// Main Nav

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 3px;
  margin: 74px 0 100px 0;

  ul.navbar-end {
    @media screen and (max-width: $break-small) {
      margin-top: 20px;
    }
    li {
      margin-bottom: 15px;
      text-align: center;

      .navLink {
        color: rgba(255, 255, 255, 0.5);
        margin-left: 1.875rem;
        font-size: 0.875rem;
        z-index: 1;
        text-transform: uppercase;
        text-align: center;

        @media screen and (max-width: $break-small) {
          margin-left: 0;
        }
      }
      .callOutLink {
        color: rgb(161, 30, 198);
      }

      .navLink:hover,
      .active {
        padding-bottom: 5px;
        border-bottom: 2px solid #fff922;
        color: rgb(255, 255, 255);
      }
    }
  }

  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }
}
