// Place all the styles related to the Homepage controller here (index page).
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$yellow: hsl(58.37, 100%, 56.67%);
$grey: hsl(221.54, 14.61%, 65.1%);
$white: hsl(0, 0%, 100%);
$purple: hsl(286.79, 73.68%, 44.71%);
$padding-left: 0;
$size-1: 2.50rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$button-color: $white;
$button-background-color: $purple;
$tile-margin:2%;
$tile-padding:2%;
$tile-width: 150%;
$box-color: rgba(0, 0, 0, 0);

main{
  text-align: left;
  background-image: url("polygon-photo-1.png"), url("polygon-photo-2.png");
  background-repeat: no-repeat;
  background-position: top 100px right 164px, top 40px  right 0px;
}

.p{
  margin: 24px 0px 24px 0px;
}

.hero-body{
  margin-bottom: 140px;
  width: 60%;
}

.hero-body h1{
  font-size: $size-1;
  line-height: 60px;
  padding-left: $padding-left;
}

.hero-body button{
  font-size: $size-3;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $button-background-color;
  color: $button-color;
  border: none;
  border-radius: 0px;
}

.button2 {
  background-color: $button-background-color;
  color: $button-color;
  border: none;
  border-radius: 0px;
  padding: 15px;
  font-size: $size-4;
}

.line-brTop {
  color: $yellow;
  line-height: 0.4rem;
  position: relative;
  margin-top: 100px;
  margin-bottom: 60px;

  span {
    background-color: $yellow;
  }

  span.line-br-1 {
    width: 40px;
    height: 6px;
    position: absolute;
  }

  span.line-br-2 {
    width: 10px;
    height: 6px;
    position: absolute;
    left: 50px;
  }
}

.section2{
  width: 70%;
  margin-top: 40px;
  padding-top: 30px;
}

.is-spaced{
  padding-top: 40px;
}

.bullet{
  list-style-type: disc;
  color: $yellow;
  margin-bottom: 30px;
  margin-left: 20px;
}

.p{
  width: 70%;
  color: $grey;
}

.is-ancestor{
  width: $tile-width;
}

.tile{
  margin: $tile-margin;
  padding: $tile-padding;
}

.eventsBlock{
  margin-left: 0px;
  height: 900px;
  width: 100%;
  background-image: url("bg-map.png");
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: visible;
}

.events{
  padding-top: 150px;
}

.eventUnion{
  // width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: baseline;
}

.box{
  text-align: center;
  margin: 2%;
  height: 300px;
  width: 25%;
  border: 2px solid lime;
}

.box span{
  width: 100%;
  float: left;
}

.eventUnion .box:nth-child(4n+1){
  background: linear-gradient(76.04deg, #febd3b -0.33%, #ff9353 100.08%);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
}

.eventUnion .box:nth-child(4n+2){
  background: linear-gradient(76.04deg, #ff8c57 -0.33%, #ff646f 100.08%);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
}
.eventUnion .box:nth-child(4n+3){
  background: linear-gradient(76.04deg, #ff5d73 -0.33%, #ff358b 100.08%);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
}
.eventUnion .box:nth-child(4n+4){
  background: linear-gradient(76.04deg, #ff2e90 -0.33%, #ff06a6 100.08%);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
}


//
//
//
// .box{
//   background-color: $box-color !important;
//   margin-top: 20px;
//   width: 25%;
//   // height: auto;
//   border: 2px solid black;
//   margin-bottom: 20px;
//   margin-right: 20px;
// }
//

// .even-stops-linear-left {
//
// background-image: -moz-linear-gradient(left, transparent, blue, transparent, green, blue, green, transparent, blue, transparent);
//
// background-image: -webkit-linear-gradient(left, transparent, blue, transparent, green, blue, green, transparent, blue, transparent);
//
// background-image: -o-linear-gradient(left, transparent, blue, transparent, green, blue, green, transparent, blue, transparent);
//
// padding: 5px;
//
// margin-left:5px
//
// }

.eventMonth{
  // position: absolute;
  // left: 15.97%;
  // right: 78.61%;
  // top: 60.62%;
  // bottom: 38.87%;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.eventDay{
  // position: absolute;
  // height: 71px;
  // left: 16.67%;
  // right: 79.24%;
  // top: calc(50% - 71px/2 + 636.5px);
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.eventTitle{
  // position: absolute;
  // width: 122px;
  // height: 29px;
  // left: 209px;
  // top: 3338px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  color: #FFFFFF;
}

.eventLocation{
  // position: absolute;
  // height: 18px;
  // left: 12.36%;
  // right: 74.86%;
  // top: calc(50% - 18px/2 + 720px);
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}
