// Place all the styles related to the Homepage controller here (index page).
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$break-tiny: 812px;
$break-small: 1024px;
$break-med: 1350px;
$break-big: 1500px;
$yellow: hsl(58.37, 100%, 56.67%);
$grey: hsl(221.54, 14.61%, 65.1%);
$black-bis: hsl(223.2, 54.35%, 18.04%); // background color
$grey-dark: hsl(223, 32%, 33%); // button hover text
$grey-darker: hsl(222, 45%, 21%); // box dark blue
$white: hsl(0, 0%, 100%);
$cyan: hsl(191.56, 100%, 78.63%);
$purple: hsl(286.79, 73.68%, 44.71%);
$padding-left: 0;
$size-0: 4rem;
$size-1: 2.5rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$button-color: $white;
$button-background-color: $purple;
$tile-margin: 0 20px 0 0;
$tile-padding: 0;
$tile-width: 150%;
$box-color: rgba(0, 0, 0, 0);

$mainImg1: asset-url('polygon-photo-1.png');
$mainImg2: asset-url('polygon-photo-2.png');
$mainImg3: asset-url('polygon-photo-3.png');
$mainImg4: asset-url('polygon-photo-4.png');
$mainImg5: asset-url('polygon-photo-5.png');
$mainImg6: asset-url('polygon-photo-6.png');

main.home.mainImg0 {
  background-image: $mainImg1, $mainImg2;
}
main.home.mainImg1 {
  background-image: $mainImg3, $mainImg4;
}
main.home.mainImg2 {
  background-image: $mainImg5, $mainImg6;
}

main.home {
  text-align: left;
  background-repeat: no-repeat;
  background-position: top 10px right 164px, top -120px right 0px;
  opacity: 1;
  transition: background-image 1.5s linear;

  &.closing {
    .hero-body {
      .title {
        font-size: $size-0;
      }

      .subtitle {
        font-size: $size-3;
        color: $grey;
      }
    }

    .presented-cont {
      margin-top: 10rem;

      @media screen and (max-width: $break-small) {
        margin-top: 1.25rem;
      }
    }

    .logos-cont {
      white-space: nowrap;

      .do-logo {
        padding-top: 5px;
      }

      .dev-logo {
        padding-top: 2px;
      }
    }

    .box.stats-cont {
      width: 100%;
      text-align: left !important;
      margin: 0;

      p {
        margin-left: 10px;
      }
    }

    .mktoForm {
      display: flex;
      flex-wrap: wrap;
      width: auto !important;

      @media screen and (max-width: $break-small) {
        width: 100% !important;
        flex-direction: column;
        align-items: flex-start;
      }

      label,
      .mktoOffset,
      .mktoGutter {
        display: none;
      }

      .mktoFormRow .mktoFormCol .mktoField,
      .mktoButtonWrap .mktoButton {
        color: $white;
        font-family: 'Space Mono Bold', monospace;
        font-size: 1rem;
        margin: 0;
        height: auto;
        line-height: 30px;
        padding: 15px 20px;
        border-radius: 0;
        border: none;
      }

      .mktoFormCol,
      .mktoFieldWrap {
        float: unset !important;
      }

      .mktoFormRow {
        @media screen and (max-width: $break-small) {
          flex-grow: 1;
          width: 100%;
        }

        .mktoFormCol {
          margin: 0 !important;

          .mktoFieldWrap {
            .mktoField {
              justify-content: flex-start;
              background-color: $grey-dark;
              box-shadow: 0px 30px 60px hsla(0, 0%, 0%, 0.2);
              width: 33vw !important;

              @media screen and (max-width: $break-small) {
                width: 100% !important;
              }
            }
          }
        }
      }

      .mktoButtonWrap {
        margin: 0 !important;

        .mktoButton {
          float: left;
          background: $purple;
          color: $white;
          white-space: nowrap;

          &:hover {
            background: $cyan;
            color: $grey-dark;
          }
        }
      }
    }
  }

  .p {
    max-width: 620px;
    margin: 24px 0px 24px 0px;
    color: $grey;
  }

  @media screen and (max-width: $break-small) {
    background-position: top 530px right 164px, top 380px right 0px;
  }

  @media screen and (max-width: $break-mobile) {
    background-position: top 730px right 64px, top 640px right 0px;
    background-size: 100%;
  }

  .hero-body {
    padding-top: 0;
    max-width: 620px;
    margin-bottom: 130px;
    @media screen and (max-width: $break-small) {
      margin: 0 auto;
    }
    @media screen and (min-width: $break-small) {
      padding-left: 0;
    }
  }

  .hero-body h1 {
    font-size: $size-1;
    line-height: 60px;
    padding-left: $padding-left;
    padding-top: 0;
    margin-bottom: 50px;
  }

  .section2 {
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 200px;

    p {
      margin: 20px 0 60px 0;
    }

    .climate {
      margin-top: 60px;
    }

    @media screen and (max-width: $break-small) {
      text-align: left;
      margin-bottom: 140px;
    }
  }

  .section2.space {
    margin-bottom: 180px;
  }
  .space {
    @media screen and (max-width: $break-small) {
      margin-top: 620px;
    }
  }

  .section2-closing {
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 200px;

    @media screen and (max-width: $break-small) {
      text-align: left;
      margin-bottom: 140px;
    }
  }

  .section2-closing.space {
    margin-bottom: 80px;
    margin-top: 200px;

    @media screen and (max-width: $break-small) {
      margin-top: 220px;
    }
  }

  .is-spaced {
    padding-top: 40px;
  }

  .bullet {
    list-style-type: disc;
    color: $yellow;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .eventsBlock {
    margin-left: 0px;
    height: 800px;
    width: 100%;
    background-image: asset-url('bg-map.png');
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: visible;
  }

  .events {
    padding-top: 30px;

    @media screen and (max-width: $break-small) {
      text-align: left;
      padding-top: 0px;
    }
  }

  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 60px;
    margin: 0 auto;

    @media screen and (max-width: $break-small) {
      grid-template-columns: repeat(1, 1fr);
    }

    .box {
      height: 100%;
    }
  }

  .box {
    text-align: center;
    width: 340px;
    min-height: 226px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: 30px;

    @media screen and (max-width: $break-med) {
      width: 268px;
    }
    @media screen and (max-width: $break-small) {
      width: 100%;
    }
  }

  .box.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
    text-align: left;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
    background-color: $grey-darker;

    .title-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $white;

      span.lang {
        color: $cyan;
        font-weight: 600;
      }
    }
    .details-wrap {
      display: flex;
      align-items: center;
      font-size: 11px;
      position: absolute;
      bottom: 15px;

      span.details-number {
        color: $white;
        background: $black-bis;
        padding: 2px;
        margin-right: 5px;
      }
      p.details {
        margin: 0;
      }
    }
    @media screen and (max-width: $break-small) {
      width: 100%;
    }
  }

  .eventUnion,
  .statUnion {
    display: flex;
    justify-content: flex-start;
    vertical-align: baseline;
    margin-bottom: 60px;

    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }

    .box {
      flex-basis: 100%;
      flex-grow: 1;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
      font-family: Space Mono, monospace;
      font-style: normal;
      color: #ffffff;
    }

    .box span {
      width: 100%;
      float: left;
    }
  }

  .eventUnion .box:nth-child(4n + 1) {
    background: linear-gradient(76.04deg, #febd3b -0.33%, #ff9353 100.08%);
  }
  .eventUnion .box:nth-child(4n + 2) {
    background: linear-gradient(76.04deg, #ff8c57 -0.33%, #ff646f 100.08%);
  }
  .eventUnion .box:nth-child(4n + 3) {
    background: linear-gradient(76.04deg, #ff5d73 -0.33%, #ff358b 100.08%);
  }
  .eventUnion .box:nth-child(4n + 4) {
    background: linear-gradient(76.04deg, #ff2e90 -0.33%, #ff06a6 100.08%);
    margin-right: 0;
  }

  .statUnion .box:nth-child(3n + 1) {
    background: linear-gradient(76.04deg, #febd3b -0.33%, #ff865b 100.08%);
  }
  .statUnion .box:nth-child(3n + 2) {
    background: linear-gradient(76.04deg, #ff815f -0.33%, #ff4282 100.08%);
  }
  .statUnion .box:nth-child(3n + 3) {
    background: linear-gradient(76.04deg, #ff3e86 -0.33%, #ff00a9 100.08%);
    margin-right: 0;
  }

  .eventMonth {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
  }

  .eventDay,
  .statAmount {
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    /* identical to box height */
  }

  .eventTitle,
  .statTitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
  }

  .eventLocation {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
  }

  .statAmount,
  .statTitle {
    text-align: left;
  }

  .language-filter {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    @media screen and (max-width: $break-small) {
      display: block;
    }

    #projects-message {
      margin: 0;
    }

    .right {
      display: flex;
      flex-direction: column;

      .field {
        margin: 0;

        .select {
          display: block;

          select {
            width: 27vw;
            background-color: $grey-darker;
            color: #fff;
            border-color: $grey-darker;

            @media screen and (max-width: $break-small) {
              width: 100%;
              margin: 0.5em 0 0;
            }
          }
        }
      }

      #reset-filter {
        opacity: 0;
        pointer-events: none;
        margin: 0.5em 0 0;
        padding: 0.3em 1em;

        &.active {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }
  }

  .sponsors {
    text-align: left;
    margin-top: 40px;

    @media screen and (max-width: $break-small) {
      margin-top: 530px;
    }

    .tile {
      text-align: left;
      margin: $tile-margin !important;
      padding: $tile-padding;

      .is-child {
        padding: 0;

        .dev-logo {
          transform: rotate(5deg);
        }
      }
    }

    .is-ancestor {
      width: 100%;
    }
  }

  .reg {
    font-size: 0.75em;
    position: relative;
    top: -0.2em;
    padding-right: 2px;
  }
}

.form-cont {
  display:flex;
}
