.event-table {
  margin-top: 50px;
}
.search {
  margin-bottom: 30px;
}
.sort {
  cursor: pointer;
}
.emphasis {
  color: #FFF;
}
.sort {
  cursor: pointer;
  &.asc, &.desc {
    &::after {
        margin-left: .25em;
        text-decoration: none;
    }
  }
  &.asc::after {
    content: "▲";
  }
  &.desc::after {
    content: "▼";
  }
}