$break-med: 1366px;
$break-small: 1024px;
$grey-dark: hsl(223.33, 32.14%, 32.94%);
$grey-darker: hsl(222.5, 43.64%, 21.57%);
$red: hsl(320, 100%, 50%);

.avatar {
  padding-left: 30px;
}

.container.profile {
  text-align: center;
  margin: 0 auto;

  .congratulations-txt {
    padding-left: 40px;
    padding-top: 20px;
    text-align: left;
  }

  .code-button {
    height: 68px !important;
    width: 105px;
    margin-right: 13vw;
    float: right !important;
    @media screen and (max-width: $break-small) {
      display: inline-block;
    }
  }

  .code-textarea {
    background-color: $grey-dark !important;
    float: left !important;
    overflow: auto;

    @media screen and (max-width: $break-small) {
      width: 60vw;
      display: inline-block;
    }
    @media screen and (max-width: $break-med) {
      width: 40vw;
      display: inline-block;
    }
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $grey-darker;

    @media screen and (max-width: $break-small) {
      margin: 80px 30px 0 30px;
    }
  }

  .pre-launch-container {
    padding-top: 100px;
    max-width: 765px;
    padding: 100px 30px;
    min-height: 400px;
    margin: 0 auto;

    h2 {
      font-size: 44px;
      line-height: 1.5em;

      @media screen and (max-width: $break-small) {
        font-size: 32px;
      }
    }

    @media screen and (max-width: $break-small) {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  .timeline-container {
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;

    @media screen and (max-width: $break-small) {
      padding-left: 0;
    }

    table {
      tbody {
        @media screen and (max-width: $break-small) {
          display: block;
        }

        tr {
          @media screen and (max-width: $break-small) {
            display: flex;
            flex-direction: column;
          }

          td {
            padding-bottom: 20px;
            @media screen and (max-width: $break-small) {
              &:last-child {
                padding-bottom: 1.5em;
              }

              &:not(:last-child) {
                border-bottom: none;
              }
            }

            &.icon-block {
              @media screen and (max-width: $break-small) {
                display: none;
              }
            }

            .timeline-date {
              display: flex;
              flex-direction: row;

              @media screen and (max-width: $break-small) {
                margin-bottom: 20px;
              }

              .icon-box {
                display: none;

                @media screen and (max-width: $break-small) {
                  display: block;
                }
              }

              p {
                @media screen and (max-width: $break-small) {
                  margin-left: .75em;
                }
              }
            }

            .timeline-mature {
              p {
                @media screen and (max-width: $break-small) {
                  margin-top: .25em;
                }
              }
            }
          }
        }
      }
    }
  }

  .username {
    font-size: 24px;
    line-height: 36px;
    color: white;
    padding-left: 25px;
  }

  .user-section {
    min-height: 160px;
    left: 135px;
    top: 236px;
    background: $grey-dark;

    .level {
      min-height: 160px;
      @media screen and (max-width: $break-small) {
        display: flex;
        flex-direction: column;
      }

      .level-left,
      .level-right {
        max-width: 100%;

        @media screen and (max-width: $break-small) {
          padding: 20px;
          flex-direction: column;
        }
      }

      .level-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 15px;

        @media screen and (max-width: $break-small) {
          justify-content: center;
        }
      }

      .level-left .avatar,
      .level-left .username {
        @media screen and (max-width: $break-small) {
          padding: 0;
        }
      }

      .level-right {
        margin-bottom: 15px;
      }
    }
  }

  .progress-msg {
    margin-top: 0;
    font-size: 14px;
    line-height: 1em;
    @media screen and (max-width: $break-small) {
      margin-bottom: 15px;
    }
  }

  .icon-box {
    padding-top: 30px;

    > div {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.eligible-box {
        background-color: #ff00aa;
      }

      &.pending-box {
        background-color: #39486e;
      }

      &.spammy-box {
        background-color: #454954;
      }

      &.ineligible-box {
        background-color: #ff4e4e;
      }
    }
  }

  .hacktoberfest-winner {
    background-image: url('profile-hexagon.png');
    background-color: #223257;
    background-position: left top -150px;
  }

  .image {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20000px;
    border: 2px solid #fff;
  }

  $progress-color: #152347;

  .progress-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    background: $progress-color;
    width: 330px;
    max-width: 100%;
    border: 2px solid $progress-color;
    margin: 0 20px;

    @media screen and (max-width: $break-small) {
      margin: 0 auto;
    }

    &:before {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      height: 100%;
      background: #ff00aa;
      background: linear-gradient(80deg, #ffc337 0%, #ff00aa 100%);
    }

    &.progress-state-0 {
      &:before {
        width: 0;
      }
    }

    &.progress-state-1 {
      &:before {
        width: 25%;
      }
    }

    &.progress-state-2 {
      &:before {
        width: 50%;
      }
    }

    &.progress-state-3 {
      &:before {
        width: 75%;
      }
    }

    &.progress-state-4 {
      &:before {
        width: 100%;
      }
    }

    .progress-block {
      flex-grow: 1;
      border: 2px solid $progress-color;
      height: 20px;
      z-index: 1;
      background: transparent;
    }
  }

}

.pink-highlight {
  color: $red;
}

.winning-msg-cont {
  margin: 1.25em;

  @media screen and (max-width: $break-small) {
    margin: 0;
  }

  span.title {
    @media screen and (max-width: $break-small) {
      font-size: 1.25rem;
    }
  }

  h1.title {
    @media screen and (max-width: $break-small) {
      font-size: 1.5rem;
    }
  }
}
