.profile-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding-left: 20px;

  .profile-left {
    width: 65%;
    margin-right: 5%;
    text-align: center;

    .container {
      padding: 0;
    }

    .main-content-wrapper {
      background-color: $light-backgroundColor;
      box-shadow: 0px 5.2029px 20.8116px rgba(24, 61, 93, 0.08);
      margin-bottom: 30px;
      padding: 30px;
      width: 100%;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      -khtml-border-radius: 8px;
      border-radius: 8px;

      p,
      h1,
      h3,
      h4 {
        color: $light-headlineColor;
      }

      a.button-static {
        color: $buttonTextColor;
      }

      a.button-static:hover {
        text-decoration: none;
      }

      a {
        color: $light-highlightColor;
      }

      a:hover {
        text-decoration: underline;
      }

      a.button {
        color: $buttonTextColor;
      }

      a.button:hover {
        text-decoration: none;
      }

      .timeline-container {
        margin-top: 60px;
      }

      .coupon-box {
        margin: 30px 0;

        #winner-code {
          font-size: $size-winner-text;
          background-color: $progress-color-light;
          border: none;
          color: $light-headlineColor;
          width: 100%;
          max-width: 400px;
          padding: 10px;
          margin-right: 20px;
        }

        .code-button {
          margin-top: 20px;
        }
      }

      .legend {
        margin-top: 80px;
      }

      .legend-container {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        border-bottom: 1px solid $light-tableBorderColor;
        padding-bottom: 30px;
        margin: 30px 0 10px 0;

        .icon-box {
          width: 32px;
          height: 32px;
          margin-right: 20px;

          .spammy-box {
            background-image: asset-url("icon-light-ineligible.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-block;
            width: 32px;
            height: 32px;
          }

          .eligible-box {
            background-image: asset-url("icon-light-eligible.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-block;
            width: 32px;
            height: 32px;
          }

          .bonus-box {
            background-image: asset-url("icon-light-bonus.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-block;
            width: 32px;
            height: 32px;
          }

          .invalid-box {
            background-image: asset-url("icon-light-invalid.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-block;
            width: 32px;
            height: 32px;
          }

          .pending-box {
            background-image: asset-url("icon-light-pending.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-block;
            width: 32px;
            height: 32px;
          }
        }

        .icon-name-desc {
          width: 90%;

          .icon-name {
            color: $light-inputTextColor;
            font-size: $size-button-text;
            font-weight: 900;
          }

          .icon-desc {
            color: $light-inputTextColor;
            font-size: $size-button-text;
          }
        }
      }
    }

    .account-wrapper {
      display: flex;
      position: relative;
      text-align: left;

      @media screen and (max-width: $break-small) {
        text-align: center;
        margin-bottom: 64px;
      }

      .avatar {
        display: inline-block;

        .image {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }

      .username {
        display: inline-block;
        font-size: $size-3;
        line-height: 29px;
        color: white;
        padding-left: 8px;
        font-weight: 900;
        vertical-align: top;
        margin-top: 0;
      }

      .logout-wrapper {
        display: inline-block;
        right: 0;
        position: absolute;

        .logout {
          background-color: $buttonColor;
          color: $light-backgroundColor;
          font-size: $size-button-text;
          padding: 5px 20px;
          -moz-border-radius: 32px;
          -webkit-border-radius: 32px;
          -khtml-border-radius: 32px;
          border-radius: 32px;
        }

        .logout:hover {
          background-color: $light-buttonHoverColor;
          text-decoration: none;
        }
      }
    }

    .pre-launch-container {
      margin-top: 30px;

      h2 {
        color: $light-headlineColor;
        font-size: $size-2;
        font-weight: 900;
        line-height: 39px;
        margin: 44px 0;
        text-align: center;
      }
    }

    .timeline-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0;
      border-bottom: 1px dashed $light-tableBorderColor;
      padding-bottom: 30px;

      .pr-icon {
        width: 32px;
        height: 32px;
        margin-right: 20px;

        .spammy-box {
          background-image: asset-url("icon-light-ineligible.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: inline-block;
          width: 32px;
          height: 32px;
        }

        .eligible-box {
          background-image: asset-url("icon-light-eligible.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: inline-block;
          width: 32px;
          height: 32px;
        }

        .bonus-box {
          background-image: asset-url("icon-light-bonus.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: inline-block;
          width: 32px;
          height: 32px;
        }

        .invalid-box {
          background-image: asset-url("icon-light-invalid.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: inline-block;
          width: 32px;
          height: 32px;
        }

        .pending-box {
          background-image: asset-url("icon-light-pending.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: inline-block;
          width: 32px;
          height: 32px;
        }
      }

      .pr-time-title {
        width: 64%;
        margin-right: 20px;

        p.date {
          font-weight: 500;
          font-size: $size-small-text;
          line-height: 12px;
          text-transform: uppercase;
          color: $light-tableBorderColor;
          margin-bottom: 10px;
          font-weight: 900;
        }

        .pr-title {
          font-weight: 500;
          font-size: $size-button-text;
          line-height: 17px;
          color: $light-inputTextColor;
        }
      }

      .pr-waiting {
        width: 138px;

        @media screen and (max-width: $break-small) {
          margin-left: 50px;
          margin-top: 20px;
        }

        span.mature {
          font-size: $size-small-text;
          line-height: 12px;
          text-transform: uppercase;
          color: $light-textColor;
          display: block;
        }

        span.count-down {
          font-weight: 900;
          font-size: $size-5;
          line-height: 22px;
          color: $light-inputTextColor;
          display: block;
        }
      }
    }

    .timeline-date {
      margin: 0 0;

      p {
        margin-top: 0;
      }
    }

    .congratulations-txt {
      margin: 60px 0 0 0;
      text-align: left;

      .congrats-wrapper {
        display: flex;

        .congrats-text {
          width: 70%;
          margin-right: 3%;
        }

        .parrot-image {
          width: 25%;
        }
      }
    }

    .winning-msg-cont {
      margin-top: 40px;
      width: 100%;

      h2.winning-title {
        font-size: $size-3;
        color: $light-inputTextColor;
      }

      .winning-desc {
        font-size: $size-4;
        color: $light-inputTextColor;
      }
    }

    .progress-wrapper.mobile {
      margin: 30px 0;
      display: none;
      p {
        color: $platinumColor;
        font-size: $size-button-text;
        line-height: 170%;
      }

      h4.progress-header {
        font-weight: 900;
        font-size: $size-button-text;
        line-height: 17px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: $platinumColor;
      }
    }
  }

  .profile-right {
    width: 28%;

    .side-headers {
      font-weight: 900;
      font-size: $size-button-text;
      line-height: 17px;
      margin-bottom: 24px;
      text-transform: uppercase;
      color: $platinumColor;
    }

    .pr-score {
      font-family: $family-sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: $size-3;
      line-height: 29px;
      letter-spacing: -1px;
      color: $light-inputTextColor;
      margin-bottom: 20px;
    }

    .icon-box.bonus-wrapper {
      display: inline-block;
      width: 100%;
      margin: 10px 0 0 0;

      .bonus-box {
        background-image: url("icon-light-bonus.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: inline-block;
        width: 32px;
        height: 32px;
      }

      span {
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
        color: $light-inputTextColor;
        font-weight: 900;
      }
    }

    .progress-wrapper,
    .education-wrapper {
      background-color: $light-backgroundColor;
      box-shadow: 0px 5.2029px 20.8116px rgba(24, 61, 93, 0.08);
      margin-bottom: 30px;
      padding: 30px;
      width: 100%;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      -khtml-border-radius: 8px;
      border-radius: 8px;

      p {
        color: $platinumColor;
        font-size: $size-button-text;
        line-height: 170%;
      }

      h4.progress-header {
        font-weight: 900;
        font-size: $size-button-text;
        line-height: 17px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: $platinumColor;
      }

      .education-section {
        margin-bottom: 16px;
        width: 100%;

        h5 {
          font-weight: bold;
          font-size: $size-button-text;
          line-height: 170%;
          color: $light-textColor;
        }

        svg {
          display: inline-block;
          vertical-align: middle;
        }

        ul {
          li {
            list-style-type: disc;
            margin-left: 20px;
          }
        }

        a {
          color: $buttonColor;
          display: block;
          font-size: $size-button-text;
          font-weight: normal;
        }

        a.inline {
          display: inline-block;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    .education-wrapper {
      @media screen and (max-width: $break-small) {
        margin-bottom: 80px;
      }
    }
  }

  .progress-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    background: $progress-color-light;
    width: 330px;
    max-width: 100%;
    border: 1px solid $progress-color-light;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;

    @media screen and (max-width: $break-small) {
      margin: 0 auto;
    }

    &:before {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      height: 100%;
      background: $progress-bar-before;
      background: linear-gradient(
        80deg,
        $progress-bar-gradient-01 0%,
        $progress-bar-gradient-02 100%
      );
    }

    &.progress-state-0 {
      &:before {
        width: 0;
      }
    }

    &.progress-state-1 {
      &:before {
        width: 25%;
      }
    }

    &.progress-state-2 {
      &:before {
        width: 50%;
      }
    }

    &.progress-state-3 {
      &:before {
        width: 75%;
      }
    }

    &.progress-state-4 {
      &:before {
        width: 100%;
      }
    }

    .progress-block {
      flex-grow: 1;
      border: 1px solid $progress-color-light;
      height: 20px;
      z-index: 1;
      background: transparent;
    }
  }
}

body.dark {
  .profile-page .profile-left .main-content-wrapper a {
    color: $dark-highlightColor;
  }

  .profile-page .profile-left .account-wrapper .logout-wrapper .logout:hover {
    background-color: $dark-buttonHoverColor;
  }

  .profile-page .profile-left .main-content-wrapper a.button-static {
    color: $buttonTextColor;
  }

  .profile-page .profile-left .main-content-wrapper,
  .profile-page .profile-right .progress-wrapper,
  .profile-page .profile-right .education-wrapper {
    background-color: $dark-inputBackgroundColor !important;
  }

  .profile-page .profile-left .pre-launch-container h2,
  .profile-page .profile-left .main-content-wrapper p,
  .profile-page .profile-left .main-content-wrapper h3,
  .profile-page .profile-left .main-content-wrapper h4 {
    color: $dark-headlineColor !important;
  }

  .profile-page .profile-right .progress-wrapper p {
    color: $light-textColor !important;
  }

  .profile-page .progress-bar {
    background: $dark-backgroundColor !important;
    border: 2px solid $dark-backgroundColor !important;
  }

  .profile-page .progress-bar .progress-block {
    border: 2px solid $dark-backgroundColor !important;
  }

  .profile-page .profile-right .progress-wrapper .education-section a,
  .profile-page .profile-right .education-wrapper .education-section a {
    color: $labelColor !important;
  }

  .education-section h5 {
    color: $dark-textColor !important;
  }

  #winner-code {
    background-color: $winner-background-dark !important;
    color: $winner-color-dark !important;
  }

  .profile-page
    .profile-left
    .main-content-wrapper
    .legend-container
    .icon-box
    .spammy-box,
  .timeline-date .spammy-box,
  .profile-page .profile-left .timeline-wrapper .pr-icon .spammy-box {
    background-image: asset-url("icon-dark-ineligible.svg") !important;
  }

  .profile-page
    .profile-left
    .main-content-wrapper
    .legend-container
    .icon-box
    .eligible-box,
  .timeline-date .eligible-box,
  .profile-page .profile-left .timeline-wrapper .pr-icon .eligible-box {
    background-image: asset-url("icon-dark-eligible.svg") !important;
  }

  .profile-page
    .profile-left
    .main-content-wrapper
    .legend-container
    .icon-box
    .bonus-box,
  .timeline-date .bonus-box,
  .profile-page .profile-left .timeline-wrapper .pr-icon .bonus-box,
  .profile-page .profile-right .icon-box.bonus-wrapper .bonus-box {
    background-image: asset-url("icon-dark-bonus.svg") !important;
  }

  .profile-page
    .profile-left
    .main-content-wrapper
    .legend-container
    .icon-box
    .invalid-box,
  .timeline-date .invalid-box,
  .profile-page .profile-left .timeline-wrapper .pr-icon .invalid-box {
    background-image: asset-url("icon-dark-invalid.svg") !important;
  }

  .profile-page
    .profile-left
    .main-content-wrapper
    .legend-container
    .icon-box
    .pending-box,
  .timeline-date .pending-box,
  .profile-page .profile-left .timeline-wrapper .pr-icon .pending-box {
    background-image: asset-url("icon-dark-pending.svg") !important;
  }

  .profile-page .profile-right .icon-box.bonus-wrapper span {
    color: $dark-textColor !important;
  }

  .profile-page .profile-right .pr-score {
    color: $buttonTextColor !important;
  }

  .profile-page
    .profile-left
    .main-content-wrapper
    .legend-container
    .icon-name-desc
    .icon-name,
  .profile-page
    .profile-left
    .main-content-wrapper
    .legend-container
    .icon-name-desc
    .icon-desc,
  .profile-page .profile-left .timeline-wrapper .pr-time-title .pr-title,
  .profile-page .profile-left .timeline-wrapper .pr-waiting span.count-down {
    color: $dark-socialTextColor !important;
  }

  .profile-page .profile-left .timeline-wrapper .pr-waiting span.mature {
    color: $dark-textColor !important;
  }

  .profile-page .profile-left .winning-msg-cont .winning-desc {
    color: $dark-headlineColor !important;
  }
}

@media screen and (max-width: $break-small) {
  .profile-page .profile-left,
  .profile-page .profile-right {
    padding: 0 20px;
    width: 100%;
  }

  .profile-page {
    padding-left: 0;
  }

  .profile-page .profile-left {
    margin-right: 0;
  }

  .profile-page .profile-left .progress-wrapper.mobile {
    display: block;
  }

  .profile-page .profile-right .progress-wrapper.desktop {
    display: none;
  }
}

@media screen and (max-width: $break-mobile) {
  .profile-page
    .profile-left
    .congratulations-txt
    .congrats-wrapper
    .congrats-text {
    width: 100%;
    margin-right: 0;
  }

  .profile-page
    .profile-left
    .congratulations-txt
    .congrats-wrapper
    .parrot-image {
    display: none;
  }

  .profile-page .profile-left .account-wrapper {
    display: block;
  }

  .profile-page .profile-left .account-wrapper .logout-wrapper {
    position: relative;
    display: block;
    margin: 20px 0;
  }

  .profile-page .profile-left .account-wrapper {
    display: block;
  }
}
