.profile-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding-left: 20px;
  min-height: 73vh;

  .profile-left {
    width: 65%;
    margin-right: 5%;
    text-align: center;
    
    .main-content-wrapper {
      background-color: $light-backgroundColor;
      box-shadow: 0px 5.2029px 20.8116px rgba(24, 61, 93, 0.08);
      margin-bottom: 30px;
      padding: 30px;
      width: 100%;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      -khtml-border-radius: 8px;
      border-radius: 8px;

      p, h1, h3, h4 {
        color: $light-headlineColor;
      }

      a.button-static {
        color: $buttonTextColor;
      }

      a.button-static:hover {
        text-decoration: none;
      }

      a {
        color: $labelColor;
      }

      a:hover {
        text-decoration: underline;
      }

      a.button {
        color: $buttonTextColor;
      }

      a.button:hover {
        text-decoration: none;
      }

      #winner-code {
        font-size: $size-winner-text;
        background-color: $progress-color-light;
        border: none;
        color: $light-headlineColor;
        width: 25vw;
        padding: 10px;
        margin-right: 20px;
      }

      .legend-container {
        text-align: left;
      }
    }

    .account-wrapper {
      display: flex;
      position: relative;
      text-align: left;

      .avatar {
        display: inline-block;

        .image {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }

      .username {
        display: inline-block;
        font-size: $size-3;
        line-height: 29px;
        color: white;
        padding-left: 25px;
        font-weight: 900;
      }

      .logout-wrapper {
        display: inline-block;
        right: 0;
        position: absolute;

        .logout {
          background-color: $buttonColor;
          color: $light-backgroundColor;
          font-size: $size-button-text;
          padding: 5px 20px;
          -moz-border-radius: 32px;
          -webkit-border-radius: 32px;
          -khtml-border-radius: 32px;
          border-radius: 32px;
        }

        .logout:hover {
          background-color: $labelColor;
          text-decoration: none;
        }
      }
    }

    .pre-launch-container {
      margin-top: 30px;

      h2 {
        color: $light-headlineColor;
        font-size: $size-2;
        font-weight: 900;
        line-height: 39px;
        margin: 44px 0;
        text-align: center;
      }
    }

    .timeline-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .timeline-date {
      margin: 20px 0;

      p {
        margin-top: 0;
      }

      .spammy-box {
        background-image:url('icon-light-ineligible.svg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        display: inline-block;
        width: 32px;
        height: 32px;
      }

      .eligible-box {
        background-image:url('icon-light-eligible.svg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        display: inline-block;
        width: 32px;
        height: 32px;
      }

      .bonus-box {
        background-image:url('icon-light-bonus.svg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        display: inline-block;
        width: 32px;
        height: 32px;
      }

      .invalid-box {
        background-image:url('icon-light-invalid.svg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        display: inline-block;
        width: 32px;
        height: 32px;
      }

      .pending-box {
        background-image:url('icon-light-pending.svg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        display: inline-block;
        width: 32px;
        height: 32px;
      }
    }

    .legend {
      margin: 3rem 0 0;

      @media screen and (max-width: $break-small) {
        padding: 0;
        box-shadow: none;
      }

      h4 {
        margin: 0 0 1.25rem;
      }

      > div {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 .5em;

        .icon-name {
          display: flex;
          flex-direction: row;

          .icon-box {
            padding: 0;
            margin: 0 .5em 0 0;

            .spammy-box {
              background-image:url('icon-light-ineligible.svg');
              background-repeat:no-repeat;
              background-size:contain;
              background-position:center;
              display: inline-block;
              width: 32px;
              height: 32px;
            }

            .eligible-box {
              background-image:url('icon-light-eligible.svg');
              background-repeat:no-repeat;
              background-size:contain;
              background-position:center;
              display: inline-block;
              width: 32px;
              height: 32px;
            }

            .bonus-box {
              background-image:url('icon-light-bonus.svg');
              background-repeat:no-repeat;
              background-size:contain;
              background-position:center;
              display: inline-block;
              width: 32px;
              height: 32px;
            }

            .invalid-box {
              background-image:url('icon-light-invalid.svg');
              background-repeat:no-repeat;
              background-size:contain;
              background-position:center;
              display: inline-block;
              width: 32px;
              height: 32px;
            }

            .pending-box {
              background-image:url('icon-light-pending.svg');
              background-repeat:no-repeat;
              background-size:contain;
              background-position:center;
              display: inline-block;
              width: 32px;
              height: 32px;
            }
          }

          p {
            flex-grow: 1;
            margin: 0;
            font-size: .95em;
          }
        }

        > p {
          margin: .2em 0 .8em;
          font-size: .8em;
        }
      }
    }
  }

  .profile-right {
    width: 28%;

    .side-headers {
      font-weight: 900;
      font-size: $size-button-text;
      line-height: 17px;
      margin-bottom: 24px;
      text-transform: uppercase;
      color: $platinumColor;
    }

    .pr-score {
      font-family: $family-sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: $size-3;
      line-height: 29px;
      letter-spacing: -1px;
      color: $light-inputTextColor;
      margin-bottom: 20px;
    }

    .progress-wrapper, .education-wrapper {
      background-color: $light-backgroundColor;
      box-shadow: 0px 5.2029px 20.8116px rgba(24, 61, 93, 0.08);
      margin-bottom: 30px;
      padding: 30px;
      width: 100%;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      -khtml-border-radius: 8px;
      border-radius: 8px;

      p {
        color: $platinumColor;
        font-size: $size-button-text;
        line-height: 170%;
      }

      h4.progress-header {
        font-weight: 900;
        font-size: $size-button-text;
        line-height: 17px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: $platinumColor;
      }

      .education-section {
        margin-bottom: 16px;
        width: 100%;

        h5 {
          font-weight: bold;
          font-size: $size-button-text;
          line-height: 170%;
          color: $light-tableBorderColor;
        }

        svg {
          display: inline-block;
          vertical-align: middle;
        }

        ul {
          li {
            list-style-type: disc;
            margin-left: 20px;
          }
        }

        a {
          color: $buttonColor;
          display: block;
          font-size: $size-button-text;
          font-weight: normal;
        }

        a.inline {
          display: inline-block;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .progress-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    background: $progress-color-light;
    width: 330px;
    max-width: 100%;
    border: 2px solid $progress-color-light;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;

    @media screen and (max-width: $break-small) {
      margin: 0 auto;
    }

    &:before {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      height: 100%;
      background: $progress-bar-before;
      background: linear-gradient(80deg, $progress-bar-gradient-01 0%, $progress-bar-gradient-02 100%);
    }

    &.progress-state-0 {
      &:before {
        width: 0;
      }
    }

    &.progress-state-1 {
      &:before {
        width: 25%;
      }
    }

    &.progress-state-2 {
      &:before {
        width: 50%;
      }
    }

    &.progress-state-3 {
      &:before {
        width: 75%;
      }
    }

    &.progress-state-4 {
      &:before {
        width: 100%;
      }
    }

    .progress-block {
      flex-grow: 1;
      border: 1px solid $progress-color-light;
      height: 20px;
      z-index: 1;
      background: transparent;
    }
  }
}

body.dark {
  .profile-page .profile-left .main-content-wrapper, .profile-page .profile-right .progress-wrapper, .profile-page .profile-right .education-wrapper {
    background-color: $dark-inputBackgroundColor !important;
  }

  .profile-page .profile-left .pre-launch-container h2, .profile-page .profile-left .main-content-wrapper p, .profile-page .profile-left .main-content-wrapper h3, .profile-page .profile-left .main-content-wrapper h4 {
    color: $dark-headlineColor !important;
  }

  .profile-page .profile-right .progress-wrapper p {
    color: $light-textColor !important;
  }

  .profile-page .progress-bar {
    background: $dark-backgroundColor !important;
    border: 2px solid $dark-backgroundColor !important;
  }

  .profile-page .progress-bar .progress-block {
    border: 2px solid $dark-backgroundColor !important;
  }

  .profile-page .profile-right .progress-wrapper .education-section a, .profile-page .profile-right .education-wrapper .education-section a {
    color: $labelColor !important;
  }

  #winner-code {
    background-color: $winner-background-dark !important;
    color: $winner-color-dark !important;
  }

  .profile-page .profile-left .legend > div .icon-name .icon-box .spammy-box, .timeline-date .spammy-box {
    background-image:url('icon-dark-ineligible.svg') !important;
  }

  .profile-page .profile-left .legend > div .icon-name .icon-box .eligible-box, .timeline-date .eligible-box {
    background-image:url('icon-dark-eligible.svg') !important;
  }

  .profile-page .profile-left .legend > div .icon-name .icon-box .bonus-box, .timeline-date .bonus-box {
    background-image:url('icon-dark-bonus.svg') !important;
  }

  .profile-page .profile-left .legend > div .icon-name .icon-box .invalid-box, .timeline-date .invalid-box {
    background-image:url('icon-dark-invalid.svg') !important;
  }

  .profile-page .profile-left .legend > div .icon-name .icon-box .pending-box, .timeline-date .pending-box {
    background-image:url('icon-dark-pending.svg') !important;
  }

  .profile-page .profile-right .pr-score {
    color: $buttonTextColor !important;
  }
}

@media screen and (max-width: $break-small) {
  .profile-page .profile-left, .profile-page .profile-right {
    padding: 0 20px;
    width: 100%;
  }

  .profile-page {
    padding-left: 0;
  }

  .profile-page .profile-left {
    margin-right: 0;
  }
}
