section.reg-content {
  .registration-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    h1 {
      color: $light-headlineColor;
      font-family: $title-family;
      font-size: $size-1;
      font-weight: 900;
      line-height: 44px;
    }

    .registration-left {
      width: 50%;
      margin-right: 4%;

      form {
        display: flex;

        > div {
          max-width: 100%;
        }
      }

      .hidden {
        display: none;
      }

      .register-header {
        color: $dark-textColor;
        font-family: $family-sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: $size-button-text;
        line-height: 160%;
        text-transform: uppercase;
      }

      .dropdowns,
      .checkboxes {
        margin: 32px 0;
      }

      a {
        color: $labelColor;
      }

      p {
        color: $light-categoryColor;
      }

      p.error {
        color: $pink;
        font-size: $size-button-text;
      }

      .select {
        margin: 10px 0 0;
        width: 470px;

        select {
          background-color: $light-backgroundColor;
          border: 1px solid $diamondColor;
          border-radius: 3px;
          box-sizing: border-box;
          color: $light-categoryColor;
        }
      }

      .field {
        margin: 0 0 30px;

        .field {
          margin: 0 0 10px;
        }
      }

      .checkboxes {
        .field {
          margin: 0 0 20px;
        }
      }

      label {
        color: $light-categoryColor;
        font-size: 1rem;
      }

      label.checkbox:hover {
        color: $platinumColor;
      }

      label.checkbox {
        color: $light-categoryColor;
      }

      .check-style,
      .check-extra {
        width: 15px;
        height: 15px;
      }

      .submit-btn {
        display: inline-flex;
        flex-direction: row;
        padding: 21px 40px;
        position: static;
        background: $buttonColor;
        border-radius: 48px;
        border: none;
        color: $buttonTextColor;
        text-transform: uppercase;
        font-weight: 600;
        font-size: $size-button-text;
        cursor: pointer;
        margin: 32px 0 8px;

        &:hover {
          background-color: $pink;
        }

        @media screen and (max-width: $break-mobile) {
          display: inline-flex;
        }
      }

      .btn-sml {
        align-items: flex-start;
        background-color: $blue;
        border-color: $blue;
        border-width: 0;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
        color: $buttonTextColor;
        cursor: pointer;
        display: inline-flex;
        font-weight: 900;
        font-size: $size-button-text;
        justify-content: center;
        padding: 19px 77px;
        margin-top: 10px;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        -khtml-border-radius: 30px;
        border-radius: 30px;

        &:hover {
          background-color: $pink;
        } 
      }
    }

    .registration-right {
      width: 45%;
      min-height: 380px;
      display: flex;
      align-items: center;
      justify-content: center;

      .background-img {
        background-image: asset-url(
          "hactoberfest-logo-with-sponsors-light.svg"
        );
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: inline-block;
        width: 100%;
        max-width: 570px;
        height: 100%;
      }
    }
  }
}

body.dark {
  h1 {
    color: $dark-headlineColor !important;
  }

  section.reg-content
    .registration-wrapper
    .registration-right
    .background-img {
    background-image: asset-url(
      "hactoberfest-logo-with-sponsors-dark-v2.svg"
    ) !important;
  }

  section.reg-content .registration-wrapper .registration-left label.checkbox,
  section.reg-content .registration-wrapper .registration-left label,
  section.reg-content .registration-wrapper .registration-left p {
    color: $diamondColor !important;
  }

  section.reg-content .registration-wrapper .registration-left p.error {
    color: $pink !important;
  }

  section.reg-content
    .registration-wrapper
    .registration-left
    label.checkbox:hover {
    color: $buttonTextColor !important;
  }

  section.reg-content .registration-wrapper .registration-left .select select {
    background-color: $dark-boxColor !important;
    color: $dark-headlineColor !important;
    border-color: transparent;
  }
}

@media screen and (max-width: $break-small) {
  section.reg-content .registration-wrapper .registration-right,
  section.reg-content .registration-wrapper .registration-left {
    width: 100%;
  }

  section.reg-content
    .registration-wrapper
    .registration-right
    .background-img {
    margin-top: 60px;
  }
}
