.section.report-form{
  text-align: left;
  padding-top: 10%;
  min-height: 510px;

  .error{
    margin-bottom: 20px;
  }

  .field-body{
    align-items: center;
  }

  .field-label{
    text-align: left;
  }

  input.input{
    margin-top: 0px;
    border-radius: 48px;
    padding: 20px;
  }
}

.report-thank-you{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
