---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"#)($*\"jjklsdf* ()wd223)","variables":{}}'
    headers:
      Authorization:
      - bearer 2495c12927057ce6b908a520bb2d7fb716b63b09
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '5000'
      X-Ratelimit-Reset:
      - '1567029566'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Unexpected end of document"}]}'
  recorded_at: Wed, 28 Aug 2019 20:59:26 GMT
recorded_with: VCR 5.0.0
