---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/raise-dev/hacktoberfest-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_TEST_USER_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1573581674'
      Etag:
      - W/"4d5eaf5442b451b082007cc90953f67a"
      Last-Modified:
      - Fri, 25 Oct 2019 15:21:12 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":211178535,"node_id":"MDEwOlJlcG9zaXRvcnkyMTExNzg1MzU=","name":"hacktoberfest-test","full_name":"raise-dev/hacktoberfest-test","private":false,"owner":{"login":"raise-dev","id":47932424,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ3OTMyNDI0","avatar_url":"https://avatars2.githubusercontent.com/u/47932424?v=4","gravatar_id":"","url":"https://api.github.com/users/raise-dev","html_url":"https://github.com/raise-dev","followers_url":"https://api.github.com/users/raise-dev/followers","following_url":"https://api.github.com/users/raise-dev/following{/other_user}","gists_url":"https://api.github.com/users/raise-dev/gists{/gist_id}","starred_url":"https://api.github.com/users/raise-dev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raise-dev/subscriptions","organizations_url":"https://api.github.com/users/raise-dev/orgs","repos_url":"https://api.github.com/users/raise-dev/repos","events_url":"https://api.github.com/users/raise-dev/events{/privacy}","received_events_url":"https://api.github.com/users/raise-dev/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/raise-dev/hacktoberfest-test","description":"Testing
        PRs","fork":false,"url":"https://api.github.com/repos/raise-dev/hacktoberfest-test","forks_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/forks","keys_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/teams","hooks_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/hooks","issue_events_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/issues/events{/number}","events_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/events","assignees_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/assignees{/user}","branches_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/branches{/branch}","tags_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/tags","blobs_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/statuses/{sha}","languages_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/languages","stargazers_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/stargazers","contributors_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/contributors","subscribers_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/subscribers","subscription_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/subscription","commits_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/contents/{+path}","compare_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/merges","archive_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/downloads","issues_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/issues{/number}","pulls_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/pulls{/number}","milestones_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/milestones{/number}","notifications_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/labels{/name}","releases_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/releases{/id}","deployments_url":"https://api.github.com/repos/raise-dev/hacktoberfest-test/deployments","created_at":"2019-09-26T20:46:04Z","updated_at":"2019-10-25T15:21:12Z","pushed_at":"2019-10-30T15:47:47Z","git_url":"git://github.com/raise-dev/hacktoberfest-test.git","ssh_url":"git@github.com:raise-dev/hacktoberfest-test.git","clone_url":"https://github.com/raise-dev/hacktoberfest-test.git","svn_url":"https://github.com/raise-dev/hacktoberfest-test","homepage":null,"size":22,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":31,"license":{"key":"unlicense","name":"The
        Unlicense","spdx_id":"Unlicense","url":"https://api.github.com/licenses/unlicense","node_id":"MDc6TGljZW5zZTE1"},"forks":0,"open_issues":31,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"organization":{"login":"raise-dev","id":47932424,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ3OTMyNDI0","avatar_url":"https://avatars2.githubusercontent.com/u/47932424?v=4","gravatar_id":"","url":"https://api.github.com/users/raise-dev","html_url":"https://github.com/raise-dev","followers_url":"https://api.github.com/users/raise-dev/followers","following_url":"https://api.github.com/users/raise-dev/following{/other_user}","gists_url":"https://api.github.com/users/raise-dev/gists{/gist_id}","starred_url":"https://api.github.com/users/raise-dev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raise-dev/subscriptions","organizations_url":"https://api.github.com/users/raise-dev/orgs","repos_url":"https://api.github.com/users/raise-dev/repos","events_url":"https://api.github.com/users/raise-dev/events{/privacy}","received_events_url":"https://api.github.com/users/raise-dev/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
  recorded_at: Tue, 12 Nov 2019 17:01:14 GMT
recorded_with: VCR 5.0.0
