<div class="thank-you">
  Thanks for helping us reduce spam!
  <br>
  <a href='/profile'>Back to profile</a>
</div>
<style>
  .thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
