<div class="report-form-container">
  <h1 class="title is-1">Report a repository</h1>
  <br>
  <h3>Thank you for helping Hacktoberfest 2019 reduce spam!</h3>
  <br>
  <div class="form-inner">
    <p class="form-label">Repository url</p><p class="star">*  </p>
    <br>
    <%= form_for :repository, url: reports_path, method: :post do |f| %>
      <%= f.text_field :url, class: "search input", placeholder: 'https://github.com/owner/repo' %>
    <%= f.submit "Submit", class: "button button-small" %>
  <% end %>
  </div>
</div>
