---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  user(login: mkcode) {\n    pullRequests(states:
        OPEN last: 100) {\n      nodes {\n        id\n        title\n        body\n        url\n        createdAt\n        labels(first:
        100) {\n          edges {\n            node {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{}}'
    headers:
      Authorization:
      - bearer bad token
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1567110204'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v4"}'
  recorded_at: Thu, 29 Aug 2019 19:23:24 GMT
recorded_with: VCR 5.0.0
